{% load compress %}
{% load hipeac %}


<script type="text/x-template" id="v-latest-wrapper">
{% verbatim %}
  <div v-if="vision">
    <q-card class="hipeac__card q-my-lg q-pt-sm q-px-sm">
      <q-card-section class="text-center">
        <display-2 class="q-mb-md">{{ vision.title }}</display-2>
        <marked class="catchphrase-first" :text="vision.introduction"></marked>
      </q-card-section>
      <q-tabs no-caps inline-label class="bg-white text-blue-9">
        <q-route-tab exact :to="{name: 'latest'}" icon="book" label="Overview"></q-route-tab>
        <q-route-tab :to="{name: 'articles'}" icon="list" label="Articles"></q-route-tab>
      </q-tabs>
    </q-card>
    <router-view></router-view>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-latest">
{% verbatim %}
  <div v-if="visions">
    <div class="row q-col-gutter-lg">
      <div class="col-12 col-md-8">
        <q-card class="hipeac__card q-pa-sm">
          <q-card-section>
            <!--<q-btn unelevated type="a" :href="vision.download_url" class="float-right" color="primary">Download Vision</q-btn>-->
            <display-4>Summary</display-4>
            <marked :text="vision.summary"></marked>
            <div v-if="vision.public_files.length" class="mt-5">
              <display-4>Related files</display-4>
              <table class="table table-sm">
                <tr v-for="file in vision.public_files" :key="file.id">
                  <td class="sm"><i class="material-icons sm">description</i></td>
                  <td>{{ file.description }}</td>
                  <td class="text-right">
                    <a :href="file.file" target="_blank"><i class="material-icons sm">get_app</i></a>
                  </td>
                </tr>
              </table>
            </div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-12 col-md-4">
        <q-card class="hipeac__card q-pa-sm">
          <q-card-section>
            <display-4>Dimensions</display-4>
            <q-list dense separator>
              <q-item v-for="articles, dimension in groupedArticles" :key="dimension" clickable :to="{name: 'articles', query: {q: dimensionData[dimension].key}}">
                <q-item-section>{{ dimension }}</q-item-section>
                <q-item-section side>
                  <q-chip icon="article" :color="dimensionData[dimension].color" text-color="white" :label="articles.length" />
                </q-item-section>
              </q-item>
            </q-list>
            <p class="text-caption text-grey-8 q-mt-lg">In order to help the reader, instead of having big monolithic chapters, we propose to split the “rationale” part of the document into a coherent set of independent articles grouped by `dimensions`, illustrating or explaining different aspects of the recommendations we propose. We hope it will help and that you will take as much pleasure in reading this new release as we have done in producing it.</p>
          </q-card-section>
        <!--<youtube-embed v-if="vision.youtube_url" :url="vision.youtube_url" :hideInfo="true" class="mb-4"></youtube-embed>-->
        </q-card>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-articles">
{% verbatim %}
  <q-card class="hipeac__card q-pa-lg" v-if="vision && vision.articles.length">
    <hipeac-search-bar v-model="query" placeholder="Search by title, authors, dimension..." :filters="search.filters" class="q-mb-lg" />
    <div class="row q-col-gutter-md">
      <div v-for="item in filteredArticles" :key="item.id" class="col-12 col-md-3">
        <q-card flat bordered class="column full-height">
          <q-card-section class="q-pt-xs">
            <div class="text-overline" :class="'text-' + dimensionData[item.dimension].color">{{ item.dimension }}</div>
            <div class="text-h6 q-mb-sm">{{ item.title }}</div>
            <div class="text-caption text-grey-8">{{ item.authors }}</div>
          </q-card-section>
          <q-space />
          <q-card-section class="text-body2">{{ item.abstract }}</q-card-section>
          <q-separator />
          <q-card-actions>
            <q-btn flat type="a" :href="item.doi_url" target="_blank" color="grey">Download</q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 pr-md-5">
        <a v-if="vision" :href="'https://www.google.com/search?q=%22HiPEAC+Vision+' + vision.year + '%22+-site%3Ahipeac.net+-site%3Atwitter.com'" _target="blank" class="btn btn-sm btn-block btn-outline-secondary text-wrap"><i class="material-icons mr-1">search</i>Find more Vision references in Google</a>
      </div>
      <div class="col-12 col-md-8 ">

      </div>
    </div>
  </q-card>
{% endverbatim %}
</script>
