{% extends '__v3__/layout.html' %}

{% load compress %}
{% load hipeac %}
{% load static %}


{% block head_title %}{{ conference }} - {{ block.super }}{% endblock %}

{% block submenu %}
  <q-toolbar class="container">
    <q-toolbar-title :class="{'q-pl-none': $q.screen.gt.sm}">{{ conference }}</q-toolbar-title>
    <hipeac-submenu-tabs v-if="event" :menu="menu" :checks="{'not_ready': !event.is_ready, 'ready': event.is_ready, 'registration': !!registration, 'not_active': !event.is_active, }" :hashtag="event.hashtag"></hipeac-submenu-tabs>
  </q-toolbar>
{% endblock %}

{% block page %}
  <div id="vars" data-event-id="{{ conference.id }}" data-event-url="{% url 'v1:conference-detail' conference.id %}" data-attendees-url="{% url 'v1:event-attendees' conference.id %}" data-committees-url="{% url 'v1:event-committees' conference.id %}" data-jobs-url="{% url 'v1:conference-jobs' conference.id %}" data-sessions-url="{% url 'v1:event-sessions' conference.id %}" data-registration-url="{% url 'v1:auth-registration-conference-list' %}"></div>
  <router-view></router-view>
  <hipeac-submenu-fabs v-if="event" :menu="menu" :checks="{'not_ready': !event.is_ready, 'ready': event.is_ready, 'registration': !!registration}"></hipeac-submenu-fabs>
{% endblock %}

{% block vue_templates %}
  {% include './v-call-papers.html' with event=conference %}
  {% include './v-call-sessions.html' with event=conference %}
  {% include './v-industry.html' %}
  {% include './v-jobs.html' %}
  {% include './v-program.html' %}
  {% include './v-registration.html' %}
  {% include '../_shared/v-about.html' %}
  {% include '../_shared/v-attendees.html' %}
  {% include '../_shared/v-program-keynotes.html' %}
  {% include '../_shared/v-program-main.html' %}
  {% include '../_shared/v-session.html' %}
  {% include '../_shared/v-venue.html' %}
{% endblock %}

{% block scripts %}
{% compress js file __v3__conference %}
  <script src="{% static '__v3__/js/components/forms.js' %}"></script>
  <script src="{% static '__v3__/js/components/events.js' %}"></script>
  <script src="{% static '__v3__/js/components/jobs.js' %}"></script>
  <script src="{% static '__v3__/js/components/users.js' %}"></script>
  <script src="{% static '__v3__/js/mixins/query.js' %}"></script>
  <script src="{% static '__v3__/js/mixins/registration.js' %}"></script>
  <script src="{% static '__v3__/js/mixins/session.js' %}"></script>
  <script src="{% static '__v3__/js/stores/events.js' %}"></script>
  <script type="text/javascript">
    var AboutView = {
      data: function () {
        return {
          committees: []
        };
      },
      template: '#v-about',
      computed: _.extend(
        Vuex.mapState('events', ['event', 'registration']), {
      }),
      methods: {
        getCommittees: function () {
          var self = this;
          Hipeac.api.request('GET', VARS.committeesUrl).then(function (res) {
            self.committees = Object.freeze(res.data);
          });
        }
      },
      created: function () {
        this.getCommittees();
      }
    };

    var AttendeesView = {
      template: '#v-attendees',
      computed: _.extend(
        Vuex.mapState('events', ['event', 'registration', 'attendees']), {
      }),
      created: function () {
        this.$store.commit('events/getAttendees');
      }
    };

    var CallPapersView = {
      template: '#v-call-papers',
      computed: _.extend(
        Vuex.mapState('events', ['event']), {
      })
    };

    var CallSessionsView = {
      template: '#v-call-sessions',
      computed: _.extend(
        Vuex.mapState('events', ['event']), {
        tutorials: function () {
          if (!this.event.sessions.length) return [];
          return this.event.sessions.filter(function (obj) {
            return obj.type.value == 'Tutorial';
          }).sort(function (a, b) {
            return Hipeac.utils.sortText(a.title, b.title);
          });
        },
        workshops: function () {
          if (!this.event.sessions.length) return [];
          return this.event.sessions.filter(function (obj) {
            return obj.type.value == 'Workshop';
          }).sort(function (a, b) {
            return Hipeac.utils.sortText(a.title, b.title);
          });
        }
      })
    };

    var IndustryView = {
      template: '#v-industry',
      computed: _.extend(
        Vuex.mapState('events', ['event']), {
      })
    };

    var IndustryMainView = {
      template: '#v-industry-main',
      computed: _.extend(
        Vuex.mapState('events', ['event']), {
      })
    };

    var IndustrySponsorshipView = {
      template: '#v-industry-sponsorship',
      computed: _.extend(
        Vuex.mapState('events', ['event']), {
      })
    };

    var JobsView = {
      template: '#v-jobs',
      computed: _.extend(
        Vuex.mapState('events', ['event', 'jobs']), {
      }),
      created: function () {
        this.$store.commit('events/getJobs');
      }
    };

    var ProgramView = {
      template: '#v-program',
      computed: _.extend(
        Vuex.mapState('events', ['event']), {
      }),
      created: function () {
        this.$store.commit('events/getKeynotes');
      }
    };

    var ProgramMainView = {
      template: '#v-program-main',
      computed: _.extend(
        Vuex.mapState('events', ['event', 'keynotes']), {
      })
    };

    var ProgramKeynotesView = {
      template: '#v-program-keynotes',
      computed: _.extend(
        Vuex.mapState('events', ['event', 'keynotes']), {
      })
    };

    var RegistrationView = {
      mixins: [RegistrationMixin],
      template: '#v-registration',
      data: function () {
        return {
          step: 1
        };
      },
      methods: {
        scrollToStep: function (step) {
          this.step = step;
          window.scrollTo(0, 0);
        }
      }
    };

    var SessionView = {
      mixins: [SessionMixin],
      template: '#v-session',
      computed: _.extend(
        Vuex.mapState('events', ['event', 'registration']), {
      })
    };

    var VenueView = {
      template: '#v-venue',
      computed: _.extend(
        Vuex.mapState('events', ['event']), {
      })
    };

    var Router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      linkActiveClass: 'active',
      scrollBehavior: function (to, from) {
        if ((from.name && from.name == 'session') || (to.name && to.name == 'session')) return;
        return {top: 0};
      },
      routes: [
        {
          name: 'about',
          path: '/',
          pathToRegexpOptions: {strict: true},
          component: AboutView
        },
        {
          name: 'attendees',
          path: '/attendees/',
          pathToRegexpOptions: {strict: true},
          component: AttendeesView
        },
        {
          name: 'call-papers',
          path: '/call-for-papers/',
          pathToRegexpOptions: {strict: true},
          component: CallPapersView
        },
        {
          name: 'call-sessions',
          path: '/call/',
          pathToRegexpOptions: {strict: true},
          component: CallSessionsView
        },
        {
          path: '/industry/',
          pathToRegexpOptions: {strict: true},
          component: IndustryView,
          children: [
            {
              name: 'industry',
              path: '',
              pathToRegexpOptions: {strict: true},
              component: IndustryMainView
            },
            {
              name: 'sponsorship',
              path: 'sponsorship/',
              pathToRegexpOptions: {strict: true},
              component: IndustrySponsorshipView
            }
          ]
        },
        {
          name: 'jobs',
          path: '/recruitment/',
          pathToRegexpOptions: {strict: true},
          component: JobsView
        },
        {
          path: '/program/',
          pathToRegexpOptions: {strict: true},
          component: ProgramView,
          children: [
            {
              name: 'keynotes',
              path: 'keynotes/',
              pathToRegexpOptions: {strict: true},
              component: ProgramKeynotesView
            },
            {
              name: 'program',
              path: '',
              pathToRegexpOptions: {strict: true},
              component: ProgramMainView
            },
            {
              name: 'session',
              path: 'sessions/:id/',
              pathToRegexpOptions: {strict: true},
              components: {
                default: ProgramMainView,
                dialog: SessionView
              },
              props: {
                default: true,
                dialog: true
              }
            }
          ]
        },
        {
          name: 'registration',
          path: '/registration/:id?/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationView
        },
        {
          name: 'venue',
          path: '/venue/',
          pathToRegexpOptions: {strict: true},
          component: VenueView
        }
      ]
    });

    var app = Vue.createApp({
      data: {
        menu: [
          {
            label: 'About',
            to: {name: 'about'},
            exact: true
          },
          {
            label: 'Program',
            to: {name: 'program'},
            exact: false,
            check: 'ready'
          },
          {
            label: 'Call for papers',
            to: {name: 'call-papers'},
            exact: true,
            check: 'not_ready'
          },
          {
            label: 'Call for workshops',
            to: {name: 'call-sessions'},
            exact: true,
            check: 'not_ready'
          },
          {
            label: 'Recruitment',
            to: {name: 'jobs'},
            exact: true
          },
          {
            label: 'Venue and travel',
            to: {name: 'venue'},
            exact: true
          },
          {
            label: 'Industry',
            to: {name: 'industry'},
            exact: true,
            check: 'not_active'
          },
          {
            label: 'Attendees',
            to: {name: 'attendees'},
            exact: true,
            check: 'registration'
          },
          {
            label: 'Registration',
            to: {name: 'registration'},
            exact: true,
            icon: 'edit'
          }
        ]
      },
      mixins: [AppMixin],
      computed: _.extend(
        Vuex.mapState('events', ['event', 'registration']), {
      }),
      created: function () {
        this.$q.loading.show();
        this.$store.commit('events/getEvent');
        this.$store.commit('events/getRegistration');
      }
    });
    Hipeac.utils.registerStoreModules(app, [
      HipeacCommonStoreModule,
      HipeacEventStoreModule
    ]);
    Hipeac.utils.registerComponents(app, [
      HipeacCommonComponents,
      HipeacFormComponents,
      HipeacEventComponents,
      HipeacJobComponents,
      HipeacUserComponents
    ]);
    app.use(Router);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
  <script type="application/ld+json">{% spaceless_json %}
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "{{ event }}",
      "organizer": {
        "@type": "Organization",
        "name": "HiPEAC",
        "url": "https://www.hipeac.net/"
      },
      "description": "{{ event.presentation | truncate }}",
      "url": "{{ request.build_absolute_uri }}",
      "startDate": "{{ event.start_date | date:'c' }}",
      "endDate": "{{ event.end_date | date:'c' }}",
      {% if event.images %}"image": "{{ event.images.th }}",{% endif %}
      {% if event.is_virtual %}
        "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
        "location": {
          "@type": "VirtualLocation"
        }
      {% else %}
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "{{ event.city }}",
            "addressCountry": "{{ event.country.code }}"
          }
        }
      {% endif %}
    }
  {% endspaceless_json %}</script>
{% endblock %}
