{% load static %}


<script type="text/x-template" id="v-industry">
{% verbatim %}
  <div v-if="event">
    <q-card class="hipeac__card q-mt-lg q-mb-md">
      <q-tabs no-caps inline-label class="bg-white text-blue-9">
        <q-route-tab :to="{name: 'industry'}" icon="map" label="Industry exhibition & session"></q-route-tab>
        <q-route-tab exact :to="{name: 'sponsorship'}" icon="check" label="Sponsorship"></q-route-tab>
      </q-tabs>
    </q-card>
    <router-view></router-view>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-industry-main">
{% verbatim %}
  <div>
    <q-card class="hipeac__card q-mb-md">
      <div class="catchphrase text-weight-light">
        <p>The HiPEAC conference is an excellent venue for companies large and small to showcase their products and services. Industry participants benefit from a dedicated session and the opportunity to network with key decision makers, experts at the forefront of computing systems research and fellow industry specialists. For anyone looking to locate top-quality candidates, HiPEAC offers a jobs fair, our proven recruitment support and a dedicated STEM Student Day, during which advanced computing students visit industry exhibitors.</p>
        <p>Larger and more impressive every year, the HiPEAC conference industry exhibition is a great way to promote your company to the computing systems community. The most cost-effective way to participate in the exhibition and the HiPEAC industry session is to sponsor the conference. <strong>From as little as €1,500, you can host a booth and get a full conference pass</strong>. Other benefits for sponsors include promotion prior to, during and after the event, and the chance to present at the industry session.</p>
        <!--<p>Alternatively, you can book a booth separately for €{{ event.booth_fee }}. Contact Vicky Wandels for further details: <a href="mailto:vicky.wandels@ugent.be">Vicky.Wandels@UGent.be</a></p>-->
        <!--<download-btn flat href="/media/public/drop-box/hipeac_2020_sponsorship.pdf" title="Download Sponsorship package" class="q-mt-md" />-->
      </div>
    </q-card>
    <div class="row q-col-gutter-md">
      <div class="col-12 col-md-6">
        <q-img src="/media/public/drop-box/industry01b.jpg" class="full-width rounded-borders hipeac-shadow"></q-img>
      </div>
      <div class="col-12 col-md-6">
        <q-img src="/media/public/drop-box/industry02.jpg" class="full-width rounded-borders hipeac-shadow"></q-img>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-industry-sponsorship">
{% verbatim %}
  <div>
    <q-card class="hipeac__card">
      <div class="catchphrase text-weight-light">
        <p>The HiPEAC Conference is the <strong>largest event in computing systems research organized in Europe</strong>, with around 550 participants and 65+ companies represented. The conference programme and wide range of associated events offer a unique opportunity to connect with researchers and engineers from both academia and industry.</p>
      </div>
      <display-sm class="mb-3">Common package offered to all sponsors</display-sm>
      <ul>
        <li>Acknowledgement during the opening and closing presentations, during the social event, on the website, printed material and on-site promotional banners.</li>
        <li>Free booth in the industry exhibition, for the whole duration of the conference. The HiPEAC industry exhibition takes place in the cocktail, lunch and coffee break area, an ideal configuration for networking with participants. It is the ideal venue to launch a new product.</li>
        <li>Specific recruitment meetings can be set up ahead of time or on site. HiPEAC members’ companies usually participate actively in the exhibition, as a way of gaining visibility among the computing systems community and attracting new business (<a href="https://www.hipeac.net/industry/">hipeac.net/industry</a>).
      </ul>
      <p>At your preference, you may choose to target your donation on subsidizing student attendance, or on the participation of women in engineering and minorities. We will be happy to talk about ways to increase the visibility of your company or to discuss recruitment possibilities at the conference.</p>
    </q-card>
    <div class="row q-col-gutter-md q-mt-none q-mb-md">
      <div class="col-12 col-md-6 align-items-stretch">
        <q-card class="hipeac__card full-height">
          <display-5>Platinum sponsors</display-5>
          <display-2 class="text-center">Starting at EUR 10 000</display-2>
          <div class="marked">
            <ul>
              <li>Listed first on the website, printed material, banner, onsite screens, etc.</li>
              <li>Privileged booth location; larger booth and booth options including A/V equipment on request</li>
              <li>Invitation to speak at the industry session(s) (30min talk)</li>
              <li>Six free registrations for technical and non-technical personnel (e.g. recruiters)</li>
              <li>Additional promotional opportunities for enhanced visibility, before, during and after the conference</li>
              <li class="q-mt-md"><strong>Custom options including exclusive provisions for platinum sponsors:</strong>
                <ul>
                  <li>Support the involvement of underrepresented groups in engineering</li>
                  <li>Sponsor student activities: travel grants, gifts for best student presentation, poster award, etc.</li>
                  <li>Opportunity to sponsor the day 1 reception (Monday) or the social event (Tuesday)</li>
                  <li>Video/slideshow before and after presentations</li>
                </ul>
              </li>
              <li><strong>Active support for job and internship posts on the HiPEAC job portal:</strong>
                <ul>
                  <li>Feedback on and improvement of job descriptions and company information</li>
                  <li>Proactively uploading vacancies to the HiPEAC jobs portal from companies’ websites</li>
                  <li>Additional promotion of the jobs through digital media (@hipeac and @hipeacjobs Twitter accounts, LinkedIn company page and publicity mailing to the HiPEAC community)</li>
                  <li>Two options for this active support: conference only or year-round</li>
                </ul>
              </li>
            </ul>
          </div>
        </q-card>
      </div>
      <div class="col-12 col-md-6 align-items-stretch">
        <q-card class="hipeac__card full-height">
          <display-5>Gold sponsors</display-5>
          <display-2 class="text-center">Starting at EUR 5 000</display-2>
          <div class="marked">
            <ul>
              <li>Listed after platinum sponsors on the website, printed material, banner, onsite screens, etc.</li>
              <li>Privileged booth location; complementary larger booth and booth options including A/V equipment on request</li>
              <li>Invitation to speak at the industry session(s) (20min talk)</li>
              <li>Three free registrations for technical and non-technical personnel (e.g. recruiters)</li>
              <li>Additional promotional opportunities for enhanced visibility, before, during and after the conference</li>
              <li class="q-mt-md"><strong>Custom options:</strong>
                <ul>
                  <li>Support the involvement of underrepresented groups in engineering</li>
                  <li>Sponsor student activities: travel grants, gifts for best student presentation, poster award, etc.</li>
                  <li>Video/slideshow before and after presentations.</li>
                </ul>
              </li>
              <li><strong>Active support for job and internship posts on the HiPEAC job portal:</strong>
                <ul>
                  <li>Feedback on and improvement of job descriptions and company information</li>
                  <li>Proactively uploading vacancies to the HiPEAC jobs portal from companies’ websites</li>
                  <li>Additional promotion of the jobs through digital media (@hipeac and @hipeacjobs Twitter accounts, LinkedIn company page and publicity mailing to the HiPEAC community)</li>
                  <li>Two options for this active support: conference only or year-round</li>
                </ul>
              </li>
            </ul>
          </div>
        </q-card>
      </div>
      <div class="col-12 col-md-6 align-items-stretch">
        <q-card class="hipeac__card">
          <display-5>Silver sponsors</display-5>
          <display-2 class="text-center">Starting at EUR 2 500</display-2>
          <div class="marked">
            <ul>
              <li>Listed after gold sponsors on the website, printed material, banner, on-site screens, etc.</li>
              <li>Invitation to speak at the industry session(s) (10min talk)</li>
              <li>Two free registrations for technical and non-technical (e.g. recruiters) personnel</li>
              <li><strong>Silver plus (+€500)</strong>: additional promotion in advance of the conference</li>
            </ul>
          </div>
        </q-card>
      </div>
      <div class="col-12 col-md-6 align-items-stretch">
        <q-card class="hipeac__card q-mt-md">
          <display-5>Bronze sponsors</display-5>
          <display-2 class="text-center">Starting at EUR 1 000</display-2>
          <div class="marked">
            <ul>
              <li>Name and logo on the website, printed material, banner, on-site screens, etc.</li>
              <li>One free registration</li>
            </ul>
          </div>
        </q-card>
      </div>
    </div>
    <div v-if="event && event.sponsors.length" class="col-12 col-md align-items-stretch">
      <q-card class="hipeac__card full-height">
        <display-5 class="q-mb-xl">Conference sponsors</display-5>
        <div class="row items-center q-col-gutter-xl text-center">
          <div v-for="sponsor in event.sponsors" :key="sponsor.id" class="col-6 col-sm-2">
            <a v-if="sponsor.institution && sponsor.institution.images" :href="sponsor.institution.href">
              <img :src="sponsor.institution.images.lg" class="sponsor">
            </a>
            <a v-if="sponsor.project && sponsor.project.images" :href="sponsor.project.href">
              <img :src="sponsor.project.images.lg" class="sponsor">
            </a>
          </div>
        </div>
      </q-card>
    </div>
  </div>
{% endverbatim %}
</script>
