{% load static %}


<script type="text/x-template" id="v-industry">
{% verbatim %}
  <div v-if="event">
    <q-card class="hipeac__card q-mt-lg q-mb-md">
      <q-tabs no-caps inline-label class="bg-white text-blue-9">
        <q-route-tab :to="{name: 'industry'}" icon="map" label="Industry exhibition & session"></q-route-tab>
        <q-route-tab exact :to="{name: 'sponsorship'}" icon="check" label="Sponsorship"></q-route-tab>
      </q-tabs>
    </q-card>
    <router-view></router-view>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-industry-main">
{% verbatim %}
  <div>
    <q-card class="hipeac__card q-mb-md">
      <div class="catchphrase text-weight-light">
        <p>The HiPEAC conference is an excellent venue for companies large and small to showcase their products and services. Industry participants benefit from a dedicated session and the opportunity to network with key decision makers, experts at the forefront of computing systems research and fellow industry specialists. For anyone looking to locate top-quality candidates, HiPEAC offers our proven recruitment support and a dedicated STEM Student Day, during which advanced computing students visit industry exhibitors.</p>
        <p>Larger and more impressive every year, the HiPEAC conference industry exhibition is a great way to promote your company to the computing systems community. The most cost-effective way to participate in the exhibition and the HiPEAC industry session is to sponsor the conference. <strong>From as little as €1,000, you can host a booth and get a full conference pass</strong>, along with promotion prior to and during the event and the chance to present at the industry session.</p>
        <p>Alternatively, you can book a booth separately for €{{ event.booth_fee }}. Contact Vicky Wandels for further details: <a href="mailto:vicky.wandels@ugent.be">Vicky.Wandels@UGent.be</a></p>
        <download-btn href="/media/public/drop-box/hipeac_2020_sponsorship.pdf" title="Download Sponsorship package" class="q-mt-md"></download-btn>
      </div>
    </q-card>
    <div class="row q-col-gutter-md">
      <div class="col-12 col-md-6">
        <q-img src="/media/public/drop-box/industry01.jpg" class="full-width rounded-borders hipeac-shadow"></q-img>
      </div>
      <div class="col-12 col-md-6">
        <q-img src="/media/public/drop-box/industry02.jpg" class="full-width rounded-borders hipeac-shadow"></q-img>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-industry-sponsorship">
{% verbatim %}
  <div>
    <q-card class="hipeac__card">
      <div class="catchphrase text-weight-light">
        <p>The HiPEAC Conference has been the <strong>largest event in computing systems research organized in Europe</strong> in the last years, with 530+ participants and 65+ companies represented. The conference program and large panel of associated events is a unique opportunity to connect with researchers and engineers from both academia and industry.</p>
      </div>
      <display-sm class="mb-3">Common package offered to all sponsors</display-sm>
      <ul>
        <li>Acknowledgment during the opening and closing presentations, and during the social event.</li>
        <li>Free mini-booth at the industry exhibition. A mini-booth is composed of a table, 2-3 chairs and poster panels. The HiPEAC industry exhibit takes place in the cocktail lunch and coffee break area. An ideal configuration to network with prospective interns, employees, partners, and clients. The majority of the HiPEAC member companies are present at the exhibition.</li>
      </ul>
      <p>At your preference, you may choose to target your donation on subsidizing student attendance, or on the participation of women in engineering and minorities. We will be happy to talk about ways to increase the visibility of your company or to discuss recruitment possibilities at the conference.</p>
    </q-card>
    <div class="row q-col-gutter-md q-mt-none q-mb-md">
      <div class="col-12 col-md-6 align-items-stretch">
        <q-card class="hipeac__card full-height">
          <display-5>Gold sponsors</display-5>
          <display-2 class="text-center">Starting at EUR 4 000</display-2>
          <div class="marked">
            <ul>
              <li>Listed in the first group on the website, printed material, banner, on-site screens, etc.</li>
              <li>A/V equipment included in the booth setup (on request)</li>
              <li>Invitation to speak at the industry session (Tuesday, 15-20mn talk)</li>
              <li>Three free registrations for technical and non-technical (e.g., recruiters) personnel</li>
              <li>Eligible as a co-sponsor of student activities: travel grants, prizes, student poster session (Monday), best student presentation</li>
              <li><strong>Custom options available only to gold sponsors:</strong>
                <ul>
                  <li>Complementary donation to support the involvement of women in engineering and minorities</li>
                  <li>Sponsor student activities: travel grants, gifts for best student presentation, poster award, etc.</li>
                  <li>Video/slide-show during lunch and coffee breaks (subject to availability and cost)</li>
                  <li>Sponsor the reception at the student poster session (Monday), starting at €7000</li>
                </ul>
              </li>
            </ul>
          </div>
        </q-card>
      </div>
      <div class="col-12 col-md-6 align-items-stretch">
        <q-card class="hipeac__card">
          <display-5>Silver sponsors</display-5>
          <display-2 class="text-center">Starting at EUR 2 000</display-2>
          <div class="marked">
            <ul>
              <li>Listed in the second group on the website, printed material, banner, on-site screens, etc.</li>
              <li>A/V equipment included in the booth setup (on request)</li>
              <li>Invitation to speak at the industry session (Tuesday, 15-20mn talk)</li>
              <li>Two free registrations for technical and non-technical (e.g., recruiters) personnel</li>
            </ul>
          </div>
        </q-card>
        <q-card class="hipeac__card q-mt-md">
          <display-5>Bronze sponsors</display-5>
          <display-2 class="text-center">Starting at EUR 1 000</display-2>
          <div class="marked">
            <ul>
              <li>Name and logo on the website, printed material, banner, on-site screens, etc.</li>
              <li>Ability to speak at the industry session, if time allows, first come first served (10mn talk)</li>
              <li>One free registration</li>
            </ul>
          </div>
        </q-card>
      </div>
    </div>
    <div v-if="event && event.sponsors.length" class="col-12 col-md align-items-stretch">
      <q-card class="hipeac__card full-height">
        <display-5 class="q-mb-xl">Conference sponsors</display-5>
        <div class="row items-center q-col-gutter-xl text-center">
          <div v-for="sponsor in event.sponsors" :key="sponsor.id" class="col-6 col-sm-2">
            <a v-if="sponsor.institution && sponsor.institution.images" :href="sponsor.institution.href">
              <img :src="sponsor.institution.images.lg" class="sponsor">
            </a>
            <a v-if="sponsor.project && sponsor.project.images" :href="sponsor.project.href">
              <img :src="sponsor.project.images.lg" class="sponsor">
            </a>
          </div>
        </div>
      </q-card>
    </div>
  </div>
{% endverbatim %}
</script>
