<script type="text/x-template" id="{{ id }}">
    <div v-if="visions">
        <display-lg>{{ blck.header }}</display-lg>
        {% verbatim %}
            <div v-for="vision in pastVisions" :key="vision.id" class="hipeac-card">
                <div class="row">
                    <div class="col-4 col-md-3 col-lg-2">
                        <img :src="vision.images[0].image" class="rounded w-100">
                        <a v-if="vision.download_url" :href="vision.download_url" class="btn btn-sm btn-outline-primary btn-block my-4"><i class="material-icons">get_app</i><span class="d-none d-md-inline ml-1">Download</span></a>
                    </div>
                    <div class="col-12 col-md-9 col-lg-10 text-sm">
                        <h5>{{ vision.year }}</h5>
                        <h5 class="display-sm mb-4">{{ vision.title }}</h5>
                        <div v-html="vision.markedSummary" class="marked"></div>
                    </div>
                </div>
            </div>
        {% endverbatim %}
    </div>
</script>
