{% load compress %}
{% load hipeac %}


<script type="text/x-template" id="v-latest-wrapper">
  <div>
    <ul v-if="vision && vision.articles.length" class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a is="router-link" :to="{name: 'latest'}" class="nav-link" exact>
          <icon name="book" class="mr-1"></icon>Overview</a>
      </li>
      <li class="nav-item">
        <a is="router-link" :to="{name: 'articles'}" class="nav-link" exact>
          <icon name="list" class="mr-1"></icon>Articles</a>
      </li>
    </ul>
    <router-view></router-view>
  </div>
</script>

<script type="text/x-template" id="v-latest">
{% verbatim %}
  <div v-if="visions">
    <div class="hipeac-card">
      <div class="row">
        <div class="col-12 col-md-4 pr-md-5">
          <h5 class="mb-3">{{ vision.title }}</h5>
          <marked class="catchphrase-first mb-4" :text="vision.introduction"></marked>
          <div v-if="vision.download_url">
            <a :href="vision.download_url" class="btn btn-sm btn-primary btn-block"><i class="material-icons mr-1">get_app</i>Download the full vision</a>
            <a v-if="vision.articles.length" is="router-link" :to="{name: 'articles'}" class="btn btn-sm btn-block btn-outline-secondary text-wrap"><i class="material-icons mr-1">list</i>List of recommendations</a>
            <a v-if="vision.flyer" :href="vision.flyer" target="_blank" class="btn btn-sm btn-outline-secondary btn-block"><i class="material-icons mr-1">vertical_split</i>See the flyer</a>
            <hr class="my-4">
          </div>
          <youtube-embed v-if="vision.youtube_url" :url="vision.youtube_url" :hideInfo="true" class="mb-4"></youtube-embed>
        </div>
        <div class="col-12 col-md-8">
          <display-sm class="mb-3">Summary</display-sm>
          <marked :text="vision.summary"></marked>
          <div v-if="vision.files.length" class="mt-5">
            <display-sm class="mb-3 mt-5">Related files</display-sm>
            <table class="table table-sm">
              <tr v-for="file in vision.files" :key="file.id">
                <td class="sm"><i class="material-icons sm">description</i></td>
                <td>{{ file.description }}</td>
                <td class="text-right">
                  <a :href="file.file" target="_blank"><i class="material-icons sm">get_app</i></a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else class="row">
    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
      <skeleton-box></skeleton-box>
    </div>
    <div class="col-12 col-md-6 col-lg-8 d-flex align-items-stretch">
      <skeleton-box></skeleton-box>
    </div>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-articles">
{% verbatim %}
  <div class="hipeac-card">
    <div v-if="vision && vision.articles.length" class="row">
      <div class="col-12 col-md-4 pr-md-5">
        <h5 class="mb-3">HiPEAC Vision 2021 recommendations in depth</h5>
        <div class="catchphrase-first mb-4">
          <p>In order to help the reader, instead of having big monolithic chapters, we propose to split the “rationale” part of the document into a coherent set of independent articles, illustrating or explaining different aspects of the recommendations we propose. We hope it will help and that you will take as much pleasure in reading this new release as we have done in producing it.</p>
        </div>
        <hr class="my-4">
        <a v-if="vision" :href="'https://www.google.com/search?q=%22HiPEAC+Vision+' + vision.year + '%22+-site%3Ahipeac.net+-site%3Atwitter.com'" _target="blank" class="btn btn-sm btn-block btn-outline-secondary text-wrap"><i class="material-icons mr-1">search</i>Find more Vision references in Google</a>
      </div>
      <div class="col-12 col-md-8">
        <div v-for="(articles, dimension, idx) in groupedArticles" v-show="idx > 0" class="text-sm">
          <display-sm v-if="dimension" class="mb-3">{{ dimension }}</display-sm>
          <table class="table table-sm">
            <tr v-for="item in articles" :key="item.id">
              <td class="sm"><icon name="description" class="sm"></icon></td>
              <td>{{ item.title }} <small class="text-secondary">{{ item.authors }}</small></td>
              <td class="text-right align-middle pr-0">
                <a :href="item.doi_url" target="_blank" rel="noopener">
                  <i class="material-icons sm">download</i>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>
