{% extends 'layout.html' %}

{% load compress %}
{% load static %}


{% block head_title %}Vision - {{ block.super }}{% endblock %}

{% block subtitle %}{{ flatpage.title }}{% endblock %}

{% block submenu %}
    <li class="nav-item">
        <a is="router-link" :to="{name: 'latest'}" class="nav-link">Latest</a>
    </li>
    <li class="nav-item">
        <a is="router-link" :to="{name: 'archive'}" class="nav-link">Archive</a>
    </li>
{% endblock %}

{% block content %}
    <div id="urls" data-vision-list="{% url 'v1:vision-list' %}" class="container">
        <div is="router-view"></div>
    </div>
{% endblock %}

{% block vue_templates %}
    {% include './v-archive.html' with id='v-archive' %}
    {% include './v-latest.html' with tbs=flatpage.page.tbs %}
{% endblock %}

{% block scripts %}
{% compress js inline %}
    <script>
        var Store = new Vuex.Store({
            state: {
                visions: null
            },
            mutations: {
                fetchVisions: function (state) {
                    ajax().get($('#urls').data('vision-list')).done(function (res) {
                        state.visions = Object.freeze(mapper().visions(res));
                    });
                }
            }
        });

        var ArchiveView = {
            template: '#v-archive',
            computed: _.extend(
                Vuex.mapState(['visions']), {
                pastVisions: function () {
                    return _.rest(this.visions);
                }
            })
        };

        var LatestWrapperView = {
            template: '#v-latest-wrapper'
        };

        var LatestView = {
            template: '#v-latest',
            computed: _.extend(
                Vuex.mapState(['visions']), {
                vision: function () {
                    if (this.visions) { return this.visions[0]; }
                    else { return null; }
                }
            })
        };

        var ForCivilSocietyView = {
            template: '#v-civil-society',
            computed: _.extend(
                Vuex.mapState(['visions']), {
                vision: function () {
                    if (this.visions) { return this.visions[0]; }
                    else { return null; }
                }
            })
        };

        var ForIndustryView = {
            template: '#v-industry',
            computed: _.extend(
                Vuex.mapState(['visions']), {
                vision: function () {
                    if (this.visions) { return this.visions[0]; }
                    else { return null; }
                }
            })
        };

        var ForPolicyMakersView = {
            template: '#v-policy-makers',
            computed: _.extend(
                Vuex.mapState(['visions']), {
                vision: function () {
                    if (this.visions) { return this.visions[0]; }
                    else { return null; }
                }
            })
        };

        var ForStudentsView = {
            template: '#v-students',
            computed: _.extend(
                Vuex.mapState(['visions']), {
                vision: function () {
                    if (this.visions) { return this.visions[0]; }
                    else { return null; }
                }
            })
        };

        var VisionImpactView = {
            template: '#v-impact',
            computed: _.extend(
                Vuex.mapState(['visions']), {
                vision: function () {
                    if (this.visions) { return this.visions[0]; }
                    else { return null; }
                }
            })
        };

        var Router = new VueRouter({
            linkActiveClass: 'active',
            routes: [
                {
                    path: '/',
                    redirect: { name: 'latest' }
                },
                {
                    path: '/latest/',
                    pathToRegexpOptions: {strict: true},
                    component: LatestWrapperView,
                    children: [
                        {
                            name: 'latest',
                            path: '',
                            pathToRegexpOptions: {strict: true},
                            component: LatestView
                        },
                        {
                            name: 'forCivilSociety',
                            path: 'civil-society/',
                            pathToRegexpOptions: {strict: true},
                            component: ForCivilSocietyView
                        },
                        {
                            name: 'forIndustry',
                            path: 'industry/',
                            pathToRegexpOptions: {strict: true},
                            component: ForIndustryView
                        },
                        {
                            name: 'forPolicyMakers',
                            path: 'policy-makers/',
                            pathToRegexpOptions: {strict: true},
                            component: ForPolicyMakersView
                        },
                        {
                            name: 'forStudents',
                            path: 'students/',
                            pathToRegexpOptions: {strict: true},
                            component: ForStudentsView
                        },
                        {
                            name: 'impact',
                            path: 'impact/',
                            pathToRegexpOptions: {strict: true},
                            component: VisionImpactView
                        }
                    ]
                },
                {
                    name: 'archive',
                    path: '/archive/',
                    pathToRegexpOptions: {strict: true},
                    component: ArchiveView
                }
            ]
        });

        new Vue({
            el: '#vue',
            store: Store,
            router: Router,
            beforeCreate: function () {
                if (this.$route.path.substr(-1) != '/') {
                    this.$router.push({'path': this.$route.path + '/'});
                }
            },
            created: function () {
                $.when(
                    this.$store.commit('fetchVisions')
                );
            }
        });
    </script>
{% endcompress %}
{% endblock %}
