{% extends 'layout.html' %}

{% load compress %}
{% load static %}


{% block head_title %}The Network - {{ block.super }}{% endblock %}

{% block subtitle %}{{ flatpage.title }}{% endblock %}

{% block submenu %}
    <li class="nav-item">
        <a is="router-link" :to="{name: 'about'}" class="nav-link" exact>About</a>
    </li>
    <li class="nav-item">
        <a is="router-link" :to="{name: 'members'}" class="nav-link">Members</a>
    </li>
    <li class="nav-item">
        <a is="router-link" :to="{name: 'projects'}" class="nav-link">Projects</a>
    </li>
    <li class="nav-item">
        <a is="router-link" :to="{name: 'researchers'}" class="nav-link">{{ flatpage.page.tbs.about_researchers.header }}</a>
    </li>
    <li class="nav-item">
        <a is="router-link" :to="{name: 'industry'}" class="nav-link">{{ flatpage.page.tbs.about_industry.header }}</a>
    </li>
    <li class="nav-item">
        <a is="router-link" :to="{name: 'students'}" class="nav-link">{{ flatpage.page.tbs.about_students.header }}</a>
    </li>
    <li class="nav-item">
        <a is="router-link" :to="{name: 'innovation'}" class="nav-link">{{ flatpage.page.tbs.about_innovation.header }}</a>
    </li>
{% endblock %}

{% block content %}
    <div id="urls" data-member-list="{% url 'v1:member-list' %}" data-member-affiliates="{% url 'v1:member-affiliates' %}"data-project-list="{% url 'v1:project-list' %}" class="container">
        <div is="router-view"></div>
    </div>
{% endblock %}

{% block vue_templates %}
    {% include './v-about.html' with id='v-about' display=flatpage.content tbs=flatpage.page.tbs %}
    {% include './v-industry.html' with id='v-industry' header=flatpage.page.tbs.about_industry.content benefits=flatpage.page.tbs.industry_benefits get_involved=flatpage.page.tbs.industry_get_involved %}
    {% include './v-innovation.html' with id='v-innovation' header=flatpage.page.tbs.about_innovation.content benefits=flatpage.page.tbs.innovation_benefits get_involved=flatpage.page.tbs.innovation_get_involved %}
    {% include './v-members.html' with id='v-members' %}
    {% include './v-projects.html' with id='v-projects' %}
    {% include './v-researchers.html' with id='v-researchers' header=flatpage.page.tbs.about_researchers.content benefits=flatpage.page.tbs.researchers_benefits get_involved=flatpage.page.tbs.researchers_get_involved %}
    {% include './v-students.html' with id='v-students' header=flatpage.page.tbs.about_students.content benefits=flatpage.page.tbs.students_benefits get_involved=flatpage.page.tbs.students_get_involved %}
{% endblock %}

{% block scripts %}
{% compress js inline %}
    <script>
        var Store = new Vuex.Store({
            state: {
                institutions: null,
                members: [],
                affiliates: [],
                projects: []
            },
            mutations: {
                fetchInstitutions: function (state) {
                    api().getAllInstitutions().done(function (res) {
                        state.institutions = res;
                    });
                },
                fetchMembers: function (state) {
                    ajax().get($('#urls').data('member-list')).done(function (res) {
                        state.members = res;
                    });
                },
                fetchAffiliates: function (state) {
                    ajax().get($('#urls').data('member-affiliates')).done(function (res) {
                        state.affiliates = res;
                    });
                },
                fetchProjects: function (state) {
                    ajax().get($('#urls').data('project-list')).done(function (res) {
                        state.projects = mapper().projects(res);
                    });
                }
            },
            getters: {
                fullMembers: function (state) {
                    if (!state.members || !state.institutions) return [];
                    return mapper().members(state.members, state.institutions);
                }
            }
        });

        var AboutView = {
            template: '#v-about'
        };

        var IndustryView = {
            template: '#v-industry'
        };

        var InnovationView = {
            template: '#v-innovation'
        };

        var MembersView = {
            template: '#v-members',
            data: function () {
                return {
                    filters: {
                        topics: []
                    }
                }
            },
            computed: _.extend(
                Vuex.mapGetters(['fullMembers']), {
            }),
            methods: {
                resetFilters: function () {
                    this.filters.topics = [];
                }
            },
            created: function () {
                $.when(
                    this.$store.commit('fetchInstitutions'),
                    this.$store.commit('fetchMembers'),
                    this.$store.commit('fetchAffiliates')
                );
            }
        };

        var ProjectsView = {
            template: '#v-projects',
            data: function () {
                return {
                    q: '',
                    filters: {
                        topics: []
                    }
                }
            },
            computed: _.extend(
                Vuex.mapState(['projects']), {
                filteredIds: function () {
                    var filters = this.filters;
                    var filteredItems = (!filters.topics.length)
                        ? this.projects
                        : this.projects.filter(function (obj) {
                            return _.intersection(filters.topics, obj.topicIds).length > 0;
                        });

                    return _.pluck(filterMultiple(filteredItems, this.q), 'id');
                },
                topics: function () {
                    return extractTopics(this.projects);
                }
            }),
            methods: {
                updateQuery: function (val) {
                    this.q = val;
                },
                resetFilters: function () {
                    this.filters.topics = [];
                }
            },
            created: function () {
                EventHub.$on('query-changed', this.updateQuery);
                $.when(
                    this.$store.commit('fetchProjects')
                );
            }
        };

        var ResearchersView = {
            template: '#v-researchers'
        };

        var StudentsView = {
            template: '#v-students'
        };

        var Router = new VueRouter({
            linkActiveClass: 'active',
            routes: [
                {
                    name: 'about',
                    path: '/',
                    pathToRegexpOptions: {strict: true},
                    component: AboutView
                },
                {
                    name: 'industry',
                    path: '/industry/',
                    pathToRegexpOptions: {strict: true},
                    component: IndustryView
                },
                {
                    name: 'innovation',
                    path: '/innovation/',
                    pathToRegexpOptions: {strict: true},
                    component: InnovationView
                },
                {
                    name: 'members',
                    path: '/members/',
                    pathToRegexpOptions: {strict: true},
                    component: MembersView
                },
                {
                    name: 'projects',
                    path: '/projects/',
                    pathToRegexpOptions: {strict: true},
                    component: ProjectsView
                },
                {
                    name: 'researchers',
                    path: '/researchers/',
                    pathToRegexpOptions: {strict: true},
                    component: ResearchersView
                },
                {
                    name: 'students',
                    path: '/students/',
                    pathToRegexpOptions: {strict: true},
                    component: StudentsView
                }
            ]
        });

        new Vue({
            el: '#vue',
            store: Store,
            router: Router
        });
    </script>
{% endcompress %}
{% endblock %}
