{% load hipeac %}


<script type="text/x-template" id="{{ id }}">
    <div>
        <display-lg>{{ display }}</display-lg>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="hipeac-card">
                    <catchphrase>{{ blck.header }}</catchphrase>
                    {{ blck.content | markdown }}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8 d-flex align-items-stretch">
                <div class="hipeac-card">
                    <h6>{{ researchers.header }}</h6>
                    <huge-icon>&#xE322;</huge-icon>
                    {{ researchers.content | markdown }}
                    <h6 class="mt-4">{{ industry.header }}</h6>
                    <huge-icon>&#xE7EE;</huge-icon>
                    {{ industry.content | markdown }}
                    <h6 class="mt-4">{{ projects.header }}</h6>
                    <huge-icon>&#xE335;</huge-icon>
                    {{ projects.content | markdown }}
                    <h6 class="mt-4">{{ students.header }}</h6>
                    <huge-icon>&#xE80C;</huge-icon>
                    {{ students.content | markdown }}
                    <h6 class="mt-4">{{ innovation.header }}</h6>
                    <huge-icon>&#xE42E;</huge-icon>
                    {{ innovation.content | markdown }}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="mt-5 col-12 col-md-8">
                <quotes-carousel types="network"></quotes-carousel>
            </div>
        </div>
    </div>
</script>
