{% load hipeac %}


<script type="text/x-template" id="{{ id }}">
    <div>
        <display-lg>{{ display }}</display-lg>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="hipeac-card">
                    <catchphrase class="mb-4">{{ tbs.about.header }}</catchphrase>
                    <div class="marked">{{ tbs.about.content | markdown }}</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8 d-flex align-items-stretch">
                <div class="hipeac-card">
                    <h6>{{ tbs.about_researchers.header }}</h6>
                    <huge-icon>&#xE322;</huge-icon>
                    <div class="marked">{{ tbs.about_researchers.content | markdown }}</div>
                    <h6 class="mt-4">{{ tbs.about_industry.header }}</h6>
                    <huge-icon>&#xE7EE;</huge-icon>
                    <div class="marked">{{ tbs.about_industry.content | markdown }}</div>
                    <h6 class="mt-4">{{ tbs.about_projects.header }}</h6>
                    <huge-icon>&#xE335;</huge-icon>
                    <div class="marked">{{ tbs.about_projects.content | markdown }}</div>
                    <h6 class="mt-4">{{ tbs.about_students.header }}</h6>
                    <huge-icon>&#xE80C;</huge-icon>
                    <div class="marked">{{ tbs.about_students.content | markdown }}</div>
                    <h6 class="mt-4">{{ tbs.about_innovation.header }}</h6>
                    <huge-icon>&#xE42E;</huge-icon>
                    <div class="marked">{{ tbs.about_innovation.content | markdown }}</div>
                </div>
            </div>
        </div>
        <quotes-carousel-row types="network"></quotes-carousel-row>
        <div class="pt-5"><hr class="my-5"></div>
        <div class="row text-sm">
            <div class="col-12">
                <h5 class="display-sm mb-4">Our team</h5>
            </div>
            <div class="col-12 col-lg-2"></div>
            <div class="col-12 col-md-4 col-lg-2 mb-3 pr-lg-4">
                <img src="{{ MEDIA_URL }}{{ tbs.about_team_coordinator.images.first.image }}" class="avatar b lg mb-3">
                <p><strong>{{ tbs.about_team_coordinator.header }}</strong><br><em>Coordinator</em></p>
                {{ tbs.about_team_coordinator.content | markdown }}
            </div>
            <div class="col-12 col-md-4 col-lg-2 mb-3 pr-lg-4">
                <img src="{{ MEDIA_URL }}{{ tbs.about_team_management.images.first.image }}" class="avatar b lg mb-3">
                <p><strong>{{ tbs.about_team_management.header }}</strong><br><em>Project Manager</em></p>
                {{ tbs.about_team_management.content | markdown }}
            </div>
            <div class="col-12 col-md-4 col-lg-2 mb-3 pr-lg-4">
                <img src="{{ MEDIA_URL }}{{ tbs.about_team_recruitment.images.first.image }}" class="avatar b lg mb-3">
                <p><strong>{{ tbs.about_team_recruitment.header }}</strong><br><em>Recruitment Officer</em></p>
                {{ tbs.about_team_recruitment.content | markdown }}
            </div>
            <div class="col-12 col-md-4 col-lg-2 mb-3 pr-lg-4">
                <img src="{{ MEDIA_URL }}{{ tbs.about_team_communication.images.first.image }}" class="avatar b lg mb-3">
                <p><strong>{{ tbs.about_team_communication.header }}</strong><br><em>Communication Officer</em></p>
                {{ tbs.about_team_communication.content | markdown }}
            </div>
            <div class="col-12 col-md-4 col-lg-2 mb-3 pr-lg-4">
                <img src="{{ MEDIA_URL }}{{ tbs.about_team_tech.images.first.image }}" class="avatar b lg mb-3">
                <p><strong>{{ tbs.about_team_tech.header }}</strong><br><em>Technical Officer</em></p>
                {{ tbs.about_team_tech.content | markdown }}
            </div>
        </div>
    </div>
</script>
