{% load hipeac %}
{% load static %}


<script type="text/x-template" id="{{ id }}">
  <div>
    <display-lg>{{ tbs.iab.header }}</display-lg>
    <div class="hipeac-card">
      <div class="marked catchphrase-first">{{ tbs.iab.content | markdown }}</div>
    </div>
    <h5 class="display-sm mb-4">IAB</h5>
    <div class="row text-sm">
      <div class="col-12 col-md-4 col-lg-2 mb-3 pr-lg-4"></div>
      <div class="col-12 col-md-4 col-lg-2 mb-3 pr-lg-4">
        <img src="https://www.hipeac.net/media/public/images/48/14237.jpg" class="avatar b lg mb-3">
        <p><strong>Mary Jane Brouwers</strong><br><em>SIS Ventures</em></p>
        <a href="/~maryjane/" target="_blank" style="color:grey; font-size: 12px;"><i class="q-icon notranslate material-icons" style="font-size: 14px; margin-right:.25rem; vertical-align:middle" aria-hidden="true" role="presentation">shortcut</i>View HiPEAC profile</a>
      </div>
      <div class="col-12 col-md-4 col-lg-2 mb-3 pr-lg-4">
        <img src="https://www.hipeac.net/media/public/images/48/2091.jpg" class="avatar b lg mb-3">
        <p><strong>Philippe Millet</strong><br><em>Nexter</em></p>
        <a href="/~phmillet/" target="_blank" style="color:grey; font-size: 12px;"><i class="q-icon notranslate material-icons" style="font-size: 14px; margin-right:.25rem; vertical-align:middle" aria-hidden="true" role="presentation">shortcut</i>View HiPEAC profile</a>
      </div>
      <div class="col-12 col-md-4 col-lg-2 mb-3 pr-lg-4">
        <img src="https://www.hipeac.net/media/public/images/48/19499.jpg" class="avatar b lg mb-3">
        <p><strong>Martin Matschnig</strong><br><em>Siemens</em></p>
        <a href="/~mmatschnig/" target="_blank" style="color:grey; font-size: 12px;"><i class="q-icon notranslate material-icons" style="font-size: 14px; margin-right:.25rem; vertical-align:middle" aria-hidden="true" role="presentation">shortcut</i>View HiPEAC profile</a>
      </div>
      <div class="col-12 col-md-4 col-lg-2 mb-3 pr-lg-4">
        <img src="https://www.hipeac.net/media/public/drop-box/afonso.jpg" class="avatar b lg mb-3">
        <p><strong>Alfonso Ferreira</strong><br><em>CNRS</em></p>
      </div>
      <div class="col-12 col-md-4 col-lg-2 mb-3 pr-lg-4">
        <img src="https://www.hipeac.net/media/public/images/48/21920.jpg" class="avatar b lg mb-3">
        <p><strong>Bianca Muntean</strong><br><em>Transilvania Digital Innovation Hub</em></p>
        <a href="/~bianca9/" target="_blank" style="color:grey; font-size: 12px;"><i class="q-icon notranslate material-icons" style="font-size: 14px; margin-right:.25rem; vertical-align:middle" aria-hidden="true" role="presentation">shortcut</i>View HiPEAC profile</a>
      </div>
    </div>
  </div>
</script>
