{% load hipeac %}


<script type="text/x-template" id="{{ id }}">
    <div>
        <div class="row mt-5">
            <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="hipeac-card">
                    <a href="mailto:membership@hipeac.net" class="btn btn-sm btn-block btn-primary">Become a Member</a>
                    <hr class="my-4">
                    <catchphrase class="marked">{{ header }}</catchphrase>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8 d-flex align-items-stretch">
                <div class="hipeac-card">
                    <display-sm class="mb-3">{{ benefits.header }}</display-sm>
                    <div class="marked icon-list">{{ benefits.content | markdown }}</div>
                    <display-sm class="mt-4 mb-3">{{ get_involved.header }}</display-sm>
                    <div class="marked">{{ get_involved.content | markdown }}</div>
                </div>
            </div>
        </div>
        <quotes-carousel-row types="industry"></quotes-carousel-row>
    </div>
</script>
