<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="hipeac-card">
                    Industry
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="mt-5 col-12 col-md-8">
                <quotes-carousel types="industry"></quotes-carousel>
            </div>
        </div>
    </div>
{% endverbatim %}
</script>
