[run]
omit =
    *apps.py
    *migrations/*
    *settings/*
    *tests/*
    *migratedata.py
    *urls.py
    *wsgi.py
    manage.py

[report]
exclude_lines =
    def __repr__
    def __str__
    def slug
