[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
boto3 = "*"
carbonize = "*"
celery = "*"
coreapi = "*"
django = "*"
djangorestframework = "*"
django-allauth = "*"
django-anymail = "*"
django-compressor = "*"
django-cors-headers = "*"
django-countries = "*"
django-crispy-forms = "*"
django-dnt = "*"
django-libsass = "*"
django-recaptcha = "*"
django-redis = "*"
django-storages = "*"
django-wkhtmltopdf = "*"
drf-writable-nested = "*"
google-api-python-client = "*"
gunicorn = "*"
lxml = "*"
markdown = "<3"
mysqlclient = "*"
nltk = "*"
pillow = "*"
requests = "*"
sentry-sdk = "*"
tweepy = "*"
whitenoise = "*"

[dev-packages]
django-debug-toolbar = "*"
flake8 = "*"
flake8-mypy = "*"
pytest-cov = "*"
pytest-django = "*"
maya = "*"
model-mommy = "*"
sqlalchemy = "*"
