[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
carbonize = "*"
celery = "==4.4.7"
commonmark = "*"
coreapi = "*"
cssselect = "*"
django = "*"
djangorestframework = "*"
djangorestframework-csv = "*"
django-allauth = "*"
django-anymail = "*"
django-compressor = "*"
django-cors-headers = "*"
django-countries = "*"
django-crispy-forms = "*"
django-dnt = "*"
django-libsass = "*"
django-recaptcha = "*"
django-redis = "*"
drf-writable-nested = "*"
google-cloud-language = "*"
grpcio = "*"
gunicorn = "*"
lxml = "*"
mysqlclient = "*"
pandas = "*"
pillow = "*"
plotly = "*"
pyphen = "*"
requests = "*"
reportlab = "*"
sentry-sdk = "*"
svglib = "*"
twitter = "*"
whitenoise = "*"
zoomus = "*"

[dev-packages]
black = "==19.10b0"
django-debug-toolbar = "*"
flake8 = "*"
flake8-mypy = "*"
maya = "*"
model-bakery = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
