{% extends 'layout.html' %}

{% load compress %}
{% load hipeac %}
{% load static %}


{% block head_title %}{{ event }} - {{ block.super }}{% endblock %}

{% block subtitle %}{{ event }}{% endblock %}

{% block submenu %}
    <li class="nav-item">
        <a is="router-link" :to="{name: 'about'}" class="nav-link" exact>About</a>
    </li>
    <li class="nav-item">
        <a is="router-link" :to="{name: 'schedule'}" class="nav-link">Programme</a>
    </li>
    <li class="nav-item">
        <a is="router-link" :to="{name: 'venue'}" class="nav-link">Venue and travel</a>
    </li>
    {% if user.is_authenticated %}
        <!--<li v-if="user.isRegistered" class="nav-item" v-cloak>
            <a is="router-link" :to="{name: 'attendees'}" class="nav-link">Attendees</a>
        </li>-->
        <li class="nav-item">
            <a is="router-link" :to="{name: 'registration'}" class="nav-link"><i class="material-icons mr-1">edit</i>My registration</a>
        </li>
    {% endif %}
    {% if event.hashtag %}
        <li class="nav-item">
            <a href="https://twitter.com/search?q=%23{{ event.hashtag }}" class="nav-link" target="_blank">
                <span is="twitter-icon"></span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="urls" data-event-url="{% url 'v1:event-detail' event.id %}" data-articles-url="{% url 'v1:event-articles' event.id %}" data-registration-url="{% url 'v1:auth-registration-list' %}" data-registrations-url="{% url 'v1:event-registrations' event.id %}" class="container">
        <!--<div v-cloak v-if="$route.name == 'venue'" class="row">
            <div class="col-12" v-if="event && event.google_mid">
                <div class="hipeac-card">
                    <div class="iframe-container rounded">
                        <iframe :src="'https://www.google.com/maps/d/embed?mid=' + event.google_mid + '&z=13'" class="google-embedded-map"></iframe>
                    </div>
                </div>
            </div>
        </div>-->
        <div is="router-view"></div>
        <div is="router-view" name="modal"></div>
    </div>
{% endblock %}

{% block vue_templates %}
    {% include './v-about.html' with id='v-about' %}
    {% include './v-attendees.html' with id='v-attendees' %}
    {% include './v-registration.html' with id='v-registration' %}
    {% include './v-schedule.html' with id='v-schedule' %}
    {% include './v-session.html' with id='v-session' %}
    {% include './v-venue.html' with id='v-venue' %}
{% endblock %}

{% block scripts %}
{% compress js file event %}
    <script src="{% static 'js/components/v-lists-metadata.js' %}"></script>
    <script>
        var Store = new Vuex.Store({
            state: {
                user: {
                    isAuthenticated: USER_IS_AUTHENTICATED,
                    isRegistered: false
                },
                event: null,
                registrations: []
            },
            mutations: {
                fetchEvent: function (state) {
                    ajax().get($('#urls').data('event-url')).done(function (res) {
                        obj = mapper().events([res])[0];
                        obj.google_mid = (obj.links.google_maps)
                            ? (obj.links.google_maps.match(/id=([^&]+)/)[1] || null)
                            : null;
                        state.event = obj;
                    });
                },
                fetchRegistrations: function (state) {
                    if (!USER_IS_AUTHENTICATED) return;
                    ajax().get($('#urls').data('registrations-url')).done(function (res) {
                        state.user.isRegistered = true;
                        state.registrations = res;
                    });
                }
            }
        });

        var AboutView = {
            template: '#v-about',
            computed: _.extend(
                Vuex.mapState(['user', 'event', 'articles']), {
            })
        };

        var AttendeesView = {
            template: '#v-attendees',
            computed: _.extend(
                Vuex.mapState(['event', 'registrations']), {
            })
        };

        var RegistrationView = {
            template: '#v-registration',
            data: function () {
                return {
                    endpoint: $('#urls').data('registration-url'),
                    registrationIsNew: false,
                    registration: null
                };
            },
            computed: _.extend(
                Vuex.mapState(['user', 'event']), {
                emptySessions: function () {
                    if (!this.registration) return true;
                    return this.registration.sessions.length == 0;
                }
            }),
            methods: {
                fetchRegistration: function () {
                    var self = this;

                    if (!this.event) {
                        setTimeout(function () { self.fetchRegistration(); }, 25);
                        return;
                    };

                    ajax().get(this.endpoint, {event_id: this.event.id}).done(function (res) {
                        if (res.results.length == 1) {
                            self.registrationIsNew = false;
                            self.registration = res.results[0];
                        } else {
                            self.registrationIsNew = true;
                            self.registration = {
                                event: self.event.id,
                                sessions: [],
                                posters: []
                            };
                        }
                    });
                },
                save: function () {
                    var self = this;
                    EventHub.$emit('loading', true);
                    if (this.registrationIsNew) {
                        ajax().post(this.endpoint, this.registration).done(function (res) {
                            self.registration = res;
                            EventHub.$emit('loading', false);
                        });
                    } else {
                        ajax().put(this.registration.url, this.registration).done(function (res) {
                            self.registration = res;
                            EventHub.$emit('loading', false);
                        });
                    }
                },
                addPoster: function () {
                    this.registration.posters.push({
                        'title': '(not set)',
                        'authors': '',
                        'type': 'student',
                    });
                },
                removePoster: function (poster) {
                    this.registration.posters = _.without(this.registration.posters, poster);
                }
            },
            mounted: function () {
                this.fetchRegistration();
            }
        };

        var ScheduleView = {
            template: '#v-schedule',
            computed: _.extend(
                Vuex.mapState(['event']), {
            })
        };

        var SessionModalView = {
            template: '#v-session',
            data: function () {
                return {
                    active: true,
                    session: null
                };
            },
            props: ['sessionId'],
            computed: _.extend(
                Vuex.mapState(['event']), {
            }),
            methods: {
                fetchSession: function () {
                    var self = this;
                    if (this.event) this.session = _.findWhere(this.event.sessions, {id: this.sessionId});
                    api().getSession(this.sessionId).done(function (res) {
                        self.session = mapper().sessions([res])[0];
                    });
                },
                closeModal: function () {
                    $(this.$refs['modal']).modal('hide');
                }
            },
            beforeRouteEnter: function (to, from, next) {
                next(function (self) {
                    $(self.$refs['modal']).on('hide.bs.modal', function (e) {
                        self.$router.push({name: 'schedule', params: {}});
                    }).modal('show');
                });
            },
            beforeRouteLeave (to, from, next) {
                next();
                var modal = $(this.$refs['modal']);
                setTimeout(function () {
                    if (modal.hasClass('show')) modal.modal('hide');
                }, 50);
            },
            mounted: function () {
                this.fetchSession();
            }
        };

        var VenueView = {
            template: '#v-venue',
            computed: _.extend(
                Vuex.mapState(['event']), {
            })
        };

        var Router = new VueRouter({
            linkActiveClass: 'active',
            routes: [
                {
                    name: 'about',
                    path: '/',
                    pathToRegexpOptions: {strict: true},
                    component: AboutView
                },
                {
                    name: 'attendees',
                    path: '/attendees/',
                    pathToRegexpOptions: {strict: true},
                    component: AttendeesView
                },
                {
                    name: 'registration',
                    path: '/registration/',
                    pathToRegexpOptions: {strict: true},
                    component: RegistrationView
                },
                {
                    name: 'schedule',
                    path: '/programme/',
                    pathToRegexpOptions: {strict: true},
                    component: ScheduleView
                },
                {
                    name: 'session',
                    path: '/programme/:sessionId/',
                    pathToRegexpOptions: {strict: true},
                    components: {
                        default: ScheduleView,
                        modal: SessionModalView
                    },
                    props: {
                        modal: true
                    }
                },
                {
                    name: 'venue',
                    path: '/venue/',
                    pathToRegexpOptions: {strict: true},
                    component: VenueView
                }
            ]
        });

        new Vue({
            el: '#vue',
            store: Store,
            router: Router,
            computed: _.extend(
                Vuex.mapState(['user', 'event']), {
            }),
            created: function () {
                $.when(
                    this.$store.commit('fetchEvent'),
                    this.$store.commit('fetchRegistrations')
                );
            }
        });
    </script>
{% endcompress %}
    <script type="application/ld+json">{% spaceless_json %}
        {
            "@context": "http://schema.org",
            "@type": "Event",
            "name": "{{ event }}",
            "url": "{{ request.build_absolute_uri }}",
            "startDate": "{{ event.start_date | date:'c' }}",
            "endDate": "{{ event.end_date | date:'c' }}",
            {% if event.images %}"image": "{{ event.images.th }}",{% endif %}
            "location": {
                "@type": "PostalAddress",
                "addressLocality": "{{ event.city }}",
                "addressCountry": "{{ event.country.name }}"
            }
        }
    {% endspaceless_json %}</script>
{% endblock %}
