{% extends 'conference.html' %}
{% load markdown_deux_tags %}
{% load hipeac_extras %}

{% block title %}Programme - {{ block.super }}{% endblock %}

{% block navigation %}
    <h1 class="light"><i class="fa fa-th"></i> Conference Programme</h1>
    <dl class="tabs">
        <dd class="active"><a href="#"><i class="fa fa-th"></i></a></dd>
        <dd><a href="{% url 'conferences:paper_track' conference.year conference.slug %}">Paper track</a></dd>
        <dd><a href="{% url 'conferences:keynotes' conference.year conference.slug %}">Keynotes</a></dd>
    </dl>
{% endblock %}

{% block content %}
    <div class="row" data-scroll-disabled>
        <div class="large-12 columns show-for-small">
            <div class="android-tabs-container" style="margin-bottom: 24px;">
                <dl class="tabs" data-days-mobile-filter>
                {% for day in days %}
                    <dd><a href="#{{ day|date:'Ymd' }}">Day {{ forloop.counter }}</a></dd>
                {% endfor %}
            </div>
        </div>
        <div class="large-3 medium-6 columns hide-for-small" data-filter>
            <h3>Days</h3>
            {% for day in days %}
                <span class="keep-together"><label class="h2i" for="cbxday{{ day|date:'Ymd' }}e"><input type="checkbox" name="days" id="cbxday{{ day|date:'Ymd' }}e" value="{{ day|date:'Ymd' }}" data-days checked> {{ day|date:'l, N j' }}</label></span><br>
            {% endfor %}
        </div>
        <div class="large-2 medium-6 columns" data-filter data-tracks-filter>
            <h3 class="hide-for-small">Tracks <a href="#" class="right smallest" style="display:none;" data-clear-selection>clear</a></h3>
            {% for track in tracks %}
                <span class="keep-together"><label class="label {% if track.0 == 'PAPERT' %}strong{% endif %}" for="cbxtr{{ track.0 }}e"><input type="checkbox" name="tracks" id="cbxtr{{ track.0 }}e" value="{{ track.0 }}" data-tracks="{{ track.0 }}"> {{ track.1 }}</label>&nbsp;</span>
            {% endfor %}
            <br>
        </div>
        <div class="large-3 medium-12 columns hide-for-small" data-filter>
            <h3>Application Areas <a href="#" class="right smallest" style="display:none;" data-clear-selection>clear</a></h3>
            {% for area in areas %}
                <span class="keep-together"><label class="label" for="cbxaa{{ area.id }}e"><input type="checkbox" name="areas" id="cbxaa{{ area.id }}e" value="aa{{ area.id }}e" data-areas> {{ area }}</label>&nbsp;</span>
            {% endfor %}
            <br>
        </div>
        <div class="large-4 medium-12 columns hide-for-small" data-filter>
            <h3>Topics <a href="#" class="right smallest" style="display:none;" data-clear-selection>clear</a></h3>
            {% for topic in topics %}
                <span class="keep-together"><label class="label" for="cbxt{{ topic.id }}e"><input type="checkbox" name="topics" id="cbxt{{ topic.id }}e" value="t{{ topic.id }}e" data-topics> {{ topic }}</label>&nbsp;</span>
            {% endfor %}
            <br>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% if my_activity_ids|length > 0 %}
                <div class="alert-box warning nomargin strong" style="display:none" data-alert data-my-schedule>
                    You can customize your schedule <a href="{% url 'conferences:register' conference.year conference.slug %}" target="_blank">updating the selection of activities in your registration form</a>.<br>
                    If you want to keep your schedule with you, you can <a href="{% url 'conferences:schedule_custom' conference.year conference.slug %}" target="_blank">download a printable version on PDF</a>.
                </div>
            {% endif %}
            <div class="tabs-content">
            {% for activity in activities %}
                {% ifchanged activity.date %}
                    </div>
                    <div class="schedule-day">
                        <div class="schedule-header" data-day="{{ activity.date|date:'Ymd' }}">
                            <span class="date">{{ activity.date|date:'l, N j' }}</span>
                            <span class="hour first">8</span>
                            <span class="hour">9</span>
                            <span class="hour">10</span>
                            <span class="hour">11</span>
                            <span class="hour">12</span>
                            <span class="hour">13</span>
                            <span class="hour">14</span>
                            <span class="hour">15</span>
                            <span class="hour">16</span>
                            <span class="hour">17</span>
                            <span class="hour">18</span>
                            <span class="hour">19</span>
                            <span class="hour">20</span>
                        </div>
                {% endifchanged %}
                <div class="schedule-row {% for topic in activity.topics.all %}t{{ topic.id }}e {% endfor %} {% for area in activity.areas.all %}aa{{ area.id }}e {% endfor %}" data-day="{{ activity.date|date:'Ymd' }}" data-activity="{{ activity.id }}" data-activity-type="{{ activity.activity_type }}" data-track="{{ activity.track }}" data-favorite="{% if activity.id in my_activity_ids %}true{% else %}false{% endif %}">
                    <div class="title"><p><a class="inherit" href="#" data-reveal-id="dialog-{{ activity.id }}"><strong class="smallest uppercase">{{ activity.activity_type_display }}</strong><br>{{ activity }}</a></p></div>
                    <div class="bar type-{{ activity.activity_type }}" style="left: {{ activity.start_at|calculate_schedule_bar:'8,21,100,272,left' }}px; right: {{ activity.end_at|calculate_schedule_bar:'8,21,100,272,right' }}px;">
                        <strong class="nowrap">{{ activity.start_at|date:'H:i' }}&nbsp;-&nbsp;{{ activity.end_at|date:'H:i' }}</strong><br>
                        <span class="nowrap"><i class="fa fa-map-marker"></i>&nbsp;{{ activity.room.name }}</span>
                    </div>
                    {% include activity.get_dialog_template with activity=activity %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    {% include 'js/scroll.html' %}
    <script>
        $('[data-days], [data-areas], [data-tracks], [data-topics]').change(function () {
            var headers = $('.schedule-header');
            var rows = $('.schedule-row');
            var day_filters = [];
            var track_filters = [];
            var topic_filters = [];
            var area_filters = [];

            var parent = $(this).parents('[data-filter]');

            parent.find('label').each(function () {
                $(this).removeClass('selected');
            });

            if (parent.find('input[type=checkbox]:checked').length > 0) {
                parent.find('[data-clear-selection]').show();
            } else {
                parent.find('[data-clear-selection]').hide();
            }

            $('[data-days]:checked').each(function () {
                day_filters.push('[data-day="' + $(this).val() + '"]');
                $(this).parent().addClass('selected');
            });

            $('[data-tracks]:checked').each(function () {
                track_filters.push('[data-track~="' + $(this).val() + '"]');
                $(this).parent().addClass('selected');
            });

            $('[data-topics]:checked').each(function () {
                topic_filters.push('.' + $(this).val());
                $(this).parent().addClass('selected');
            });

            $('[data-areas]:checked').each(function () {
                area_filters.push('.' + $(this).val());
                $(this).parent().addClass('selected');
            });

            // showhide magic for rows
            if ($('[data-days-mobile-filter]').is(':visible') === false) {
                headers.hide().filter(day_filters.join(',')).show();
            }
            rows = rows.removeClass('even').hide().filter(day_filters.join(','));
            if (track_filters.length > 0) { rows = rows.filter(track_filters.join(',')); }
            if (topic_filters.length > 0) { rows = rows.filter(topic_filters.join(',')); }
            if (area_filters.length > 0) { rows = rows.filter(area_filters.join(',')); }
            rows.show();

            $('.schedule-day').each(function () {
                $(this).find('.schedule-row:visible:even').addClass('even');
            });
        });

        $('[data-clear-selection]').click(function (e) {
            e.preventDefault();
            $(this).parents('[data-filter]').find('input[type=checkbox]:checked').each(function () {
                $(this).click();
            });
        });

        $('[data-days-mobile-filter] a').click(function () {
            var day = $(this).attr('href').split('#')[1];

            $('[data-days-mobile-filter] dd').removeClass('active');
            $(this).parent().addClass('active');

            $('[data-days]').removeAttr('checked');
            $('[data-days][value="' + day + '"]').click();
        });

        $('.schedule-day').each(function () {
            $(this).find('.schedule-row:visible:even').addClass('even');
        });

        // Hash trigs an event
        if (window.location.hash) {
            $('[data-tracks-filter] [data-tracks="'+ window.location.hash.substring(1) +'"]').click();
        }

        if ($('[data-days-mobile-filter]').is(':visible')) {
            $('[data-days-mobile-filter] a:first').click();
        }
    </script>
{% endblock %}
