{% load static %}


<script type="text/x-template" id="{{ id }}">
{% verbatim %}
  <div v-if="event">
    <img v-if="event.images" :src="event.images.lg" class="border border-bottom-0 rounded-top w-100">
    <div class="hipeac-card rounded-0 rounded-bottom">
      <div class="row text-center text-sm text-secondary">
        <div class="col-6 col-md-3 mb-3 mb-md-0">
          <router-link :to="{name: 'program'}" class="d-block inherit">
            <i class="material-icons lg mb-2">today</i><br>
            <strong>{{ event.datesStr }}</strong>
            <i class="material-icons sm ml-1">arrow_forward</i>
          </router-link>
        </div>
        <div v-if="event.is_virtual" class="col-6 col-md-3 mb-3 mb-md-0">
          <router-link :to="{name: 'logistics'}" class="d-block inherit">
            <i class="material-icons lg mb-2">desktop_windows</i><br>
            <strong>Virtual event</strong>
            <i class="material-icons sm ml-1">arrow_forward</i>
          </router-link>
        </div>
        <div v-else class="col-6 col-md-3 mb-3 mb-md-0">
          <router-link :to="{name: 'venue'}" class="d-block inherit">
            <i class="material-icons lg mb-2">location_on</i><br>
            <strong>{{ event.city }}, {{ event.country.name }}</strong>
            <i class="material-icons sm ml-1">arrow_forward</i>
          </router-link>
        </div>
        <div class="col-6 col-md-3">
          <router-link v-if="event.sessions.length" :to="{name: 'program'}" class="d-block inherit">
            <i class="material-icons lg mb-2">category</i><br>
            <strong>{{ event.sessions.length }} sessions</strong>
            <i class="material-icons sm ml-1">arrow_forward</i>
          </router-link>
          <router-link v-else :to="{name: 'call-sessions'}" class="d-block inherit">
            <i class="material-icons lg mb-2">category</i><br>
            <span>Propose a session</span>
            <i class="material-icons sm ml-1">arrow_forward</i>
          </router-link>
        </div>
        <div v-if="event.registrations_count" class="col-6 col-md-3">
          <router-link v-if="user.isRegistered" :to="{name: 'attendees'}" class="d-block inherit">
            <i class="material-icons lg mb-2">people</i><br>
            <strong>
              <span>{{ event.registrations_round }}</span>
              <span v-if="event.registrations_round < event.registrations_count">+</span>
              <span> attendees</span>
            </strong>
            <i class="material-icons sm ml-1">arrow_forward</i>
          </router-link>
          <router-link v-else :to="{name: 'registration'}" class="d-block text-success no-underline">
            <i class="material-icons lg mb-2">edit</i><br>
            <strong>REGISTER</strong>
          </router-link>
        </div>
        <div v-else class="col"></div>
      </div>
      <div v-if="event.presentation">
        <hr class="my-4">
        <marked :text="event.presentation" class="catchphrase-first text-center"></marked>
      </div>
    </div>
    <div v-if="event && event.sponsors.length" class="hipeac-card">
      <ul class="logos">
        <li v-for="sponsor in event.sponsors" :key="sponsor.id">
          <a v-if="sponsor.institution && sponsor.institution.images" :href="sponsor.institution.href">
            <img :src="sponsor.institution.images.sm">
          </a>
          <a v-if="sponsor.project && sponsor.project.images" :href="sponsor.project.href">
            <img :src="sponsor.project.images.sm">
          </a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <article-card v-if="event" title="Event news" :eventId="event.id" :max="10" :show-more="false"></article-card>
        {% endverbatim %}
        {% if event.id == 6802 %}
          <div class="hipeac-card text-sm">
            <display-sm class="mb-3">In memory of Béla Fehér</display-sm>
            <img src="https://www.hipeac.net/media/public/images/32/2658.jpg" class="rounded-circle float-right ml-3 mb-3">
            <p>It is with great sadness that we report the loss of <strong>Béla Fehér</strong>.</p>
            <p>Béla Fehér, Professor of Electrical Engineering at Budapest University of Technology and Economics (BME) was due to be General Chair of the HiPEAC 2021 Conference. He had been a HiPEAC Member since March 2015.</p>
            <p>A student and then staff member of BME, Béla was one of the first researchers in Hungary who started to work with FPGA technology and since then he was the leading researcher at the university and in Hungary in this area. Over the years, he published almost 80 research papers, earned four patents and became a great authority internationally, involved in several international research projects, including JENET (Joint European Network on Embedded Internet Technologies), TETRAMAX (Technology Transfer via Multinational Application Experiments) and BRAINE (Big data pRocessing and Artificial Intelligence at the Network Edge).</p>
            <p>He leaves behind his wife, son and daughter.</p>
          </div>
        {% endif %}
        {% verbatim %}
        <div class="hipeac-card" v-if="user.isRegistered && event.links.google_photos">
          {% endverbatim %}
            <img src="{% static 'images/google-photos.svg' %}" class="float-right logo-photos ml-3">
          {% verbatim %}
          <catchphrase class="mb-0">Share your pictures from this event <a :href="event.links.google_photos">here</a>!</catchphrase>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="hipeac-card text-sm" v-if="committees.length">
          <display-sm class="mb-3">Committees</display-sm>
          <hr>
          <div class="row">
            <div v-for="committee in committees" class="col-12 col-md-6">
              <strong>{{ committee.name }}</strong>
              <ul class="list-unstyled">
                <li v-for="user in committee.members">
                  <span>{{ user.profile.name }}</span>
                  <em v-if="user.profile.institution">, {{ user.profile.institution.short_name }}</em>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div is="videos-row" url="{% endverbatim %}{% url 'v1:event-videos' event_id %}{% verbatim %}"></div>
  </div>
{% endverbatim %}
</script>
