{% load static %}


<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div class="row" v-if="event">
        <div class="col-12 col-md-4">
            <div class="hipeac-card">
                <catchphrase>For {{ event.name }} we will have a small meeting room "{{ event.rooms[slots[0].room].name }}" available for sponsoring companies. You can reserve <span class="text-nowrap">30 minute</span> slots to meet other companies, to discuss with prospective job applicants etc.</catchphrase>
                <p class="mt-3 mb-0">You can reserve a slot on {{ niceDates }}.</p>
                <div v-if="userSlots.length" class="text-sm mt-3">
                    <strong>Your reserved slots</strong>
                    <ul>
                        <li v-for="slot in userSlots" :key="slot.id">{{ slot.niceDate }}, {{ slot.startAt }} to {{ slot.endAt }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="hipeac-card">
                <table class="table table-sm text-sm">
                    <tr>
                        <th>Day</th>
                        <th></th>
                    </tr>
                    <tr v-for="slot in slots" :key="slot.id">
                        <td>{{ slot.niceDate }}<br>From {{ slot.startAt }} to {{ slot.endAt }}</td>
                        <td class="text-right pt-2">
                            <span v-if="slot.reserved_by && userSlotIds.indexOf(slot.id) > -1">
                                <button disabled class="btn btn-sm btn-success"><icon name="check" class="sm mr-1"></icon>Reserved for you</button>
                                <button @click="free(slot)" class="btn btn-sm btn-outline-secondary ml-2"><icon name="close" class="sm mr-1"></icon>Free slot</button>
                            </span>
                            <button v-else-if="slot.reserved_by" disabled class="btn btn-sm btn-warning"><icon name="info" class="sm mr-1"></icon>Reserved</button>
                            <button v-else @click="reserve(slot)" class="btn btn-sm btn-outline-secondary">Reserve slot</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endverbatim %}
</script>
