<script type="text/x-template" id="{{ id }}">
  <div>
    <div class="row">
      <div class="col-12">
        <div class="hipeac-card">
          <div v-if="event.id == 6802" class="row">
            <div class="col-12 col-md-6 d-flex align-items-stretch">
              <catchphrase>Delegates from the sponsoring organisations whose current job vacancies are shown below will be at #HiPEAC21. On Tuesday, 19th January, during the job fair, you'll have the opportunity to meet and talk with research groups and companies looking for skilled students and specialist researchers like you!</catchphrase>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-stretch">
              <p class="m-0">The job fair will be made using an online software called Brazen, where all the delegates will have access to the participants' information and CV's. If you are looking for fresh opportunities make sure to register! HiPEAC Jobs will also have a booth to help you with anything you need!
            </div>
          </div>
          <div v-else class="row">
            <div class="col-12 col-md-6 d-flex align-items-stretch">
              <catchphrase>Delegates from the sponsoring organisations whose current job vacancies are <strong>shown below will be at the <span v-if="event.is_virtual"> virtual</span> #{{ hashtag }} fair</strong>. This is your opportunity to meet and talk with research groups and companies looking for skilled and specialist researchers like you.</catchphrase>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-stretch">
              <p class="m-0"><span v-if="!event.is_virtual">This event will give all delegates multiple opportunities for networking in the form of evening receptions, exhibition sessions and lunch and coffee breaks. Registered delegates can also see the names and contact details of all other delegates on the 'Attendees' tab. </span>The HiPEAC Jobs service will be present throughout the event to share details of all the vacancies currently advertised though the network and to help put recruiters and researchers in touch.</p>
              Delegates from the sponsoring organisations whose current job vacancies are shown below will be at #HiPEAC21. On Tuesday, 19th January, during the JobFair, you'll have the opportunity to meet and talk with research groups and companies looking for skilled students and specialist researchers like you!
            </div>
          </div>
        </div>
      </div>
    </div>
    <job-cards v-if="jobs.length" :items="jobs" :ids="ids"></job-cards>
    <skeleton-cards v-else></skeleton-cards>
  </div>
</script>
