<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div class="row">
        <ul v-if="event" class="col-12">
            <div class="hipeac-card">
                <table class="table table-sm">
                    <tbody>
                        <tr v-for="session in event.sessions" :key="session.id" :session="session">
                            <td>
                                <router-link :to="{name: 'session', params: {sessionId: session.id}}">{{ session.title }}</router-link>
                            </td>
                            <td class="text-nowrap">
                                <small>{{ session.date | moment }}, {{ session.startAt }}</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ul>
    </div>
{% endverbatim %}
</script>
