<script type="text/x-template" id="{{ id }}">
  <div v-if="!user.isAuthenticated" class="text-center">
    <display-lg>You need to log in to your HiPEAC account to register for an event.</display-lg>
    <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-outline-primary">Log in</a>
  </div>
{% verbatim %}
  <div v-else>
    <div v-if="registration && event">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
          <div class="hipeac-card text-sm">
            <catchphrase>{{ event.name }}<br>{{ event.datesStr }}</catchphrase>
            <hr>
            <div v-if="registration.id">
              <strong>Registration ID:</strong> {{ registration.id }}<br>
              <strong>Created:</strong> {{ registration.created_at | moment('LLL') }}<br>
              <strong>Last updated:</strong> {{ registration.updated_at | moment('LLL') }}<br>
              <hr>
              <strong>Base fee: <span v-if="registration.base_fee == 0">FREE</span><span v-else>EUR {{ registration.base_fee }}</span> ({{ registration.fee_type }})</strong><br>
              <strong>Extras: EUR {{ registration.extra_fees }}</strong>
              <hr>
            </div>
            <div v-if="event.is_open_for_registration && !event.is_virtual">
              <display-sm class="mb-3">Practical information</display-sm>
              <div class="big-checkbox">
                <label>
                  <input type="checkbox" v-model="registration.visa_requested" :disable="registration.visa_requested && registration.visa_sent">
                  <span>I require a visa to attend this event</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-8 d-flex align-items-stretch">
          <div class="hipeac-card">
            <div v-if="event.is_open_for_registration">
              <loading text="Saving..." icon="save" class="float-right mt-2"></loading>
              <button v-if="registrationIsNew" @click.prevent="save" class="btn btn-primary" :disabled="emptySessions">Create new registration</button>
              <button v-else @click.prevent="save" class="btn btn-outline-success" :disabled="emptySessions">Update registration</button>
            </div>
            <p v-if="registration.fee > 0" class="float-right">
              <a v-if="registration.isPaid" :href="registration.payment_href" class="float-right btn btn-outline-primary">
                <span>View payment info</span>
                <icon name="arrow_forward" class="sm ml-2"></icon>
              </a>
              <span v-else>
                <a v-if="!registration.invoice_requested" :href="registration.payment_href" class="float-right btn btn-outline-primary">
                  <span>Proceed with payment</span>
                  <icon name="arrow_forward" class="sm ml-2"></icon>
                </a>
                <button v-else class="float-right btn btn-outline-secondary" disabled>
                  <span>Invoice is being prepared</span>
                  <icon name="receipt" class="sm ml-2"></icon>
                </button>
              </span>
            </p>
            <div v-if="event.is_open_for_registration">
              <hr class="my-4">
              <div v-if="!_.isEmpty(event.fees)">
                <div v-show="registrationIsNew">
                  <display-sm class="mb-3">All-in ticket for 3 days</display-sm>
                  <div class="big-checkbox">
                    <label>
                      <input type="radio" v-model="registration.fee_type" value="regular">
                      <span>Regular </span>
                      <small v-if="event.is_early">(early: <strong>EUR {{ event.fees.early }}</strong>, until {{ event.registration_early_deadline | moment('LLLL') }})</small>
                      <small v-else>(late: EUR {{ event.fees.late }})</small>
                    </label>
                    <label>
                      <input type="radio" v-model="registration.fee_type" value="student">
                      <span>Student </span>
                      <small v-if="event.is_early">(early: <strong>EUR {{ event.fees.early_student }}</strong>, until {{ event.registration_early_deadline | moment('LLLL') }})</small>
                      <small v-else>(late: EUR {{ event.fees.late_student }})</small>
                    </label>
                  </div>
                </div>
                <display-sm class="mt-4 mb-3">Booth in exhibition area</display-sm>
                <table class="table table-sm">
                  <tbody>
                    <tr>
                      <td class="big-checkbox">
                        <label>
                          <input type="checkbox" v-model="registration.with_booth">
                          <span>I want a company/EU project booth</span>
                        </label>
                        <p class="text-sm mt-1 mb-0">Renting a conference booth during one of the poster sessions / exhibits costs EUR {{ event.fees.booth }}. This cost needs to be paid on top of the registration fee of the representatives attending the conference (if you are a HiPEAC Conference sponsor ask for a coupon to cover this costs).</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <display-sm class="mb-3">Present a poster</display-sm>
              <p v-if="!registration.posters.length" class="text-sm">
                <a href @click.prevent="addPoster"><icon name="add" class="sm mr-1"></icon>Click here</a> if you want to present a poster during this event.</p>
              <table v-else class="table table-sm">
                <thead>
                  <tr class="text-sm">
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Type</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="poster in registration.posters">
                    <td class="pl-0">
                      <input v-model="poster.title" class="form-control form-control-sm">
                    </td>
                    <td><input v-model="poster.authors" class="form-control form-control-sm"></td>
                    <td>
                      <select v-model="poster.type" class="form-control form-control-sm">
                        <option value="student">Student poster</option>
                        <option value="industry">Company poster</option>
                        <option value="project">EU Project poster</option>
                      </select>
                    </td>
                    <td><a href @click.prevent="removePoster(poster)" class="text-danger"><icon name="remove_circle" class="sm mt-2"></icon></a></td>
                  </tr>
                </tbody>
                <tfoot>
                  <small><a href @click.prevent="addPoster"><icon name="add" class="sm mr-1"></icon>Present another poster</a></small>
                </tfoot>
              </table>
              <display-sm class="mt-4 mb-3">Choose sessions</display-sm>
              <small v-if="emptySessions" class="d-block text-danger mb-2">Please choose at least one session to attend.</small>
              <table class="table table-sm">
                <tbody>
                  <tr v-for="session in event.sessions" :key="session.id">
                    <td class="big-checkbox">
                      <label>
                        <input type="checkbox" v-model="registration.sessions" :value="session.id">
                        <span class="badge badge-light mr-2">{{ session.type.value }}</span>
                        <span>{{ session.title }}</span>
                      </label>
                    </td>
                    <td class="text-nowrap">
                      <small>{{ session.date | moment }}, {{ session.startAt }}</small>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr class="my-4">
              <loading text="Saving..." icon="save" class="float-right mt-2"></loading>
              <button v-if="registrationIsNew" @click.prevent="save" class="btn btn-primary" :disabled="emptySessions">Create new registration</button>
              <button v-else @click.prevent="save" class="btn btn-outline-success" :disabled="emptySessions">Update registration</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>
