<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div ref="modal" v-if="active" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div v-if="session" class="modal-header bg-light pb-0">
                    <ul class="nav nav-tabs d-flex w-100">
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{name: 'session', params: {sessionId: session.id}}" exact><i class="material-icons mr-2">category</i>{{ session.session_type.value }}</a></router-link>
                        </li>
                        <li v-if="session.program" class="nav-item">
                            <router-link class="nav-link" :to="{name: 'sessionProgram', params: {sessionId: session.id}}" exact>Program</router-link>
                        </li>
                        {% endverbatim %}
                        {% if user.is_authenticated %}
                            <li v-if="user.isRegistered" class="nav-item">
                                <router-link class="nav-link" :to="{name: 'sessionAttendees', params: {sessionId: session.id}}" exact>Attendees</router-link>
                            </li>
                        {% endif %}
                        {% verbatim %}
                        <li class="nav-item pointer ml-auto">
                            <a class="nav-link" @click.prevent="closeModal"><i class="material-icons">close</i></a>
                        </li>
                        <editor-link :url="session.editor_href"></editor-link>
                    </ul>
                </div>
                <div v-if="session" class="modal-body">
                    <display-md class="mt-0 mb-4 text-left">{{ session.title }}</display-md>
                    <router-view></router-view>
                </div>
                <div v-else class="modal-body">
                    <skeleton-content></skeleton-content>
                </div>
            </div>
        </div>
    </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="{{ id }}-main">
{% verbatim %}
    <div v-if="event && session" class="row">
        <div class="col-12 col-md-4 order-md-last">
            <div class="row">
                <div class="col-6 col-md-12">
                    <display-sm class="mb-1">Practical info</display-sm>
                    <ul class="list-unstyled text-sm mb-4">
                        <li><i class="material-icons sm">today</i> {{ session.date | moment }}</li>
                        <li><i class="material-icons sm">schedule</i> {{ session.startAt }} - {{ session.endAt }}</li>
                        <li v-if="event.rooms[session.room]">
                            <i class="material-icons sm">room</i> {{ event.rooms[session.room].name }}</li>
                    </ul>
                    <metadata-badges v-if="session.topics.length" title="Topics" :items="session.topics"></metadata-badges>
                    <metadata-badges v-if="session.application_areas.length" title="Application areas" :items="session.application_areas" color="secondary"></metadata-badges>
                    <div v-if="session.organizers" class="d-none d-md-block mb-4">
                        <display-sm class="mt-3 mb-1">Organizers</display-sm>
                        <marked :text="session.organizers" class="text-sm"></marked>
                    </div>
                </div>
                <div class="col-6 col-md-12">
                    <div v-if="session.projects.length" class="mb-4">
                        <display-sm>Projects involved</display-sm>
                        <a v-for="proj in session.projects_info" :key="proj.image" :href="proj.href" target="_blank" v-if="proj.image">
                            <img :src="proj.image" :title="proj.name" class="mt-3 mr-4">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 pr-md-5 order-md-first">
            <marked v-if="session.summary" :text="session.summary"></marked>
        </div>
    </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="{{ id }}-program">
{% verbatim %}
    <div>
        <marked v-if="session.program" :text="session.program"></marked>
    </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="{{ id }}-attendees">
{% verbatim %}
    <div v-if="user.isRegistered">
        <user-viewer v-if="attendees.length" :users="attendees"></user-viewer>
    </div>
{% endverbatim %}
</script>
