<script type="text/x-template" id="v-about">
{% verbatim %}
  <div v-if="event">
    <q-card class="hipeac__card q-mt-lg">
      <div class="row q-col-gutter-y-lg q-col-gutter-x-xl reverse" :class="{'q-col-gutter-xl': $q.screen.gt.sm}">
        <div class="col-12 col-md-4">
          <q-list separator>
            <q-item v-if="event.is_virtual" class="text-dark">
              <q-item-section avatar><q-icon name="monitor" /></q-item-section>
              <q-item-section>Virtual event</q-item-section>
            </q-item>
            <q-item v-else class="text-dark">
              <q-item-section avatar>
                <country-flag :code="event.country.code"></country-flag>
              </q-item-section>
              <q-item-section>{{ event.city }}, {{ event.country.name }}</q-item-section>
            </q-item>
            <hipeac-highlight-item :to="{name: 'program'}" icon="date_range">{{ event.start.format('MMMM D') }} - {{ event.end.format('D, YYYY') }}</hipeac-highlight-item>
            <hipeac-highlight-item :to="{name: 'program'}" icon="category">{{ event.sessions.length }} sessions</hipeac-highlight-item>
            <hipeac-highlight-item v-if="registration" :to="{name: 'attendees'}" icon="people">
              <span>{{ event.registrations_round }}<span v-if="event.registrations_round < event.registrations_count">+</span> attendees</span>
            </hipeac-highlight-item>
            <hipeac-highlight-item v-if="registration" :to="{name: 'registration'}" icon="fact_check" color="green-7">Registered</hipeac-highlight-item>
            <hipeac-highlight-item v-else-if="event.is_open_for_registration" :to="{name: 'registration'}" icon="fact_check" color="primary">Register</hipeac-highlight-item>
          </q-list>
        </div>
        <div class="col-12 col-md-8">
          <marked :text="event.presentation" class="catchphrase text-h5 text-weight-light"></marked>
        </div>
      </div>
    </q-card>
    <div class="q-mt-md hipeac-shadow">
      <q-img :src="event.images.lg" class="full-width rounded-borders"></q-img>
    </div>
    <div v-if="event.type == 'conference' && event.sponsors" class="row q-col-gutter-md q-mt-none">
      <div v-if="event.sponsors.length" class="col-12 col-md align-items-stretch">
        <q-card class="hipeac__card full-height">
          <display-5 class="q-mb-xl">Sponsors</display-5>
          <div class="row items-center q-col-gutter-xl text-center">
            <div v-for="sponsor in event.sponsors" :key="sponsor.id" class="col-6 col-sm-4">
              <a v-if="sponsor.institution && sponsor.institution.images" :href="sponsor.institution.href">
                <img :src="sponsor.institution.images.lg" class="sponsor">
              </a>
            </div>
          </div>
        </q-card>
      </div>
      <div class="col-12 col-md align-items-stretch">
        <q-card class="hipeac__card">
          <hipeac-committees :committees="committees"></hipeac-committees>
        </q-card>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>
