{% extends 'email.'|add:email_format %}


{% block header %}Your position "{{ job_title }}" has been submitted to the HiPEAC Jobs portal.{% endblock %}

{% block body %}
Dear {{ user_name }},

By using the HiPEAC Jobs service, your vacancy will be advertised:

- On the jobs portal: [hipeac.net/jobs](https://www.hipeac.net/)
- Via the HiPEAC Jobs Twitter: [@hipeacjobs](https://twitter.com/hipeac)
- Via the HiPEAC [LinkedIn page](https://www.linkedin.com/company/hipeac/)
- Via a monthly jobs e-bulletin sent to the HiPEAC mailing list, which contains network members and hundreds of other individuals

We strongly encourage you to actively promote your vacancy on social media / web by sharing/retweeting the HiPEAC Jobs notifications. Using the visibility and profile of the HiPEAC Jobs brand will help you to find the right candidates.

We also suggest to print the offer from the [following link](https://www.hipeac.net{{ job_pdf_url }}) and post it job-board panels of your university or department to maximize its visibility.

Remember that you can always change information related to the vacancy (such as deadline etc.) through the "Manage my job posts" option on the Jobs portal.

Thanks a lot for using the HiPEAC Jobs portal.
{% endblock %}

{% block footer %}HiPEAC Recruitment{% endblock %}
