{% extends 'email.'|add:email_format %}


{% block header %}HiPEAC Jobs {% now 'F Y' %}{% endblock %}

{% block body %}
HiPEAC Jobs rounds up the latest computing jobs in European industry, research centres and universities.
See current opportunities ({{ total }}) and post new ones at [hipeac.net/jobs](https://www.hipeac.net/jobs/)

Looking for a job or know somebody who is? Get new live job postings
via [Twitter](https://twitter.com/hipeacjobs) and [LinkedIn](https://www.linkedin.com/company/hipeac).

Or have a taster with this selection of jobs posted in the last two weeks:

---------------
{% for job in jobs %}
{% if email_format == 'html' and job.institution.image %}<img src="{{ job.institution.images.sm }}" style="float:right; margin:0 0 20px 20px">{% endif %}{% if email_format == 'html' %}<h4 style="margin:0"><strong>{% else %}**{% endif %}"{{ job.title }}"{% if email_format == 'html' %}</strong>{% else %}**{% endif %} @ {{ job.institution }}, {{ job.country.name }}{% if email_format == 'html' %}</h4>{% endif %}

- https://www.hipeac.net/jobs/{{ job.id }}/
- Deadline: {{ job.deadline }}

---------------
{% endfor %}
{% endblock %}

{% block footer %}HiPEAC Recruitment{% endblock %}
