{% extends 'email.'|add:email_format %}


{% block header %}Welcome to the HiPEAC community!{% endblock %}

{% block body %}
Dear {{ user_name }},

It is a pleasure to announce to you that the HiPEAC Steering Committee accepted you as HiPEAC Member. Congratulations and welcome to the HiPEAC community.

**{% if is_registered %}Please update your HiPEAC profile [here](https://www.hipeac.net/accounts/profile/).{% else %}If you are not registered on our website yet, we invite you to register now at [hipeac.net/join](https://www.hipeac.net/join/).{% endif %}**

The goal of the HiPEAC network is to strengthen the European research community in computing systems, by gathering the leading European academic and industrial groups in one virtual center of excellence, collaborating on joint research projects, and shaping the future of computing systems in Europe.

We are looking forward to collaborating with you. As a HiPEAC member, you might want to consider:

- attending one of our forthcoming events: [hipeac.net/events](https://www.hipeac.net/events/)
- sponsoring the conference from €1,000, which gives you a free booth as part of the industry exhibition and an invitation to participate in the industry workshop
- submitting an internship proposal for a HiPEAC-funded internship of around three months, or uploading career opportunities to the [HiPEAC Jobs portal](https://www.hipeac.net/jobs/)
- contributing to the [HiPEAC Magazine](https://www.hipeac.net/magazine/): please get in touch with <communication@hipeac.net> if you have announcements of research results, product launches or anything else which might interest the HiPEAC community

We warmly welcome you to our community.

Yours sincerely,  
Rainer Leupers, Membership Coordinator  
Koen De Bosschere, HiPEAC Coordinator
{% endblock %}

{% block footer %}HiPEAC, European Network on High Performance and Embedded Architecture and Compilation{% endblock %}
