{% extends '__v3__/layout.html' %}

{% load compress %}
{% load hipeac %}
{% load static %}


{% block head_title %}{{ jobfair }} - {{ block.super }}{% endblock %}

{% block submenu %}
  <q-toolbar class="container">
    <q-toolbar-title :class="{'q-pl-none': $q.screen.gt.sm}">{{ jobfair }} job fair</q-toolbar-title>
    <hipeac-submenu-tabs v-if="fair" :menu="menu" :checks="{'is_recruiter': is_recruiter}"></hipeac-submenu-tabs>
    <editor-link type="btn" url="{{ jobfair.get_editor_url }}" target="_blank"></editor-link>
  </q-toolbar>
{% endblock %}

{% block page %}
  <div id="vars" data-fair-id="{{ jobfair.id }}" data-fair-url="{% url 'v1:jobfair-detail' jobfair.id %}" data-applicants-url="{% url 'v1:jobfair-applicants' jobfair.id %}" data-jobs-url="{% url 'v1:jobfair-jobs' jobfair.id %}" data-registration-url="{% url 'v1:auth-registration-jobfair-list' %}"></div>
  <router-view></router-view>
  <hipeac-submenu-fabs v-if="fair" :menu="menu" :checks="{'is_recruiter': is_recruiter}"></hipeac-submenu-fabs>
{% endblock %}

{% block vue_templates %}
  {% include './v-about.html' %}
  {% include './v-applicants.html' %}
  {% include './v-jobs.html' %}
  {% include './v-registration.html' %}
{% endblock %}

{% block scripts %}
{% compress js file __v3__conference %}
  <script src="{% static '__v3__/js/components/forms.js' %}"></script>
  <script src="{% static '__v3__/js/components/jobs.js' %}"></script>
  <script src="{% static '__v3__/js/components/users.js' %}"></script>
  <script src="{% static '__v3__/js/mixins/query.js' %}"></script>
  <script src="{% static '__v3__/js/mixins/profile.js' %}"></script>
  <script src="{% static '__v3__/js/mixins/uploader.js' %}"></script>
  <script src="{% static '__v3__/js/stores/user.js' %}"></script>
  <script type="text/javascript">
    var VARS = document.querySelector('#vars').dataset;

    var AppStoreModule = {
      app: {
        namespaced: true,
        state: {
          fair: null,
          jobs: [],
          registration: null,
          recruitment_data: null,
          is_recruiter: false
        },
        mutations: {
          getFair: function (state) {
            Hipeac.api.request('GET', VARS.fairUrl).then(function (res) {
              state.fair = Object.freeze(Hipeac.map.jobfair(res.data));
              Quasar.Loading.hide();
            });
          },
          getApplicants: function (state) {
            Hipeac.api.request('GET', VARS.applicantsUrl).then(function (res) {
              state.recruitment_data = Object.freeze(res.data);
              state.is_recruiter = true;
            }).catch(function (err) {
              if (err.response.status == 403) {
                state.is_recruiter = false;
              }
            })
          },
          getJobs: function (state) {
            Hipeac.api.request('GET', VARS.jobsUrl).then(function (res) {
              state.jobs = Object.freeze(res.data.map(function (obj) {
                return Hipeac.map.job(obj);
              }));
            });
          },
          getRegistration: function (state) {
            if (!USER_IS_AUTHENTICATED) return;

            Hipeac.api.request('GET', VARS.registrationUrl).then(function (res) {
              var reg = _.findWhere(res.data, {fair: +VARS.fairId});
              state.registration = (reg) ? reg : null;
            });
          },
          updateRegistration: function (state, payload) {
            state.registration = Hipeac.map.registration(payload);
          }
        }
      }
    };

    var AboutView = {
      template: '#v-about',
      computed: _.extend(
        Vuex.mapState('app', ['fair', 'registration']), {
      }),
    };

    var ApplicantsView = {
      template: '#v-applicants',
      mixins: [QueryMixin],
      data: function () {
        return {
          obj: null,
          table: {
            columns: [
              {
                name: 'country',
              },
              {
                name: 'name',
                field: 'name',
                sortable: true,
                align: 'left',
                label: 'Applicant name'
              },
              {
                name: 'affiliation',
                field: 'affiliation',
                sortable: true,
                align: 'left',
                label: 'Affiliation'
              },
              {
                name: 'email',
                field: 'email',
                sortable: true,
                align: 'left',
                label: 'Email'
              },
              {
                name: 'gender',
                field: 'gender',
                sortable: true,
                align: 'left',
                label: 'Gender'
              },
              {
                name: 'jobs',
                field: 'jobs',
                sortable: true,
                align: 'left',
                label: '# jobs selected'
              },
              {
                name: 'cv',
                field: 'cv',
                sortable: false,
                align: 'left',
                label: 'CV'
              }
            ],
            pagination: {
              rowsPerPage: 25,
              sortBy: 'name',
              descending: true
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState('app', ['fair', 'recruitment_data']), {
        applicants: function () {
          if (!this.recruitment_data) return [];

          var jobs = _.indexBy(this.recruitment_data.jobs, 'id');

          return this.recruitment_data.registrations.map(function (obj) {
            var objobs = obj.jobs.map(function (j) {
              return jobs[j];
            });

            obj = Hipeac.map.user(obj.user);
            obj.cv = obj.profile.cv;
            obj.affiliation = obj.profile.institution ? obj.profile.institution.name : '';
            obj.jobs = objobs;
            return obj;
          });
        }
      }),
      methods: {
        cloneObj: function (obj) {
          this.obj = JSON.parse(JSON.stringify(obj));;
        },
        clearObj: function () {
          this.obj = null;
        }
      },
      created: function () {
        EventEmitter.on('hipeac-editor-hide', this.clearObj);
      },
      beforeUnmount: function () {
        EventEmitter.off('hipeac-editor-hide');
      }
    };

    var JobsView = {
      template: '#v-jobs',
      computed: _.extend(
        Vuex.mapState('app', ['fair', 'jobs', 'registration']), {
      }),
      created: function () {
        this.$store.commit('app/getJobs');
      },
      watch: {
        'registration.jobs': {
          deep: true,
          handler: function (val, oldVal) {
            if (oldVal === null) return;
            if (_.isEqual(val.sort(), oldVal.sort())) return;

            var self = this;
            Hipeac.api.update(this.registration, function (res) {
              self.$store.commit('app/updateRegistration', res.data);
            }, 'Job applications updated.');
          }
        }
      }
    };

    var RegistrationView = {
      mixins: [ProfileMixin, UploaderMixin],
      template: '#v-registration',
      props: ['id'],
      data: function () {
        return {
          showUploader: false,
          authenticated: +(document.querySelector('html').dataset.user) > 0,
          create_url: document.querySelector('#vars').dataset.registrationUrl,
          now: moment(),
          obj: null,
          step: 1,
        };
      },
      computed: _.extend(
        Vuex.mapState('app', ['fair', 'registration']), {
        cvFile: function () {
          if (!this.user) return null;
          return _.find(this.user.profile.files, function (file) {
            return _.contains(file.keywords, "cv");
          });
        },
        cvUrl: function () {
          return (this.cvFile) ? this.cvFile.url : '[none]';
        },
        uploadUrl: function () {
          if (!this.user) return null;
          return '/api/v1/user/account/files/?keyword=cv';
        }
      }),
      methods: {
        removeCvFile: function () {
          var file = this.cvFile;
          var self = this;
          Hipeac.api.remove(file, function (res) {
            self.user.profile.files = _.reject(_.clone(self.user.profile.files), function (f) {
              return f.self == file.self;
            });
          });
          this.update();
        },
        updateObj: function (obj) {
          this.$store.commit('user/replaceUser', obj);
        },
        scrollToStep: function (step) {
          this.step = step;
          window.scrollTo(0, 0);
        },
        createOrUpdate: function () {
          var self = this;

          if (_.has(this.obj, 'self')) {
            Hipeac.api.update(this.obj, function (res) {
              self.$store.commit('app/updateRegistration', res.data);
            }, 'Registration updated.');
          } else {
            Hipeac.api.create(this.create_url, this.obj, function (res) {
              self.$store.commit('app/updateRegistration', res.data);
            }, 'Registration created.');
          }
        },
        sync: function () {
          var self = this;

          if (!this.fair || this.registration === undefined) {
            setTimeout(function () { self.sync() }, 25);
            return;
          }

          if (this.registration) {
            this.obj = _.clone(this.registration);
          } else {
            this.obj = _.clone({
              fair: this.fair.id,
              jobs: []
            });
          }
        }
      },
      watch: {
        'registration': function (val) {
          this.obj = val;
        }
      },
      mounted: function () {
        this.sync();
      }
    };

    var Router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      linkActiveClass: 'active',
      routes: [
        {
          name: 'about',
          path: '/',
          pathToRegexpOptions: {strict: true},
          component: AboutView
        },
        {
          name: 'applicants',
          path: '/applicants/',
          pathToRegexpOptions: {strict: true},
          component: ApplicantsView
        },
        {
          name: 'jobs',
          path: '/recruitment/',
          pathToRegexpOptions: {strict: true},
          component: JobsView
        },
        {
          name: 'registration',
          path: '/registration/:id?/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationView
        },
      ]
    });

    var app = Vue.createApp({
      data: {
        menu: [
          {
            label: 'About',
            to: {name: 'about'},
            exact: true
          },
          {
            label: 'Jobs',
            to: {name: 'jobs'},
            exact: true
          },
          {
            label: 'Registration',
            to: {name: 'registration'},
            exact: true,
            icon: 'fact_check'
          },
          {
            label: 'Applicants',
            to: {name: 'applicants'},
            exact: true,
            icon: 'people',
            check: 'is_recruiter'
          }
        ]
      },
      mixins: [AppMixin],
      computed: _.extend(
        Vuex.mapState('app', ['fair', 'registration', 'is_recruiter']), {
      }),
      created: function () {
        this.$q.loading.show();
        this.$store.commit('app/getFair');
        this.$store.commit('app/getRegistration');
        this.$store.commit('user/getUser');
        this.$store.commit('app/getApplicants');
      }
    });
    Hipeac.utils.registerStoreModules(app, [
      AppStoreModule,
      HipeacCommonStoreModule,
      HipeacUserStoreModule
    ]);
    Hipeac.utils.registerComponents(app, [
      HipeacCommonComponents,
      HipeacFormComponents,
      HipeacJobComponents,
      HipeacUserComponents
    ]);
    app.use(Router);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
