<script type="text/x-template" id="v-registration">
{% verbatim %}
  <div v-if="fair">
    <q-card v-if="!authenticated" class="hipeac__card q-mt-lg">
      <hipeac-please-login msg="You need to log in to your HiPEAC account to register for this job fair." />
    </q-card>
    <div v-else-if="obj" class="row q-col-gutter-md q-mt-sm items-stretch">
      <div class="col-12 col-md-4">
        <q-card v-if="registration" class="hipeac__card full-height">
          <display-2 class="q-mt-none q-mb-lg">My registration</display-2>
          <p class="text-caption">
            <span>Registration ID: {{ registration.uuid }}</span><br>
            <span>Created: {{ registration.created_at }}</span><br>
            <span>Last updated: {{ registration.updated_at }}</span>
            <q-separator class="q-my-lg" />
          </p>
        </q-card>
        <q-card v-else class="hipeac__card full-height">
          <display-2 class="q-mt-none">New registration</display-2>
        </q-card>
      </div>
      <div class="col-12 col-md-8">
        <q-card class="hipeac__card full-height q-pa-sm">

          <q-stepper v-model="step" :keep-alive="true" vertical color="primary" done-color="grey-8" flat :header-nav="registration != null" class="text-body2 q-py-sm">

            <q-step :name="1" icon="how_to_reg" :title="(registration) ? 'Thank you for registering!' : 'Register for the jobs fair'" :done="registration != null" class="q-pb-sm">
              <div v-if="fair.event">
                <p class="text-caption">There are limited available places for the STEM day at {{ fair.name }}. Considered registrations will be based on a First Come First Serve base.</p>
                <q-separator class="q-my-lg" />
              </div>
              <div v-if="!registration">
                <p>Click the button below if you want to register to the {{ fair.name }} job fair. Registering you agree to share your personal information (including your CV) with the companies that participate in this job fair.</p>
                <q-stepper-navigation>
                  <q-btn unelevated color="primary" @click="createOrUpdate" label="Join the fair" />
                </q-stepper-navigation>
              </div>
              <div v-if="registration && user" class="text-body2">
                <p>Please take a moment to update your profile. It is recommended that you update your research topics and add a pdf file with your CV to your profile. We will share this information with the companies participating in the job fair.</p>
                <div class="row q-col-gutter-md q-mt-md q-mb-lg">
                  <q-input filled dense v-model="user.first_name" label="First name *" type="text" hint="Required." :rules="[val => !!val || 'Field is required']" class="col-12 col-sm-4" />
                  <q-input filled dense v-model="user.last_name" label="Last name *" type="text" hint="Required." :rules="[val => !!val || 'Field is required']" class="col-12 col-sm-8" />
                  <hipeac-search-select v-model="user.profile.institution" type="institution" label="Affiliation" class="col-12" />
                  <hipeac-metadata-select v-model="user.profile.gender" type="gender" label="Gender" class="col-12 col-sm-4" />
                  <hipeac-country-select v-model="user.profile.country" label="Country of origin *" class="col-12 col-sm-4" />
                  <hipeac-metadata-rel-select v-model="user.profile.rel_topics" type="topic" label="Main research topics *" class="col-12" hint="Required." />
                  <q-input readonly filled dense v-model="cvUrl" type="text" label="CV" class="col-12" bottom-slots>
                    <template v-slot:append>
                      <q-btn v-if="cvFile" flat size="sm" @click.prevent="removeCvFile" class="q-px-sm">
                        <hipeac-remove-icon></hipeac-remove-icon>
                      </q-btn>
                      <q-btn v-else-if="!showUploader" unelevated size="sm" color="primary" label="Upload" @click.prevent="showUploader = true"></q-btn>
                      <q-btn v-else unelevated size="sm" color="blue-grey" label="Hide" @click.prevent="showUploader = false"></q-btn>
                    </template>
                    <template v-slot:hint>
                      File needs to be in PDF format. <strong>Please note that we will share your CV with the companies participating in the job fair.</strong><br>The file will be deleted 4 months after it has been uploaded.
                    </template>
                  </q-input>
                  <div v-show="showUploader && !cvFile" class="col-12">
                    <q-uploader dense ref="uploader" flat auto-upload accept=".pdf" :max-file-size="3145728" :factory="uploaderFactory" :max-files="1" @failed="uploadFailed" @rejected="uploadRejected" @uploaded="uploaded" class="full-width" />
                  </div>
                </div>
                <q-stepper-navigation>
                  <q-btn unelevated color="primary" @click="updateUser" label="Update your profile" :disable="!user.profile.country || !user.first_name || !user.last_name || !user.profile.rel_topics.length" />
                  <q-btn flat type="a" href="/accounts/profile/" target="_blank" color="grey-8" label="More options" class="q-ml-sm" />
                </q-stepper-navigation>
              </div>
            </q-step>

          </q-stepper>
        </q-card>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>
