{% spaceless %}
{% load compress %}
{% load django_vite %}
{% load i18n %}
{% load static %}


<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" prefix="og: http://ogp.me/ns#">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet">
    {% compress css file base %}
      <link href="{% static '__inertia__/vendor/quasar@2.11.10/quasar.prod.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static '__inertia__/scss/base.scss' %}" type="text/x-scss" rel="stylesheet">
      <link href="{% static 'css/flags.css' %}" type="text/css" rel="stylesheet">
    {% endcompress %}
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% if not debug %}
      {% if request.DNT %}
        <meta name="twitter:dnt" content="on">
      {% else %}
        <script async src="//www.googletagmanager.com/gtag/js?id=G-L9R1MSGBM9"></script>
        {% compress js inline %}
          <script>
            var userId = +(document.querySelector('html').dataset.user);
            window.dataLayer = window.dataLayer || [];
            function gtag() {
              dataLayer.push(arguments);
            };
            gtag('js', new Date());
            gtag('config', 'G-L9R1MSGBM9', {
              'user_id': (userId == 0) ? undefined : userId
            });
          </script>
        {% endcompress %}
      {% endif %}
    {% endif %}
    {% vite_hmr_client %}
    {% vite_asset vue_entry_point %}
  </head>
  <body>
    {% block inertia %}{% endblock %}
  </body>
</html>
{% endspaceless %}
