{% extends 'email.'|add:email_format %}


{% block body %}
**Registration number: {{ registration_id }}**

Dear {{ user_name }},

We are pleased to inform you that your application for the {{ event_name }} **has been accepted**. Congratulations.

{% if event_is_open_for_grants %}Remember that you can request a grant until {{ event_grant_request_deadline }}. In the week after the grant request deadline we will distribute the grants: when you log in to your registration page you will find out whether you were given a grant or not (please take into account that with a few exceptions, grants are limited to people from European institutions).{% else %}Of all the admitted participants, there were many more applications for grants than there are grants available. When you log in you will find out whether you were given a grant or not (please take into account that with a few exceptions, grants are limited to people from European institutions).{% endif %}

If you have the luck to be the beneficiary of a grant, it is important to know that the grant **only covers the registration fee** for the summer school (including room and all meals), not your travel expenses.

All hotel rooms in {{ event_city }} have twin beds. Hence, there is the possibility to share a room. For participants who are willing to share a room, we can offer a reduction of the registration fee with {{ event_fee_discount }} euro (i.e. 800 euro instead of {{ event_fee }} euro for the whole week). If you have a grant, you are entitled to get a private room, but if you want to share your room with another student without a grant, he or she can attend the summer school for 600 euro (i.e. a reduction of 400 euro).

the last day for submitting a poster abstract will be the 20th of June.
If you are interested in having your poster abstract published in the ACACES booklet
you can still upload your abstract on your registration page

https://www.hipeac.net{{ registration_url }}

You only have to submit the poster abstract, not the poster itself.
We will send out more guidelines about the virtual poster session once we have more details.

Please also update the title and authors of your poster on the registration page.
{% endblock %}

{% block footer %}HiPEAC Staff{% endblock %}
