{% extends 'layout.html' %}

{% load hipeac %}


{% block head_title %}{{ flatpage.title }} - {{ block.super }}{% endblock %}

{% block subtitle %}{{ flatpage.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <div class="hipeac-card">
                    <h2 class="display-lg mb-4">{{ flatpage.title }}</h2>
                    {{ flatpage.content | markdown }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
