.hipeac-card {
    overflow: hidden;
    width: 100%;
    border-radius: $border-radius;
    background: white;
    border: 1px solid #ECEFF1;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
    padding: 1.5rem;
    margin-bottom: 30px;

    @media (max-width: $small-breakpoint) {
        margin-bottom: 15px;
    }

    &.after-tabs {
        border-top-left-radius: 0;
    }

    &.compact {
        padding: .75rem;
    }

    &.with-table {
        padding: 1.5rem .75rem;
    }

    &.account-card {
        h1, .header {
            font-size: 1.5rem;
            margin-bottom: 1.5rem !important;
        }

        hr {
            margin-top: 1.5rem !important;
            margin-bottom: 1.5rem !important;
        }

        .main-action {
            margin-top: .5rem !important;
        }
    }
}

$mini-card-gutter: .25rem;
$mini-card-logo-height: 35px;

.row.mini-card-gutters {
    margin-right: -$mini-card-gutter;
    margin-left: -$mini-card-gutter;

    > div {
        padding-right: $mini-card-gutter;
        padding-left: $mini-card-gutter;
        margin-bottom: $mini-card-gutter * 2;
    }
}

.mini-card {
    padding: 1rem 1.5rem;

    .header {
        display: table-cell;
        height: $mini-card-logo-height;
        vertical-align: middle;
    }

    .title {
        margin-top: 1rem;
        padding-bottom: 1.5rem;
        font-size: 0.9rem;
    }

    img.logo {
        max-height: $mini-card-logo-height;
    }

    img.w-100 {
        min-height: 1px;
        height: auto;
    }
}

.mini-card ul,
.mini-card-list {
    border-top: 2px solid whitesmoke;
    margin: 1rem 0 0;
    padding-top: .5rem;
    font-size: small;

    &.soon {
        .deadline {
            background: $hipeac-light-yellow;
        }
    }

    .new {
        background: $hipeac-light-yellow;
    }

    li {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    i.sm {
        margin-right: 0.3rem;
    }
}
