.hipeac.carousel {
    padding-top: 30px;

    .carousel-item {
        transition: none;
    }

    .carousel-indicators {
        top: 0;

        li {
            cursor: pointer;
            height: 5px;
            background: gainsboro;
            border: 0;

            &.active {
                background: $hipeac-yellow;
            }
        }
    }

    blockquote {
        margin: 0;

        @media (max-width: $small-breakpoint) {
            padding: 0 1rem;
        }

        span {
            font-size: 1.1rem;
            font-weight: $font-weight-light;
            background: linear-gradient(to bottom, transparent 75%, $light-yellow-color 1%, $light-yellow-color);
            background-position: 0.25rem;
        }

        footer {
            font-weight: $font-weight-bold;
            font-size: small;
        }
    }
}

.carousel-logos {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
    font-size: 0;

    ul {
        position: absolute;
        width: 20000rem;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            width: 110px;
            margin: 0 1rem;
        }

        span {
            display: block;
            max-width: 110px;
            height: 50px;
            margin: 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}
