.dropdown-menu {
    font-size: 0.9rem;
    padding: 0.25rem 0;
}

.dropdown-divider {
    margin: 0.25rem 0;
}

.dropdown-header {
    text-transform: uppercase;
    font-size: x-small;
}

.dropdown-header,
.dropdown-item {
    padding: 0.25rem 1rem;
}

.dropdown-item:hover {
    background-color: #E1F5FE; // Light Blue 50
}
