$border-radius: .25rem;
$max-width: 40%;


.marked {
    img {
        display: block;
        float: right;
        max-width: $max-width;
        margin: 0 0 1.5rem 1.5rem;
        border-radius: $border-radius;

        &.wide {
            float: none;
            max-width: 100%;
            width: 100%;
            margin: 3rem 0;
        }

        @media (max-width: $small-breakpoint) {
            float: none;
            max-width: 100%;
            width: 100%;
            margin: 1.5rem 0 !important;
        }
    }

    ul ul {
       margin-bottom: 1rem;
    }

    > p:last-child {
        margin-bottom: 0;
    }
}
