$max-width: 40%;


.marked {
    h1, h2, h3, h4, h5 {
        font-size: 1rem;
    }

    > p:last-child {
        margin-bottom: 0;
    }

    img {
        display: block;
        float: right;
        max-width: $max-width;
        margin: 0 0 1.5rem 1.5rem;
        border-radius: $border-radius;

        &.wide {
            float: none;
            max-width: 100%;
            width: 100%;
            margin: 3rem 0;
        }

        @media (max-width: $small-breakpoint) {
            float: none;
            max-width: 100%;
            width: 100%;
            margin: 1.5rem 0 !important;
        }
    }

    ul ul {
       margin-bottom: 1rem;
    }

    > p:last-child {
        margin-bottom: 0;
    }
}

.catchphrase.marked {
    p {
        font-size: 1.25rem;

        em {
            font-style: inherit;
        }
    }
}

.modal-body .marked,
.marked.mod {
    ul {
        font-size: small;
    }
}
