.hipeac.navbar {
    background: white;
    border-bottom: 10px solid $primary-color;
    box-shadow: none;
    padding: 0 0.75rem;

    .navbar-brand {
        width: 70px;
        padding: .35rem 0 0;

        img {
            width: 70px;
            height: 50px;
        }
    }

    .nav-link {
        font-size: 0.95rem;
        color: $text-color;
        padding: 2.5rem 0.75rem 1.25rem;
        border-bottom: 5px solid white;

        &.active {
            border-bottom-color: $primary-color;
            color: $primary-color;
            font-weight: bold;
        }
    }
}

.hipeac.subheader {
    background: $primary-color;

    .title {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1;
        display: inline-block;
        color: white;
        padding: 0.5rem 0;

        .badge {
            font-size: small;
            vertical-align: middle;
        }
    }
}
