.hipeac-sidenav {
    a {
        color: $dark-text-color;
        font-size: 0.9rem;
        line-height: 1.2;
        display: block;
        padding: 0 0.25rem 0 1.8rem;
        margin: 1rem 0;
        border-left: 2px solid transparent;

        i {
            font-size: 0.9rem;
            float: left;
            margin-top: 0.05rem;
            margin-left: -1.3rem;
        }

        &:last-child {
            border-bottom: 0;
        }

        &.active {
            color: $hipeac-blue;
            border-left-color: $hipeac-blue;
            font-weight: $font-weight-bold;
        }
    }

    .dropdown-header {
        padding: 0;
    }
}

.list-group-links {
    padding-left: 24px;
    font-size: smaller;

    .material-icons, svg {
        float: left;
        margin-left: -24px;
        font-size: 1.1rem;
        margin-top: 0;
    }

    svg {
        max-height: 16px;
        max-width: 16px;
        margin-left: -23px;

        path.fillit {
            fill: $hipeac-blue !important;
        }

        &.github,
        &.linkedin,
        &.twitter {
            margin-top: .1rem;
        }

        &.youtube {
            margin-top: .3rem;
        }
    }

    a.inherit svg path.fillit {
        fill: $text-color !important;
    }

    .list-group-item {
        padding: .4rem 0;

        &:first-child {
            border-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}

.filled-svg svg path.fillit {
    fill: $text-color !important;
}

.list-group-links.text-sm {
    svg {
        max-height: 14px;
        max-width: 14px;
    }

    .list-group-item {
        padding: .3rem 0;

        &:last-child {
            padding-bottom: 0;
        }
    }
}
