.nav-tabs {
    border: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    .nav-item {
        z-index: 999;
    }

    .nav-link {
        font-size: 0.85rem;

        &.highlight {
            background: $success-color;
            height: calc(100% - 2px);
            margin: 0 1px;
        }

        &.active {
            border-color: #ECEFF1 #ECEFF1 transparent;
        }

        &.disabled {
            text-decoration: line-through;
            cursor: default;
        }

        svg {
            width: 16px;
            height: 16px;
            fill: white;
            vertical-align: text-bottom;
        }

        .material-icons {
            font-size: 17px;
            vertical-align: text-bottom;
        }
    }
}

.hipeac.subheader {
    .nav-tabs {
        @media (max-width: $small-breakpoint) {
            overflow-y: scroll;
            margin: 0 -15px;
            padding: 0 15px;

            .nav-item:last-child {
                padding-right: 15px;
            }
        }

        .nav-link {
            color: white;
            border: 0;
            white-space: nowrap;

            &.active {
                background: $bg-light;
                color: $primary-color;
                font-weight: $font-weight-bold;
            }
        }

        .btn-sm {
            padding: .10rem .5rem;
            margin-top: .25rem;
        }
    }
}
