$hipeac-blue: #1976D2;  // Blue 700
$hipeac-dark-blue: #0055A4;  // SVG
$hipeac-yellow: #FFEE00;

$text-color: #37474F;  // Blue Grey 800
$light-text-color: #607D8B;  // Blue Grey 500
$primary-color: $hipeac-blue;
$light-yellow-color: #FFF9C4;  // Yellow 100
$lightest-yellow-color: #FFFDE7;  // Yellow 50
$lightest-blue-color: #E1F5FE; //
$navbar-bg-color: #1976D2; // Blue 700
$bg-light: #f8f9fa;  // Bootstrap color

$small-breakpoint: 768px;


html, body {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: $text-color;
}

[v-cloak] {
    display: none !important;
}

.scrollable {
    height: 85%;
    overflow-y: scroll;
}


/* Color adjustments */

a {
    color: $primary-color;

    &.inherit {
        color: inherit;
        text-decoration: none;
    }
}

.text-primary {
    color: $primary-color !important;
}

.text-yellow {
    color: $hipeac-yellow !important;
}

.badge-light {
    background-color: gainsboro !important;
}

.bg-primary,
.badge-primary {
    background-color: $primary-color !important;
}

.bg-yellow {
    background: $hipeac-yellow !important;
}

.bg-light-yellow {
    background: $lightest-yellow-color !important;
}

.bg-light-blue {
    background: $lightest-blue-color !important;
}

.btn {
    .material-icons {
        font-size: 1rem;
        vertical-align: -20%;
    }
}

.btn-outline-primary {
    border-color: $primary-color !important;
    color: $primary-color;
}

.btn-pill {
    line-height: 1.8;
    padding: 0 0.5rem;
    background: gainsboro;
    margin-right: 0.5rem;
    font-size: small;

    .material-icons {
        font-size: 1rem;
        vertical-align: text-top;
    }

    &.btn-primary {
        background: $primary-color;
        color: white !important;
    }
}

.badge-warning {
    color: $text-color;
}

.compact-height {
    line-height: 1rem;
}


/* Typography */


.display {
    text-align: center;
    line-height: 1.25;
    font-weight: 400;
    margin: 3rem 0;

    span {
        background: $hipeac-yellow;
    }

    @media (max-width: $small-breakpoint) {
        margin: 2rem 0;
    }
}

.display-lg {
    font-size: 1.8rem;

    @media (max-width: $small-breakpoint) {
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}

.display-md {
    font-size: 1.3rem;

    @media (max-width: $small-breakpoint) {
        font-size: 1.2rem;
        padding: 0 1rem;
    }
}

.display-sm {
    font-weight: 700;
    font-size: small;
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

.display-block {
    margin: 3rem 0;

    @media (max-width: $small-breakpoint) {
        margin: 2rem 0;
    }

    .display {
        margin: 1rem 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.catchphrase {
    font-weight: 300;
    line-height: 1.3;
}

.markdown {
    h1, h2, h3, h4, h5 {
        font-size: 1rem;
    }

    > p:last-child {
        margin-bottom: 0;
    }
}

.text-sm {
    font-size: 80%;
    line-height: 1.5;
}

.font-weight-light {
    font-weight: 300;
}

b, strong, .font-weight-bold {
    font-weight: 500;
}

.material-icons {
    &.sm {
        font-size: 14px;
        vertical-align: -15%;
    }
}


/* Lists */

.list-with-icons {
    list-style: none;
    padding-left: 24px;
    font-size: small;

    li {
        padding: .1rem 0;
    }

    .material-icons {
        float: left;
        margin-left: -24px;
        font-size: 1.1rem;
        margin-top: 0rem;
    }
}

.filter-label {
    display: block;
    padding-left: 20px;

    .material-icons {
        float: left;
        margin: 0.25em 0 0 -20px;
        font-size: 1em;
    }
}


/* Cursors */

.help {
    cursor: help;
}

.pointer {
    cursor: pointer;
}


/* Tables */

.table tbody.no-top-line {
    tr:first-child td {
        border-top: 0;
        padding-top: 0;
    }
}

/* Forms */

.form-control.search-bar {
    border: 0;
    padding: 0;
    width: 90%;

    &:focus {
        box-shadow: none;
    }
}


/* Images */

.max-90 {
    max-width: 90%;
}

.max-100 {
    max-width: 100%;
}

.avatar-md {
    border-radius: 999px;
    height: 60px;
}

.logo-sm {
    &.hipeac {
        width: 80px;
    }
}

.logo-container {
    width: 80px;
}

.logo-td {
    width: auto;
}

.flag-sm {
    width: 64px;
}

.svg-icon {
    svg {
        width: 16px;
        height: 16px;
    }
}

.huge-icon-wrapper {
    float: right;
    margin: 0 0 2rem 2rem;
    background: $hipeac-dark-blue;
    height: 64px;
    width: 64px;
    border-radius: 99px;
    text-align: center;

    .material-icons {
        font-size: 2.5rem;
        color: white;
        margin-top: 0.75rem;
    }
}

/* Alerts */

.alert-header {
    margin: 0;
    border-radius: 0;
    padding: 0.15rem 1.25rem;
}


/* Custom */

.hipeac.loading {
    height: 400px;
    text-align: center;
    font-size: 3rem;
}

.hipeac.navbar {
    background: white;
    border-bottom: 10px solid $primary-color;
    box-shadow: none;
    padding: 0 0.75rem;

    .navbar-brand {
        padding: 0.8rem 0 0;

        svg {
            height: 48px;
        }
    }

    .nav-link {
        font-size: 0.95rem;
        color: $text-color;
        padding: 2.5rem 0.75rem 1.25rem;

        &.active {
            border-bottom: 5px solid $primary-color;
            color: $primary-color;
            font-weight: bold;
        }
    }
}

.hipeac.subheader {
    background: $primary-color;

    .title {
        font-size: 1.5rem;
        font-weight: 300;
        display: inline-block;
        color: white;
        padding: 0.5rem 0;

        .badge {
            font-size: small;
            vertical-align: middle;
        }
    }

    .nav-tabs {
        border: 0;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

        @media (max-width: $small-breakpoint) {
            overflow-y: scroll;
            margin: 0 -15px;
            padding: 0 15px;
        }

        .nav-link {
            font-size: 0.85rem;
            border: 0;
            color: white;

            &.active {
                background: $bg-light;
                color: $primary-color;
                font-weight: bold;
            }

            .svg-icon svg {
                fill: white;
                vertical-align: text-bottom;
            }

            .material-icons {
                font-size: 18px;
                vertical-align: text-bottom;
            }
        }
    }
}

.hipeac-card {
    padding: 1.5rem;
    border-radius: .25rem;
    background: white;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
    margin-bottom: 30px;

    @media (max-width: $small-breakpoint) {
        margin-bottom: 15px;
    }

    &.with-table {
        padding: 1.5rem 0.75rem;
    }

    &.account-card {
        h1, .header {
            font-size: 1.5rem;
            margin-bottom: 1.5rem !important;
        }

        .content {}

        hr {
            margin-top: 1.5rem !important;
            margin-bottom: 1.5rem !important;
        }

        .main-action {
            margin-top: .5rem !important;
        }

        .asteriskField {
            color: #F44336;  // Red 500
            margin-left: 0.2rem;
        }

        #div_id_remember {
            float: right;
            color: $light-text-color;

            input {
                margin-top: 0.1rem;
            }
            label {
                font-size: small;
            }
        }
    }
}

.hipeac.list-group {
    .list-group-item {
        border-left: 0;
        border-right: 0;
        border-color: whitesmoke;

        &:first-child {
            border-top: 0;
        }
    }
}

.hipeac-filters {
    li {
        line-height: 1.2;
        padding-left: 20px;
    }

    .material-icons {
        float: left;
        font-size: 16px;
        margin: 0.2em 0 0 -20px;
    }
}

.hipeac.carousel {
    padding-top: 30px;

    .carousel-item {
        transition: none;
    }

    .carousel-indicators {
        top: 0;

        li {
            height: 5px;
            background: gainsboro;

            &.active {
                background: $hipeac-yellow;
            }
        }
    }

    blockquote {
        margin: 0;

        @media (max-width: $small-breakpoint) {
            padding: 0 1rem;
        }

        span {
            font-size: 1.1rem;
            font-weight: 300;
            background: $light-yellow-color;
        }

        footer {
            font-weight: bold;
            font-size: small;
        }
    }
}

#particles {
    z-index: -100;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: $bg-light;

    h1 {
        display: inline;
    }
}
