$hipeac-blue: #005eb8;
$hipeac-yellow: #ffe800;
$hipeac-light-yellow: #fef9ab;
$hipeac-light-blue: lightblue;

$primary-color: $hipeac-blue;
$text-color: #37474F;  // Blue Grey 800
$light-text-color: #607D8B;  // Blue Grey 500
$dark-text-color: #263238;  // Blue Grey 900
$light-yellow-color: #FFF9C4;  // Yellow 100
$lightest-yellow-color: #FFFDE7;  // Yellow 50
$lightest-blue-color: #E1F5FE;
$navbar-bg-color: #1976D2; // Blue 700
$bg-display: #E8EAF6;  // Indigo 50
$bg-light: #f8f9fa;  // Bootstrap color
$success-color: #28a745;  // Bootstrap color

$small-breakpoint: 768px;
$border-radius: .25rem;


/* Vue.js */

[v-cloak],
[v-hide] {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.help {
    cursor: help;
}


/* Bootstrap */

html, body {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $text-color;
}

.container {
    max-width: 1200px;
}

.row.compact-gutter {
    margin-left: -.75rem !important;
    margin-right: -.75rem !important;

    .col {
        padding-left: .75rem !important;
        padding-right: .75rem !important;
        margin-bottom: 1.5rem;
    }
}

.row.mini-gutter {
    margin-left: -.375rem !important;
    margin-right: -.375rem !important;

    .col {
        padding-left: .375rem !important;
        padding-right: .375rem !important;
        margin-bottom: .75rem;
    }
}

[v-cloak] {
    display: none !important;
}

.scrollable {
    height: 85%;
    overflow-y: scroll;
}

.rounded iframe {
    border-radius: $border-radius !important;
}


/* Color adjustments */

a {
    color: $primary-color;

    &.no-underline:hover {
        text-decoration: none;
    }

    &.inherit {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $primary-color;
        }
    }
}

.text-primary {
    color: $primary-color !important;
}

.text-yellow {
    color: $hipeac-yellow !important;
}

.text-light-grey {
    color: #ccc !important;
}

.text-light-weight {
    font-weight: 300 !important;
}

.badge-light {
    background-color: gainsboro !important;
}

.bg-primary,
.badge-primary {
    background-color: $primary-color !important;
}

.bg-yellow {
    background: $hipeac-yellow !important;
}

.bg-light-yellow {
    background: $lightest-yellow-color !important;
}

.bg-light-blue {
    background: $lightest-blue-color !important;
}

.bg-filters {
    background: #ECEFF1;  // Blue Gray 50
}

.btn {
    .material-icons {
        font-size: 1rem;
        vertical-align: -10%;
    }

    &.btn-sm .material-icons {
        vertical-align: -20%;
    }
}

.btn-outline-primary {
    border-color: $primary-color !important;
    color: $primary-color;
}

.btn-pill {
    line-height: 1.8;
    padding: 0 0.5rem;
    background: gainsboro;
    margin-right: 0.5rem;
    font-size: small;

    .material-icons {
        font-size: 1rem;
        vertical-align: text-top;
    }

    &.btn-primary {
        background: $primary-color;
        color: white !important;
    }
}

.badge-warning {
    color: $text-color;
}

.compact-height {
    line-height: 1rem;
}


/* Typography */

h6 {
    font-size: 0.9rem;
}

.display {
    width: 100%;
    text-align: center;
    line-height: 1.4;
    font-weight: 300;
    margin: 3rem 0;

    @media (max-width: $small-breakpoint) {
        margin: 2rem 0;
    }
}

.display-lg {
    font-size: 1.75rem;
    font-weight: 300;

    span {
        background: linear-gradient(to bottom, transparent 80%, $hipeac-yellow 1%, $hipeac-yellow);
    }

    @media (max-width: $small-breakpoint) {
        font-size: 1.6rem;
    }
}

.display-md {
    font-size: 1.2rem;

    span {
        background: linear-gradient(to bottom, transparent 80%, $hipeac-yellow 1%, $hipeac-yellow);
    }

    @media (max-width: $small-breakpoint) {
        font-size: 1.15rem;
    }
}

.display-sm, fieldset legend {
    font-weight: 700;
    font-size: small;
    text-transform: uppercase;
    margin-bottom: 0.3em;

    span {
        background: none;
    }
}

fieldset {
    margin-top: 1.5rem;

    legend {
        margin-bottom: 1.5rem !important
    }
}

input[type="hidden"] + fieldset {
    margin-top: 0;
}

.display-block {
    margin: 3rem 0 0;

    @media (max-width: $small-breakpoint) {
        margin: 2rem 0 0;
    }

    .display {
        margin: 1rem 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.catchphrase,
.catchphrase-first p:first-child {
    font-weight: 300;
    line-height: 1.3;
}

.catchphrase-first p:first-child {
    font-size: 1.25rem;
}

.text-sm {
    font-size: small;
    line-height: 1.5;
}

.text-wrap {
    white-space: normal;
}

.font-weight-light {
    font-weight: 300;
}

b, strong, .font-weight-bold {
    font-weight: 500;
}

.material-icons {
    &.sm {
        font-size: small;
        vertical-align: -15%;
    }

    &.md {
        font-size: 1.3rem;
        vertical-align: -15%;
    }

    &.lg {
        font-size: 2rem;
        vertical-align: -15%;
    }
}

span.avatar {
    display: block;
    background: whitesmoke;
    height: 50px;
    width: 50px;
}


/* Lists */

.list-with-icons {
    list-style: none;
    padding-left: 24px;
    font-size: small;

    li {
        padding: .1rem 0;
    }

    .material-icons {
        float: left;
        margin-left: -24px;
        font-size: 1.1rem;
        margin-top: 0rem;
    }
}

.filter-label {
    display: block;
    padding-left: 20px;

    .material-icons {
        float: left;
        margin: 0.25em 0 0 -20px;
        font-size: 1em;
    }
}


/* Tables */

.table tbody.no-top-line {
    tr:first-child td {
        border-top: 0;
        padding-top: 0;
    }
}

.table-sm {
    line-height: 1.4;
}


/* Images */

.max-90 {
    max-width: 90%;
}

.max-100 {
    max-width: 100%;
}

.avatar {
    border-radius: 999px;

    &.b {
        border: 3px solid $hipeac-light-blue;
    }

    &.lg {
        height: 90px;
    }

    &.md {
        height: 60px;
    }
}

.logo-sm {
    &.hipeac {
        width: 50px;
    }
}

.logo-container {
    width: 80px;
    height: 57px;
}

.logo-td {
    width: auto;
}

.logo-photos {
    max-width: 40px;
}

ul.logos {
    text-align: center;
    margin: 0;
    padding: 0;

    li {
        padding: 1rem 1.5rem;
        display: inline-block;
        vertical-align: middle;

        @media (max-width: $small-breakpoint) {
            img {
                max-width: 80px;
            }
        }
    }
}

.flag-sm {
    width: 64px;
}

.svg-icon {
    svg {
        width: 16px;
        height: 16px;
    }
}

.huge-icon-wrapper {
    background: $hipeac-blue;
    color: white;
    height: 64px;
    width: 64px;
    border-radius: 99px;
    text-align: center;

    &.float-right {
        margin: 0 0 2rem 2rem;
    }

    .text-center & {
        margin: 0 auto;
    }

    .material-icons {
        font-size: 2.5rem;
        margin-top: 0.75rem;
    }

    a:hover & {
        background: $hipeac-light-blue;
        color: $hipeac-blue;
    }
}

/* Alerts */

.alert-header {
    margin: 0;
    border-radius: 0;
    padding: 0.15rem 1.25rem;
}


/* Custom */

.hipeac.loading {
    height: 400px;
    text-align: center;
    font-size: 3rem;
}

.hipeac.list-group {
    .list-group-item {
        border-left: 0;
        border-right: 0;
        border-color: whitesmoke;

        &:first-child {
            border-top: 0;
        }
    }
}

.hipeac-filters {
    li {
        line-height: 1.2;
        padding-left: 20px;
    }

    .material-icons {
        float: left;
        font-size: 16px;
        margin: 0.2em 0 0 -20px;
    }
}


@import '_alert.scss';
@import '_badge.scss';
@import '_card.scss';
@import '_carousel.scss';
@import '_dropdown.scss';
@import '_form.scss';
@import '_maps.scss';
@import '_marked.scss';
@import '_modal.scss';
@import '_navbar.scss';
@import '_particles.scss';
@import '_sidenav.scss';
@import '_skeleton.scss';
@import '_tabs.scss';
