$hipeac-blue: #005eb8;
$hipeac-yellow: #ffe800;
$hipeac-light-yellow: #fef9ab;
$hipeac-light-blue: lightblue;

$management-color: darkslategrey;

$primary-color: $hipeac-blue;
$header-color: #0b0b0b;
$text-color: var(--q-color-dark) !important;
$light-text-color: #757575;  // grey-7

$mobile-breakpoint: 768px;

$border-radius: .25rem;
$hr-color: #e0e0e0; // grey-4

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

$mini-card-logo-height: 35px;


/* Charts.js */

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


/* Vue.js */

[v-cloak],
[v-hide] {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

.help {
  cursor: help;
}


/* Layout */

html {
  scroll-padding-top: 120px;
}

html, body {
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  color: $text-color;
}

.hipeac__layout {
  background-image: url(../images/particles.png);

  .container {
    padding: 0 24px;
    margin: 0 auto;
    max-width: 1220px;

    .q-toolbar {
      padding: 0;
    }
  }

  .container.wide {
    max-width: 99.5%;
  }
}

.hipeac__header.q-header--bordered {
  border-bottom: 2px solid $primary-color;
}

.hipeac__footer {
  padding-top: 64px;
}

.hipeac__toolbar {
  min-height: 86px;

  .q-btn {
    font-size: 1rem;
    color: #757575;
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom: 2px solid $primary-color;
      color: $primary-color;
      font-weight: $font-weight-bold;
    }
  }
}

.hipeac__submenu, .hipeac__submenu__management {
  background-color: $primary-color;
  z-index: 1000;

  .q-toolbar {
    background-color: $primary-color;
    color: white;
  }

  .q-toolbar__title {
    font-size: 1.5rem;
    padding-top: 8px;
    padding-bottom: 12px;
  }

  .q-tab--active .q-tab__label {
    font-weight: $font-weight-bold;
  }
}

.hipeac__submenu__management {
  background-color: $management-color;

  .q-toolbar {
    background-color: $management-color;
  }
}

.q-header--bordered {
  border-bottom: 1px solid $hr-color;
}

.q-separator {
  background-color: $hr-color;
}

.bg-gradient {
  border-top: 1px solid $hr-color;
  background: linear-gradient(#fafafa, #fff 100%);  // grey-1
}

.hipeac__social-media {
  .hipeac__footer & path {
    fill: #0b0b0b;
  }
}

.hipeac__card {
  background: white;
  border: 1px solid #ECEFF1;
  box-shadow: 0 8px 24px rgba(13,13,18,0.04);
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  letter-spacing: normal;
  font-weight: bold;
  color: $header-color;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.15;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.05rem;
}

h6 {
  text-transform: uppercase;
  font-size: .9rem;
  margin-bottom: .5rem;
}

.text-h4 {
  font-size: 1.75rem;
  line-height: 1.35;
}

.catchphrase-first p:first-child,
.text-h5, .text-h6 {
  font-weight: $font-weight-light;
  line-height: 1.3;
}

.catchphrase-first p:first-child,
.text-h6 {
  font-size: 1.1rem;
}

.q-table tbody td,
.text-body2 {
  font-size: 0.9rem;
  letter-spacing: normal;
}

.q-table tbody td.min-width {
  width: 16px;

  .q-table--dense & {
    padding-left: 4px;
  }
}

.text-caption {
  line-height: 1.25;
}

@media (max-width: $mobile-breakpoint) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.35rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.15rem;
  }

  .text-h6 {
    font-size: 1.05rem;
    line-height: 1.3;
  }
}

ul {
  .hipeac__footer & {
    list-style: none;
    padding-left: 0;
  }

  &.inline {
    list-style-type: none;
    padding: 0;

    li {
      margin: 0;
    }
  }
}

a {
  color: $primary-color;

  .hipeac__footer &,
  &.inherit {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .hipeac__footer h6 &:hover {
    color: $primary-color;
  }
}

strong {
  font-weight: 600;
}

img.logo {
  height: 50px;
  width: 70px;
}

img.sponsor {
  max-height: 50px;
  max-width: 80%;
}

img.jobs__logo {
  max-height: $mini-card-logo-height;
}

.bg-hipeac {
  background-color: $primary-color;
}

.border-top {
  border-top: 1px solid $hr-color;
}

.border-left {
  border-left: 1px solid $hr-color;
}

.col-pointer:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.display-inline {
  display: inline-block;
}

.display-underline span {
  background: linear-gradient(to bottom, transparent 85%, #ffe800 1%, #ffe800);
}
