{% extends 'v2/layout.html' %}

{% load compress %}
{% load hipeac %}
{% load static %}


{% block head_title %}{{ acaces }} management - {{ block.super }}{% endblock %}

{% block page_container %}
  <q-page-container>
    <q-page style="padding-top: 56px">
      <q-page-sticky expand position="top" class="hipeac__submenu__management">
        <q-toolbar class="container wide">
          <q-toolbar-title :class="{'q-pl-none': $q.screen.gt.sm}">{{ acaces }}</q-toolbar-title>
          <q-tabs stretch inline-label no-caps mobile-arrows>
            <q-route-tab :to="{name: 'stats'}" label="Stats"></q-route-tab>
            <q-route-tab :to="{name: 'registrations'}" label="Registrations"></q-route-tab>
            <q-route-tab :to="{name: 'grants'}" label="Grants"></q-route-tab>
            <!--<q-route-tab href="/admin/hipeac/acacescourse/" target="acaces-admin" label="Courses"></q-route-tab>
            <q-route-tab href="/admin/hipeac/acaceshotel/" target="acaces-admin" label="Hotels"></q-route-tab>-->
          </q-tabs>
        </q-toolbar>
      </q-page-sticky>
      <div id="vars" data-event-id="{{ acaces.id }}" data-event-url="{% url 'v1:acaces-management-detail' acaces.id %}" data-courses-url="{% url 'v1:acaces-courses' acaces.id %}" data-registrations-url="{% url 'v1:acaces-management-registrations' acaces.id %}" data-sessions-url="{% url 'v1:event-sessions' acaces.id %}"></div>
      <div class="container wide">
        <router-view ></router-view>
      </div>
    </q-page>
  </q-page-container>
{% endblock %}

{% block vue_templates %}
  {% include './v-grants.html' %}
  {% include './v-registrations.html' %}
  {% include './v-stats.html' %}
{% endblock %}

{% block scripts %}
  {{ countries | json_script:"countries-data" }}
{% compress js file events_acaces_management %}
  <script src="{% static 'js_v2/components/acaces.js' %}"></script>
  <script src="{% static 'js_v2/mixins/query.js' %}"></script>
  <script>
    var VARS = document.querySelector('#vars').dataset;
    var VIRTUAL_ACACES = 2020;

    var Store = new Vuex.Store({
      state: {
        countries: JSON.parse(document.getElementById('countries-data').textContent),
        event: null,
        courses: [],
        registrations: []
      },
      getters: {
        grantsPerCountry: function (state, getters) {
          var countries = {};

          if (!state.registrations.length || !state.event) return countries;

          _.each(state.registrations, function (obj) {
            try {
              var c = (obj.user.profile.institution && obj.user.profile.institution.country)
                        ? obj.user.profile.institution.country.code
                        : obj.user.profile.country.code;
              if (!_.has(countries, c)) {
                countries[c] = {
                  self: state.event.grants_per_country[c].self,
                  registrations: 1,
                  admitted: (obj.status == 1) ? 1 : 0,
                  places: state.event.grants_per_country[c].available_places,
                  grants: state.event.grants_per_country[c].available_grants,
                  grants_requested: (obj.grant_requested) ? 1 : 0,
                  grants_assigned: (obj.grant_assigned) ? 1 : 0,
                  country: {
                    code: c,
                    name: state.countries[c]
                  }
                };
              } else {
                countries[c].registrations++;
                if (obj.status == 1) {
                  countries[c].admitted++;
                }
                if (obj.grant_requested) {
                  countries[c].grants_requested++;
                }
                if (obj.grant_assigned) {
                  countries[c].grants_assigned++;
                }
              }
            } catch (err) {
              console.log(err);
            }
          });

          return countries;
        },
        mainStats: function (state, getters) {
          var data = _.values(getters.grantsPerCountry);
          var regs = getters.remappedRegistrations;

          if (!data.length) return null;

          out = {
            tracks: {},
            courses: {},
            registrations: data.reduce(function (i, o) { return i + o.registrations }, 0),
            admitted: data.reduce(function (i, o) { return i + o.admitted }, 0),
            places_available: data.reduce(function (i, o) { return i + o.places }, 0),
            grants_available: data.reduce(function (i, o) { return i + o.grants }, 0),
            grants_requested: data.reduce(function (i, o) { return i + o.grants_requested }, 0),
            grants_assigned: data.reduce(function (i, o) { return i + o.grants_assigned }, 0),
            gender: {
              female: regs.reduce(function (i, o) { return i + (o.user_gender == 'female') }, 0),
              male: regs.reduce(function (i, o) { return i + (o.user_gender == 'male') }, 0),
              non_binary: regs.reduce(function (i, o) { return i + (o.user_gender == 'non-binary') }, 0)
            },
            posters: regs.reduce(function (i, o) { return i + (o.presents_poster == true) }, 0),
          };

          _.each(regs, function (r) {
            _.each(r.courses, function (c) {
              if (!_.has(out.courses, c)) {
                out.courses[c] = 0;
              }
              out.courses[c]++;
            });
          });

          return out;
        },
        remappedRegistrations: function (state, getters) {
          if (!state.event) return [];

          return state.registrations.map(function (obj) {
            obj = Hipeac.map.registration(obj);

            // we want to see how many of the courses from DISCOVER-US have been selected
            var dus = [97, 100, 104, 106];
            var course_ids = obj.courses.map(function (c) { return c.id });
            obj.dus_selection = _.intersection(obj.courses, dus).length;

            var w = _.without(obj.history, VIRTUAL_ACACES);
            obj.date = moment(obj.created_at);
            obj.acaces_count = obj.history.length;
            obj.acaces_last = (w.length) ? _.max(w) : null;
            obj.country = (obj.user.profile.institution)
              ? obj.user.profile.institution.country
              : obj.user.profile.country;
            obj.country_code = (obj.user.profile.institution)
              ? obj.user.profile.institution.country.code
              : obj.user.profile.country.code;
            obj.dietary_requirements = obj.user.profile.meal_preference_id && obj.user.profile.meal_preference_id != 7;
            obj.user_gender = (obj.user.profile.gender) ? obj.user.profile.gender.value.toLowerCase() : null;
            obj.user_name = obj.user.profile.name;
            obj.user_affiliation = (obj.user.profile.institution)
              ? obj.user.profile.institution.short_name
              : obj.custom_data.profile.institution;
            obj.advisor = (obj.custom_data.profile && obj.custom_data.profile.advisor)
              ? obj.custom_data.profile.advisor
              : '-';
            obj.presents_poster = obj.poster != null;
            obj.shares_room = obj.roommate_requested;
            obj.from_industry = obj.custom_data.profile && obj.custom_data.profile.industry;

            obj.admitted = obj.status == 1;

            obj._q = [
              obj._q,
              'dus:' + _.intersection(obj.courses, dus).length,
              'gender:' + obj.user_gender,
              'admitted:' + (obj.admitted ? 'yes' : 'no'),
              'dietary.requirements:' + (obj.dietary_requirements ? 'yes' : 'no'),
              (obj.accepted == null) ? 'accepted:waiting' : '',
              (obj.accepted == false) ? 'accepted:no' : '',
              (obj.accepted == true) ? 'accepted:yes' : '',
              'grant.requested:' + (obj.grant_requested ? 'yes' : 'no'),
              'grant.assigned:' + (obj.grant_assigned ? 'yes' : 'no'),
              'poster:' + (obj.presents_poster ? 'yes' : 'no'),
              'room.shared:' + (obj.roommate_requested ? 'yes' : 'no'),
              'industry:' + (obj.from_industry ? 'yes' : 'no'),
            ].join(' ').toLowerCase();

            _.each(obj.grants, function (y) {
              obj._q += ' grant.assigned:' + y;
            });

            return obj;
          })
        },
        stats: function (state, getters) {
          var stats = {};

          _.each(getters.remappedRegistrations, function (obj) {
            _.each(_.uniq(obj._q.split(' ')), function (w) {
              if (w.indexOf(':') > -1) {
                if (!_.has(stats, w)) stats[w] = 1;
                else stats[w] += 1;
              }
            });
          });

          return stats;
        }
      },
      mutations: {
        getEvent: function (state) {
          var self = this;

          Hipeac.api.get(VARS.eventUrl).then(function (res) {
            res.data.grants_per_country = _.indexBy(res.data.grants, 'country');
            state.event = Hipeac.map.event(res.data);
          });
        },
        getCourses: function (state) {
          Hipeac.api.get(VARS.coursesUrl).then(function (res) {
            state.courses = Object.freeze(res.data.sort(function (a, b) {
            return Hipeac.utils.sortText(a.title, b.title);
          }).map(function (obj) {
              return Hipeac.map.course(obj);
            }));
          });
        },
        getRegistrations: function (state) {
          if (!USER_IS_AUTHENTICATED) return;

          var self = this;

          Hipeac.api.get(VARS.registrationsUrl).then(function (res) {
            state.registrations = Object.freeze(res.data);

            setTimeout(function () {
              self.commit('getRegistrations');
            }, 30000);
          });
        },
        updateRegistration: function (state, item) {
          var data = _.clone(state.registrations)
          var idx = _.findIndex(data, {id: item.id});
          data[idx] = item;
          state.registrations = data;
        }
      }
    });

    var GrantsView = {
      template: '#v-grants',
      data: function () {
        return {
          obj: null,
          table: {
            columns: [
              {
                name: 'country_code',
                field: 'country_code',
              },
              {
                name: 'country_name',
                field: 'country_name',
                label: 'Country',
                sortable: true,
                align: 'left'
              },
              {
                name: 'grants',
                field: 'grants',
                label: 'Grants available',
                sortable: true,
                align: 'center'
              },
              {
                name: 'grants_requested',
                field: 'grants_requested',
                label: 'Grants requested',
                sortable: true,
                align: 'center'
              },
              {
                name: 'grants_assigned',
                field: 'grants_assigned',
                label: 'Grants assigned',
                sortable: true,
                align: 'center'
              },
              {
                name: 'registrations',
                field: 'registrations',
                label: 'Registrations',
                sortable: true,
                align: 'center'
              },
              {
                name: 'admitted',
                field: 'admitted',
                label: 'Admitted',
                sortable: true,
                align: 'center'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'registrations',
              descending: true
            }
          }
        }
      },
      computed: _.extend(
        Vuex.mapGetters(['grantsPerCountry', 'mainStats']),
        Vuex.mapState(['countries', 'event', 'registrations']), {
      }),
      methods: {
        syncEvent: function () {
          var self = this;

          if (!this.event) {
            setTimeout(function () { self.syncEvent() }, 25);
            return;
          };

          this.obj = _.clone(this.event);
        },
        updateCountryGrants: function (endpoint, grants) {
          var self = this;
          Hipeac.api.request('put', endpoint, {available_grants: grants}).then(function (res) {
            Hipeac.utils.notifySuccess('Grants updated.');
            self.$store.commit('getEvent');
          }).catch(function (error) {
            Hipeac.utils.notifyApiError(error);
          });
        },
        updateCountryPlaces: function (endpoint, places) {
          var self = this;
          Hipeac.api.request('put', endpoint, {available_places: places}).then(function (res) {
            Hipeac.utils.notifySuccess('Available places updated.');
            self.$store.commit('getEvent');
          }).catch(function (error) {
            Hipeac.utils.notifyApiError(error);
          });
        }
      },
      created: function () {
        this.syncEvent();
        this.$root.$on('country-grants-updated', this.updateCountryGrants);
        this.$root.$on('country-places-updated', this.updateCountryPlaces);
      },
      beforeDestroy () {
        this.$root.$off('country-grants-updated');
        this.$root.$off('country-places-updated');
      }
    };

    var RegistrationsView = {
      mixins: [QueryMixin],
      template: '#v-registrations',
      props: ['q', 'id'],
      data: function () {
        return {
          dialogVisible: false,
          togglePlaceholder: false,
          search: {
            filters: [
              {
                name: 'gender',
                options: ['female', 'male', 'non-binary', 'unknown']
              },
              {
                name: 'admitted',
                options: ['yes', 'no']
              },
              {
                name: 'accepted',
                options: ['waiting', 'yes', 'no']
              },
              {
                name: 'grant.requested',
                options: ['yes', 'no']
              },
              {
                name: 'grant.assigned',
                options: ['yes', 'no', '2021']
              },
              {
                name: 'industry',
                options: ['yes', 'no']
              },
              {
                name: 'poster',
                options: ['yes', 'no']
              },
              {
                name: 'room.shared',
                options: ['yes', 'no']
              },
              {
                name: 'paid',
                options: ['yes', 'no']
              },
              {
                name: 'invoice.requested',
                options: ['yes', 'no']
              },
              {
                name: 'invoice.sent',
                options: ['yes', 'no']
              },
              {
                name: 'visa.requested',
                options: ['yes', 'no']
              },
              {
                name: 'visa.sent',
                options: ['yes', 'no']
              }
            ]
          },
          table: {
            columns: [
              {
                name: 'idx',
                label: '#'
              },
              {
                name: 'admitted',
                field: 'admitted',
                sortable: true,
                label: 'Admitted',
                align: 'center',
              },
              {
                name: 'grant_assigned',
                field: 'grant_assigned',
                sortable: true,
                label: 'Grant',
                align: 'center',
              },
              {
                name: 'accepted',
                field: 'accepted',
                sortable: true,
                label: 'Accepted',
                align: 'center',
              },
              {
                name: 'dus',
                field: 'dus_selection',
                sortable: true,
                label: 'D-US',
                align: 'center',
              },
              {
                name: 'user_gender',
                field: 'user_gender',
                sortable: true,
                align: 'center',
                label: 'Gender'
              },
              {
                name: 'user_name',
                field: 'user_name',
                sortable: true,
                align: 'left',
                label: 'Student'
              },
              {
                name: 'country_code',
                field: 'country_code',
                sortable: true,
                align: 'center',
                label: 'Country'
              },
              {
                name: 'user_affiliation',
                field: 'user_affiliation',
                sortable: true,
                align: 'left',
                label: 'Affiliation',
                classes:'text-caption'
              },
              {
                name: 'advisor',
                field: 'advisor',
                sortable: true,
                align: 'left',
                label: 'Advisor',
                classes:'text-caption'
              },
              {
                name: 'acaces_last',
                field: 'acaces_last',
                sortable: true,
                align: 'right',
                label: 'Last'
              },
              {
                name: 'grants',
                field: 'grants',
                sortable: true,
                align: 'right',
                label: 'Granted (past)'
              },
              {
                name: 'from_industry',
                field: 'from_industry',
                sortable: true,
                align: 'center',
                label: 'Industry'
              },
              {
                name: 'presents_poster',
                field: 'presents_poster',
                sortable: true,
                align: 'center',
                label: 'Poster'
              },
              {
                name: 'shares_room',
                field: 'shares_room',
                sortable: true,
                align: 'center',
                label: 'Share room'
              }
            ],
            pagination: {
              rowsPerPage: 50
            }
          }
        }
      },
      computed: _.extend(
        Vuex.mapGetters(['grantsPerCountry', 'remappedRegistrations']),
        Vuex.mapState(['event', 'courses', 'countries', 'registrations']), {
        filtersWithCountries: function () {
          var countryFilters = [];

          if (this.remappedRegistrations.length) {
            var cs = this.countries;
            var codes = _.uniq(_.pluck(this.remappedRegistrations, 'country_code'));
            countryFilters = [
              {
                name: 'country',
                options: _.keys(cs).filter(function (c) {
                  return codes.indexOf(c) != -1;
                }).map(function (c) {
                  return slugify(cs[c]).toLowerCase();
                })
              }
            ];
          }

          return _.union(countryFilters, this.search.filters);
        },
        obj: function () {
          if (this.registrations.length && this.id) {
            return _.findWhere(this.registrations, {id: this.id});
          } else return null;
        },
        showDialog: {
          get: function () {
            return this.obj != null;
          },
          set: function (val) {
            if (this.dialogVisible) {
              this.$router.replace({params: {id: undefined}});
              this.dialogVisible = false;
            }
          }
        },
        registrationCourses: function () {
          if (!this.obj || !this.courses.length) return [];
          var courses = this.obj.courses;
          return this.courses.filter(function (course) {
            return courses.indexOf(course.id) > -1;
          }).sort(function (a, b) {
            return a.slot - b.slot;
          });
        },
        years: function () {
          if (!this.obj) return [];
          return this.obj.history.sort() || [];
        }
      }),
      methods: {
        disableAdmitToggle: function (row) {
          if (!this.event) return true;
          return this.grantsPerCountry
              && this.grantsPerCountry[row.country_code]
              && (this.grantsPerCountry[row.country_code].admitted >= this.grantsPerCountry[row.country_code].places)
              && !row.admitted;
        },
        disableGrantToggle: function (row) {
          if (!this.event) return true;
          return !row.grant_requested || (this.grantsPerCountry
              && this.grantsPerCountry[row.country_code]
              && (this.grantsPerCountry[row.country_code].grants_assigned >= this.grantsPerCountry[row.country_code].grants)
              && !row.grant_assigned);
        },
        update: function (row) {
          var self = this;
          Hipeac.api.request('put', row.self, row).then(function (res) {
            Hipeac.utils.notifySuccess('Registration updated.');
            self.$store.commit('updateRegistration', res);
          }).catch(function (error) {
            Hipeac.utils.notifyApiError(error);
          });
        }
      },
      watch: {
        query: function (val, oldVal) {
          if (val == this.$route.query.q) return;
          if (val != '' && val != oldVal) this.$router.replace({query: {q: val}});
          else this.$router.replace({query: {q: undefined}});
        }
      }
    };

    var StatsView = {
      template: '#v-stats',
      computed: _.extend(
        Vuex.mapGetters(['grantsPerCountry', 'mainStats']),
        Vuex.mapState(['courses']), {
        countries: function () {
          return _.values(this.grantsPerCountry).map(function (c) {
            c.slug = slugify(c.country.name).toLowerCase();
            return c;
          }).sort(function (a, b) {
            return b.registrations - a.registrations || Hipeac.utils.sortText(a.country.name, b.country.name);
          });
        },
        coursesBySlot: function () {
          return _.groupBy(this.courses, 'slot');
        }
      })
    };

    var Router = new VueRouter({
      linkActiveClass: 'active',
      scrollBehavior: function (to, from) {
        if (from.name.startsWith('registrations') && from.params.id) return;
        return {x: 0, y: 0};
      },
      routes: [
        {
            path: '/',
            redirect: {name: 'stats'}
        },
        {
          name: 'registrations',
          path: '/r/:id?/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationsView,
          props: function (route) {
            return {
              q: route.query.q,
              id: +route.params.id
            };
          }
        },
        {
          name: 'grants',
          path: '/grants/',
          pathToRegexpOptions: {strict: true},
          component: GrantsView
        },
        {
          name: 'stats',
          path: '/stats/',
          pathToRegexpOptions: {strict: true},
          component: StatsView
        }
      ]
    });

    new Vue({
      el: '#vue',
      store: Store,
      router: Router,
      computed: _.extend(
        Vuex.mapState(['event']), {
      }),
      beforeCreate: function () {
        if (this.$route.path.substr(-1) != '/') {
          this.$router.push({'path': this.$route.path + '/'});
        }
      },
      created: function () {
        this.$store.commit('getEvent');
        this.$store.commit('getRegistrations');
        this.$store.commit('getCourses');
      }
    });
  </script>
{% endcompress %}
{% endblock %}
