{% extends 'v2/layout.html' %}

{% load compress %}
{% load hipeac %}
{% load static %}


{% block head_title %}{{ event }} - {{ block.super }}{% endblock %}

{% block page_container %}
  <q-page-container>
    <q-page style="padding-top: 56px">
      <q-page-sticky expand position="top" class="hipeac__submenu__management">
        <q-toolbar class="container wide">
          <q-toolbar-title :class="{'q-pl-none': $q.screen.gt.sm}">{{ event }}</q-toolbar-title>
          <q-tabs stretch inline-label no-caps mobile-arrows>
            <q-route-tab :to="{name: 'stats'}" label="Stats"></q-route-tab>
            <q-route-tab :to="{name: 'registrations'}" label="Registrations"></q-route-tab>
            <q-route-tab :to="{name: 'grants'}" label="Grants"></q-route-tab>
            <!--<q-route-tab :to="{name: 'emails'}" label="Emails"></q-route-tab>-->
          </q-tabs>
        </q-toolbar>
      </q-page-sticky>
      <div id="vars" data-event-id="{{ event.id }}" data-event-url="{% url 'v1:event-management-detail' event.id %}" data-courses-url="{% url 'v1:event-courses' event.id %}" data-registrations-url="{% url 'v1:event-management-registrations' event.id %}" data-sessions-url="{% url 'v1:event-sessions' event.id %}"></div>
      <div class="container wide">
        <router-view ></router-view>
      </div>
    </q-page>
  </q-page-container>
{% endblock %}

{% block vue_templates %}
  {% include './v-emails.html' %}
  {% include './v-grants.html' %}
  {% include './v-registrations.html' %}
  {% include './v-stats.html' %}
{% endblock %}

{% block scripts %}
  {{ countries | json_script:"countries-data" }}
{% compress js file events_acaces_management %}
  <script src="{% static 'js_v2/components/acaces.js' %}"></script>
  <script>
    var VARS = document.querySelector('#vars').dataset;
    var VIRTUAL_ACACES = 2020;

    var Store = new Vuex.Store({
      state: {
        countries: JSON.parse(document.getElementById('countries-data').textContent),
        event: null,
        courses: [],
        registrations: []
      },
      getters: {
        grantsPerCountry: function (state, getters) {
          var countries = {};

          if (!state.registrations.length || !state.event) return countries;

          _.each(state.registrations, function (obj) {
            try {
              var c = (obj.user.profile.institution && obj.user.profile.institution.country)
                        ? obj.user.profile.institution.country.code
                        : obj.custom_data.profile.country.value;
              if (!_.has(countries, c)) {
                countries[c] = {
                  registrations: 1,
                  admitted: (_.contains(state.event.custom_data.admitted_ids, obj.id)) ? 1 : 0,
                  grants: state.event.custom_data.grants_per_country[c],
                  grants_requested: (obj.custom_data.grant_requested) ? 1 : 0,
                  grants_assigned: (_.contains(state.event.custom_data.granted_ids, obj.id)) ? 1 : 0,
                  country: {
                    code: c,
                    name: state.countries[c]
                  }
                };
              } else {
                countries[c].registrations++;
                if (_.contains(state.event.custom_data.admitted_ids, obj.id)) {
                  countries[c].admitted++;
                }
                if (obj.custom_data.grant_requested) {
                  countries[c].grants_requested++;
                }
                if (_.contains(state.event.custom_data.granted_ids, obj.id)) {
                  countries[c].grants_assigned++;
                }
              }
            } catch (err) {
              console.log(err);
            }
          });

          return countries;
        },
        mainStats: function (state, getters) {
          var data = _.values(getters.grantsPerCountry);
          var regs = getters.remappedRegistrations;

          if (!data.length) return null;

          out = {
            tracks: {},
            courses: {},
            registrations: data.reduce(function (i, o) { return i + o.registrations }, 0),
            admitted: data.reduce(function (i, o) { return i + o.admitted }, 0),
            grants_available: data.reduce(function (i, o) { return i + o.grants }, 0),
            grants_requested: data.reduce(function (i, o) { return i + o.grants_requested }, 0),
            grants_assigned: data.reduce(function (i, o) { return i + o.grants_assigned }, 0),
            gender: {
              female: regs.reduce(function (i, o) { return i + (o.user_gender == 'female') }, 0),
              male: regs.reduce(function (i, o) { return i + (o.user_gender == 'male') }, 0),
              non_binary: regs.reduce(function (i, o) { return i + (o.user_gender == 'non_binary') }, 0)
            }
          };

          _.each(getters.simpleTracks, function (t) {
            out.tracks[t.track.name] = regs.reduce(function (i, o) { return i + o.in_track[t.track.name] }, 0)
          });

          _.each(regs, function (r) {
            _.each(r.courses, function (c) {
              if (!_.has(out.courses, c)) {
                out.courses[c] = 0;
              }
              out.courses[c]++;
            });
          });

          return out;
        },
        remappedRegistrations: function (state, getters) {
          var t = getters.simpleTracks;
          if (!state.event) return [];

          return state.registrations.map(function (obj) {
            var w = _.without(obj.custom_data.history, VIRTUAL_ACACES);
            obj.in_track = {};
            obj.date = moment(obj.created_at);
            obj.acaces_count = obj.custom_data.history.length;
            obj.acaces_last = (w.length) ? _.max(w) : null;
            obj.country_code = (obj.user.profile.institution)
              ? obj.user.profile.institution.country.code
              : obj.custom_data.profile.country.value;
            obj.user_gender = obj.custom_data.profile.gender || {
              1: 'female',
              2: 'male',
              96: 'non_binary'
            }[obj.user.profile.gender_id] || null;
            obj.user_name = obj.user.profile.name;
            obj.user_affiliation = (obj.user.profile.institution)
              ? obj.user.profile.institution.name
              : obj.custom_data.profile.institution;
            obj.advisor = obj.custom_data.profile.advisor || '-';
            obj.presents_poster = obj.custom_data.poster.present;
            obj.shares_room = obj.custom_data.room.share;

            var extraq = t.filter(function (t) {
              var in_track = _.intersection(t.courses, obj.courses).length == t.courses.length;
              obj.in_track[t.track.name] = in_track;
              return in_track;
            }).map(function (o) {
              return 'track:' + o.track.name;
            });

            obj.q = [
              obj.q,
              'admit:' + (state.event.custom_data.admitted_ids.includes(obj.id) ? 'yes' : 'no'),
              'country:' + obj.country_code,
              'gender:' + obj.user_gender,
              'grant:' + (state.event.custom_data.granted_ids.includes(obj.id) ? 'yes' : 'no'),
              'grant_requested:' + (obj.custom_data.grant_requested ? 'yes' : 'no'),
              'poster:' + (obj.custom_data.poster.present ? 'yes' : 'no'),
              'room:' + (obj.custom_data.room.share ? 'yes' : 'no'),
              'visa_requested:' + (obj.visa_requested ? 'yes' : 'no'),
              extraq.join(' ')
            ].join(' ').toLowerCase();

            return obj;
          })
        },
        simpleTracks: function (state) {
          var tracks = {};

          if (!state.courses.length) return [];

          _.each(state.courses, function (c) {
            if (c.custom_data.track && c.custom_data.track.project_id) {
              if (!_.has(tracks, c.custom_data.track.project_id)) {
                tracks[c.custom_data.track.project_id] = {
                  track: c.custom_data.track,
                  courses: []
                };
              }

              tracks[c.custom_data.track.project_id].courses.push(c.id);
            }
          });

          return _.values(tracks);
        }
      },
      mutations: {
        getEvent: function (state) {
          var self = this;

          Hipeac.api.get(VARS.eventUrl).then(function (res) {
            if (!_.has(res.data, 'custom_data')) {
              res.data.custom_data = {
                admitted_ids: [],
                granted_ids: [],
                grants_per_country: {}
              };
            }

            _.each(state.countries, function (value, key, list) {
              if (!_.has(res.data.custom_data.grants_per_country, key)) {
                res.data.custom_data.grants_per_country[key] = 0;
              }
            });

            state.event = Object.freeze(Hipeac.map.event(res.data));
          });
        },
        getCourses: function (state) {
          Hipeac.api.get(VARS.coursesUrl).then(function (res) {
            state.courses = Object.freeze(res.data.sort(function (a, b) {
            return Hipeac.utils.sortText(a.title, b.title);
          }).map(function (obj) {
              return Hipeac.map.course(obj);
            }));
          });
        },
        getRegistrations: function (state) {
          if (!USER_IS_AUTHENTICATED) return;

          var self = this;

          Hipeac.api.get(VARS.registrationsUrl).then(function (res) {
            state.registrations = Object.freeze(res.data.map(function (obj) {
              return Hipeac.map.registration(obj);
            }));

            setTimeout(function () {
              self.commit('getRegistrations');
            }, 30000);
          });
        },
        updateEvent: function (state, data) {
          state.event = Object.freeze(data);
        }
      }
    });

    var EmailsView = {
      template: '#v-emails',
      computed: _.extend(
        Vuex.mapState(['event']), {
      })
    };

    var GrantsView = {
      template: '#v-grants',
      data: function () {
        return {
          obj: null
        }
      },
      computed: _.extend(
        Vuex.mapGetters(['grantsPerCountry', 'mainStats']),
        Vuex.mapState(['countries', 'event', 'registrations']), {
      }),
      methods: {
        syncEvent: function () {
          var self = this;

          if (!this.event) {
            setTimeout(function () { self.syncEvent() }, 25);
            return;
          };

          this.obj = _.clone(this.event);
        },
        updateEvent: _.debounce(function () {
          var self = this;

          Hipeac.api.request('put', VARS.eventUrl, this.obj).then(function (res) {
            Hipeac.utils.notifySuccess('Grants updated.');
            self.$store.commit('updateEvent', res.data);
            self.syncEvent();
          }).catch(function (error) {
            Hipeac.utils.notifyApiError(error);
          });
        }, 750),
        updateCountryGrants: function (code, grants) {
          this.obj.custom_data.grants_per_country[code] = grants;
          this.updateEvent();
        }
      },
      created: function () {
        this.syncEvent();
        this.$root.$on('country-grants-updated', this.updateCountryGrants);
      },
      beforeDestroy () {
        this.$root.$off('country-grants-updated');
      }
    };

    var RegistrationsView = {
      template: '#v-registrations',
      props: ['q', 'id'],
      data: function () {
        return {
          dialogVisible: false,
          query: this.q || ''
        }
      },
      computed: _.extend(
        Vuex.mapGetters(['grantsPerCountry', 'remappedRegistrations', 'simpleTracks']),
        Vuex.mapState(['event', 'courses', 'registrations']), {
        items: function () {
          if (this.query == '') return this.remappedRegistrations;
          var qs = this.query.toLowerCase().split(' ');

          return this.remappedRegistrations.filter(function (obj) {
            return _.every(qs, function (q) {
              return obj.q.indexOf(q) !== -1;
            });
          });
        }
      }),
      methods: {
        updateData: function (field, data) {
          var self = this;
          this.$set(this.event.custom_data, field, data.sort());
          Hipeac.api.request('put', VARS.eventUrl, this.event).then(function (res) {
            Hipeac.utils.notifySuccess('Registrations updated.');
            self.$store.commit('updateEvent', res.data);
          }).catch(function (error) {
            Hipeac.utils.notifyApiError(error);
          });
        },
        updateQuery: function (val) {
          this.query = val;
        }
      },
      watch: {
        query: function (val, oldVal) {
          if (val == this.$route.query.q) return;
          if (val != '' && val != oldVal) this.$router.replace({query: {q: val}});
          else this.$router.replace({query: {q: undefined}});
        }
      },
      created: function () {
        this.$root.$on('acaces-ids-updated', this.updateData);
        this.$root.$on('acaces-reg-query', this.updateQuery);
      },
      beforeDestroy () {
        this.$root.$off('acaces-ids-updated');
        this.$root.$off('acaces-reg-query');
      }
    };

    var StatsView = {
      template: '#v-stats',
      computed: _.extend(
        Vuex.mapGetters(['grantsPerCountry', 'mainStats', 'simpleTracks']),
        Vuex.mapState(['courses']), {
        countries: function () {
          return _.values(this.grantsPerCountry).sort(function (a, b) {
            return b.registrations - a.registrations || Hipeac.utils.sortText(a.country.name, b.country.name);
          });
        },
        coursesBySlot: function () {
          return _.groupBy(this.courses, 'slot');
        }
      })
    };

    var Router = new VueRouter({
      linkActiveClass: 'active',
      scrollBehavior: function (to, from) {
        if (from.name.startsWith('registrations') && from.params.id) return;
        return {x: 0, y: 0};
      },
      routes: [
        {
            path: '/',
            redirect: {name: 'stats'}
        },
        {
          name: 'registrations',
          path: '/r/:id?/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationsView,
          props: function (route) {
            return {
              q: route.query.q,
              id: +route.params.id
            };
          }
        },
        {
          name: 'emails',
          path: '/emails/',
          pathToRegexpOptions: {strict: true},
          component: EmailsView
        },
        {
          name: 'grants',
          path: '/grants/',
          pathToRegexpOptions: {strict: true},
          component: GrantsView
        },
        {
          name: 'stats',
          path: '/stats/',
          pathToRegexpOptions: {strict: true},
          component: StatsView
        }
      ]
    });

    new Vue({
      el: '#vue',
      store: Store,
      router: Router,
      computed: _.extend(
        Vuex.mapState(['event']), {
      }),
      beforeCreate: function () {
        if (this.$route.path.substr(-1) != '/') {
          this.$router.push({'path': this.$route.path + '/'});
        }
      },
      created: function () {
        this.$store.commit('getEvent');
        this.$store.commit('getRegistrations');
        this.$store.commit('getCourses');
      }
    });
  </script>
{% endcompress %}
{% endblock %}
