<script type="text/x-template" id="v-grants">
{% verbatim %}
  <div v-if="event && event.custom_data.grants_per_country" class="q-my-lg">
    <div class="row q-col-gutter-lg">
      <div class="col-12 col-md-3">
        <q-card v-if="stats" class="hipeac__card" :class="{'q-pa-sm': $q.screen.gt.xs }">
          <q-card-section>
            <display-4>Grant overview</display-4>
          </q-card-section>
          <q-list class="text-body2 q-mb-md">
            <q-item class="q-py-xs">
              <q-item-section avatar>
                <q-circular-progress show-value size="lg" font-size="12px" :value="100" color="primary" track-color="grey-3">
                  <samp><strong>{{ stats.registrations }}</strong></samp>
                </q-circular-progress>
              </q-item-section>
              <q-item-section>Registrations</q-item-section>
            </q-item>
            <q-item class="q-py-xs">
              <q-item-section avatar>
                <q-circular-progress show-value size="lg" font-size="12px" :value="(stats.admitted / stats.registrations) * 100" color="green" track-color="grey-3">
                  <samp><strong>{{ stats.admitted }}</strong></samp>
                </q-circular-progress>
              </q-item-section>
              <q-item-section>Admitted applicants</q-item-section>
            </q-item>
            <q-item class="q-py-xs">
              <q-item-section avatar>
                <q-circular-progress show-value size="lg" font-size="12px" :value="(stats.grants_requested / stats.registrations) * 100" color="blue" track-color="grey-3">
                  <samp><strong>{{ stats.grants_requested }}</strong></samp>
                </q-circular-progress>
              </q-item-section>
              <q-item-section>Grants requested</q-item-section>
            </q-item>
            <q-item class="q-py-xs">
              <q-item-section avatar>
                <q-circular-progress show-value size="lg" font-size="12px" :value="(stats.grants_available / stats.registrations) * 100" :color="(stats.grants_available < stats.grants_requested) ? 'orange' : 'green'" track-color="grey-3">
                  <samp><strong>{{ stats.grants_available }}</strong></samp>
                </q-circular-progress>
              </q-item-section>
              <q-item-section>Grants available</q-item-section>
            </q-item>
            <q-item class="q-py-xs">
              <q-item-section avatar>
                <q-circular-progress show-value size="lg" font-size="12px" :value="(stats.grants_assigned / stats.registrations) * 100" :color="(stats.grants_assigned < stats.grants_available) ? 'orange' : 'green'" track-color="grey-3">
                  <samp><strong>{{ stats.grants_assigned }}</strong></samp>
                </q-circular-progress>
              </q-item-section>
              <q-item-section>Grants assigned</q-item-section>
            </q-item>
          </q-list>
        </q-card>
      </div>
      <div class="col-12 col-md-9">
        <q-card class="hipeac__card">
          <q-card-section>
            <acaces-countries-table :grantsPerCountry="grantsPerCountry"></acaces-countries-table>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>
