<script type="text/x-template" id="v-lunch">
{% verbatim %}
  <div v-if="event && event.custom_data.lunch_groups.length && registrations.length" class="q-my-lg">
    <div class="row q-col-gutter-lg">
      <div class="col-12 col-md-9">
        <q-card class="hipeac__card q-pa-sm">
          <hipeac-search-bar v-model="query" placeholder="Search by name, lunch group..." :filters="filtersWithLunch" />
        </q-card>

        <q-card class="hipeac__card q-mt-sm q-mb-lg">
          <div :class="{'q-pa-sm': $q.screen.gt.xs }">
            <q-card-section>
              <q-table flat dense row-key="id" :data="confirmedRegistrations" :columns="table.columns" :pagination="table.pagination" :filter="query" :filter-method="customFilter">
                <template v-slot:body-cell-idx="props">
                  <q-td auto-width :props="props">
                    <samp>{{ props.rowIndex + 1 }}</samp>
                  </q-td>
                </template>
                <template v-slot:body-cell-status="props">
                  <q-td auto-width :props="props">
                    <q-icon name="check_circle" color="positive" size="16px" />
                  </q-td>
                </template>
                <template v-slot:body-cell-grant_assigned="props">
                  <q-td auto-width :props="props">
                    <q-icon v-if="props.row.grant_assigned" name="check_circle" color="positive" size="16px" />
                    <q-icon v-else name="cancel" color="grey-4" size="16px" />
                  </q-td>
                </template>
                <template v-slot:body-cell-country_code="props">
                  <q-td auto-width :props="props">
                    <country-flag :code="props.row.country.code || props.row.country.value" class="cursor-help">
                      <q-tooltip>{{ props.row.country.name || props.row.country.label }}</q-tooltip>
                    </country-flag>
                  </q-td>
                </template>
                <template v-slot:body-cell-user_gender="props">
                  <q-td auto-width :props="props">
                    <q-icon :name="{'male': 'male', 'female': 'female', 'non-binary': 'toll', null: 'toll'}[props.row.user_gender]"></q-icon>
                  </q-td>
                </template>
                <template v-slot:body-cell-dietary_requirements="props">
                  <q-td auto-width :props="props">
                    <q-icon v-if="props.row.dietary_requirements" name="restaurant" color="positive" size="16px" />
                    <q-icon v-else name="no_meals" color="grey-4" size="16px" />
                  </q-td>
                </template>
                <template v-slot:body-cell-payment_status="props">
                  <q-td auto-width :props="props">
                    <q-icon v-if="props.row.paid" name="check_circle" color="positive" size="16px" />
                    <q-icon v-else name="remove_circle" color="grey-4" size="16px" />
                  </q-td>
                </template>
                <template v-slot:body-cell-lunch_group="props">
                  <q-td auto-width :props="props">
                    <q-option-group inline @input="updateData"
                      v-model="event.custom_data.lunch_distribution[props.row.id]"
                      :options="lunchOptions" size="xs"
                    />
                  </q-td>
                </template>
              </q-table>
            </q-card-section>
          </div>
        </q-card>
      </div>
      <div class="col-12 col-md-3">
        <q-card class="hipeac__card q-mb-md">
          <div :class="{'q-pa-sm': $q.screen.gt.xs }">
            <q-card-section>
              <display-4>{{ confirmedRegistrations.length }} confirmed attendees</display-4>
            </q-card-section>
            <q-list class="q-mb-md">
              <q-item v-for="g in event.custom_data.lunch_groups" :key="g" class="q-py-xs">
                <q-item-section avatar>
                  <stats-progress :value="(stats['lunch:' + g.toLowerCase()] / confirmedRegistrations.length) * 100">{{ stats['lunch:' + g.toLowerCase()] }}</stats-progress>
                </q-item-section>
                <q-item-section>Group {{ g }}</q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>
