{% extends 'users/user/base_settings.html' %}


{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="hipeac-card">
        <h6 class="display display-sm text-left m-0 mb-3"><span>My attendance certificates</span></h6>
        <table class="table table-sm">
        {% for registration in object_list %}
          <tr>
            <td>{{ registration.event }} <small class="text-secondary">{{ registration.event.start_date | date }} - {{ registration.event.end_date | date }}</small></td>
            <td class="text-right">
              <a href="{% url 'user_certificate_pdf' registration.uuid %}" target="_blank">
                <i class="material-icons sm">cloud_download</i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
