<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div v-if="user">
        <custom-input v-model.trim="user.username" type="text" field="username" :help="'Your public profile will be at: hipeac.net/~' + user.username"></custom-input>
        <custom-input v-model.trim="user.first_name" type="text" field="first_name" :required="true"></custom-input>
        <custom-input v-model.trim="user.last_name" type="text" field="last_name" :required="true"></custom-input>
        <autocomplete-popup v-model="user.profile.institution" type="institution" field="profile.institution"></autocomplete-popup>
        <autocomplete-popup v-model="user.profile.second_institution" type="institution" field="profile.second_institution" :required="true"></autocomplete-popup>
        <markdown-textarea v-model.trim="user.profile.bio" field="profile.bio"></markdown-textarea>
        <country-select v-model="user.profile.country" field="profile.country" select-property="code" help="This is not necessarily your country of residence or your institution's country."></country-select>
        <link-fieldset v-model="user.profile.links" field="profile.links" help="External links with more information about yourself. For example, the DBLP profile will be used to show publications in your profile page."></link-fieldset>
        <hr class="my-4">
        <automatic-updates></automatic-updates>
    </div>
{% endverbatim %}
</script>
