{% extends 'base.html' %}


{% block content %}
    <div class="col col-sm-8 col-md-6 col-lg-4">
        <div class="bg-white tr-box p-4">
            <h4 class="mb-4">Your account is activated</h4>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p class="mt-4 mb-0">
                <a href="{% url 'login' %}" class="btn btn-outline-success">Log in</a>
            </p>
        </div>
    </div>
{% endblock %}
