{% extends 'base.html' %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-10 col-md-6 col-lg-3">
            <div class="d-flex justify-content-center mt-5 mb-4">
                <div class="logo-container">{% include '_hipeac_logo.html' %}</div>
            </div>
            <div class="hipeac-card">
                <h4 class="mb-4">Your account is activated</h4>
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p class="mt-4 mb-0">
                    <a href="{% url 'login' %}" class="btn btn-outline-primary">Log in</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
