{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="col col-sm-8 col-md-6 col-lg-4">
        <div class="bg-white tr-box p-4">
        {% if form %}
            <h4 class="mb-4">Enter new password</h4>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input class="btn btn-success" type="submit" value="Change my password">
            </form>
        {% else %}
            <h4 class="text-secondary mb-4">This password reset link has expired</h4>
            <p>You will need to request a new one.</p>
            <a href="{% url 'password_reset' %}" class="btn btn-outline-secondary my-4">Send me a new email</a>
        {% endif %}
        </div>
    </div>
{% endblock %}
