{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="col col-sm-8 col-md-6 col-lg-4">
        <div class="bg-white tr-box p-4">
            <h4 class="mb-4">Your registration is almost complete</h4>
            <p>FIXXXX! We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            <hr class="my-4">
            <p class="mb-0">
                <a href="/" class="text-success"><i class="material-icons mr-2">&#xE5C4;</i>hipeac.net</a>
            </p>
        </div>
    </div>
{% endblock %}
