{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block title %}Sign up - {{ block.super }}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-4">
            <div class="d-flex justify-content-center mt-5 mb-4">
                <div class="logo-container">{% include '_hipeac_logo.html' %}</div>
            </div>
            <div class="hipeac-card">
                <h4 class="mb-4">Create your HiPEAC account!</h4>
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn btn-primary mt-2" type="submit" value="Sign up">
                </form>
                <hr class="my-4">
                <p class="mb-0">
                    <a href="{% url 'login' %}">
                        <i class="material-icons sm mr-1">&#xE0DA;</i>
                        <small>Have an account? Log in</small>
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
