{% extends '__v3__/layout.html' %}

{% load compress %}
{% load static %}


{% block head_title %}Vision - {{ block.super }}{% endblock %}

{% block submenu %}
  <q-toolbar class="container">
    <q-toolbar-title :class="{'q-pl-none': $q.screen.gt.sm}">HiPEAC Vision <span v-if="$route.path.indexOf('/latest/') > -1 && vision">{% verbatim %}{{ vision.year }}{% endverbatim %}</span></q-toolbar-title>
    <hipeac-submenu-tabs v-show="answered" :menu="menu"></hipeac-submenu-tabs>
  </q-toolbar>
{% endblock %}

{% block page %}
  <div id="vars" data-vision-list="{% url 'v1:vision-list' %}" data-vision-dissemination="{% url 'v1:vision-dissemination' %}"></div>
  <router-view></router-view>
  <hipeac-submenu-fabs :menu="menu"></hipeac-submenu-fabs>
{% endblock %}

{% block vue_templates %}
  {% include './v-archive.html' with id='v-archive' %}
  {% include './v-digels.html' with id='v-digels' %}
  {% include './v-latest.html' with tbs=flatpage.page.tbs %}
{% endblock %}

{% block scripts %}
{% compress js inline %}
  <script src="{% static '__v3__/js/storage.js' %}"></script>
  <script src="{% static '__v3__/js/mixins/query.js' %}"></script>
  <script>
    var VARS = document.querySelector('#vars').dataset;

    var VisionStoreModule = {
      vision: {
        namespaced: true,
        state: {
          visions: null,
          dissemination: null,
          targetGroup: HipeacStorage.cache.get('vision.target_group')
        },
        getters: {
          vision: function (state) {
            if (state.visions) return state.visions[0];
            else return null;
          },
          articles: function (state, getters) {
            if (!getters.vision) return {};
            return getters.vision.articles.map(function (obj) {
              obj._q = [
                obj.title,
                obj.authors,
                obj.dimension,
                'dimension:' + slugify(obj.dimension).replace('-dimension', '')
              ].join(' ').toLowerCase();
              return obj;
            });
          },
          groupedArticles: function (state, getters) {
            if (!getters.vision) return {};
            return _.groupBy(getters.articles, 'dimension');
          },
          dimensions: function (state, getters) {
            return _.keys(getters.groupedArticles).map(function (k) {
              return {
                name: k,
                key: (k.indexOf('Dimension') > -1)
                  ? 'dimension:' + slugify(k).toLowerCase().replace('-dimension', '')
                  : slugify(k).toLowerCase(),
                color: {
                  'Technical Dimension': 'primary',
                  'Societal Dimension': 'green-8',
                  'European Dimension': 'purple-8',
                  'Business Dimension': 'orange-8'
                }[k] || 'grey-8'
              };
            });
          },
          answered: function (state, getters) {
            return state.targetGroup !== undefined;
          },
        },
        mutations: {
          getVisions: function (state) {
            Hipeac.api.request('GET', VARS.visionList).then(function (res) {
              state.visions = Object.freeze(res.data.map(function (obj) {
                return Hipeac.map.vision(obj);
              }));
              Quasar.Loading.hide();
            });
          },
          getDissemination: function (state) {
            Hipeac.api.request('GET', VARS.visionDissemination).then(function (res) {
              state.dissemination = Object.freeze(res.data);
            });
          },
          setTargetGroup: function (state, tg) {
            HipeacStorage.cache.set('vision.target_group', tg, 90 * 24 * 60 * 60);
            state.targetGroup = tg;
          }
        }
      }
    };

    var ArchiveView = {
      template: '#v-archive',
      computed: _.extend(
        Vuex.mapState('vision', ['visions']), {
        pastVisions: function () {
          return _.rest(this.visions);
        }
      })
    };

    var DigelsView = {
      template: '#v-digels',
      computed: _.extend(
      )
    };

    var LatestWrapperView = {
      template: '#v-latest-wrapper',
      computed: _.extend(
        Vuex.mapState('vision', ['visions', 'targetGroup']),
        Vuex.mapGetters('vision', ['vision', 'answered']), {
      })
    };

    var LatestView = {
      data: function () {
        return {
          colors: {
            'policy': 'blue-8',
            'research': 'purple-8',
            'industry': 'orange-8',
            'education': 'pink-8',
            'users': 'green-8'
          }
        };
      },
      template: '#v-latest',
      computed: _.extend(
        Vuex.mapState('vision', ['visions']),
        Vuex.mapGetters('vision', ['vision', 'groupedArticles', 'dimensions', 'answered']), {
        dimensionData: function () {
          return _.indexBy(this.dimensions, 'name');
        }
      }),
      methods: {
        selectTargetGroup: function (tg) {
          this.$store.commit('vision/setTargetGroup', tg);
          this.$router.push({ name: 'highlights' });
        }
      }
    };

    var VisionHighlightsView = {
      data: function () {
        return {
          colors: {
            'policy': 'blue-8',
            'research': 'purple-8',
            'industry': 'orange-8',
            'education': 'pink-8',
            'users': 'green-8'
          }
        };
      },
      template: '#v-highlights',
      computed: _.extend(
        Vuex.mapState('vision', ['targetGroup']), {
      }),
      methods: {
        selectTargetGroup: function (tg) {
          this.$store.commit('vision/setTargetGroup', tg);
        }
      },
      watch: {
        target: function (val) {
          if (val) this.$store.commit('vision/setTargetGroup', val);
        }
      },
      created: function () {
        this.target = this.targetGroup;
      }
    };

    var VisionArticleView = {
      template: '#v-articles',
      mixins: [QueryMixin],
      data: function () {
        return {
          search: {
            filters: [
              {
                name: 'dimension',
                options: ['technical', 'societal', 'european', 'business']
              }
            ]
          }
        };
      },
      computed: _.extend(
        Vuex.mapGetters('vision', ['vision', 'articles', 'groupedArticles', 'dimensions']), {
        filteredArticles: function () {
          return Hipeac.utils.filter(this.articles || [], this.query);
        },
        dimensionData: function () {
          return _.indexBy(this.dimensions, 'name');
        }
      })
    };

    var VisionDisseminationView = {
      template: '#v-dissemination',
      computed: _.extend(
        Vuex.mapState('vision', ['dissemination']), {
      })
    };

    var VisionDownloadsView = {
      template: '#v-downloads',
      computed: _.extend(
        Vuex.mapGetters('vision', ['vision']), {
      })
    };

    var Router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      linkActiveClass: 'active',
      scrollBehavior: function (to, from) {
        return {top: 0};
      },
      routes: [
        {
          path: '/',
          redirect: { name: 'latest' }
        },
        {
          path: '/latest/',
          pathToRegexpOptions: {strict: true},
          component: LatestWrapperView,
          children: [
            {
              name: 'latest',
              path: '',
              pathToRegexpOptions: {strict: true},
              component: LatestView
            },
            {
              name: 'highlights',
              path: 'highlights/',
              pathToRegexpOptions: {strict: true},
              component: VisionHighlightsView
            },
            {
              name: 'articles',
              path: 'articles/',
              pathToRegexpOptions: {strict: true},
              component: VisionArticleView
            },
            {
              name: 'dissemination',
              path: 'dissemination/',
              pathToRegexpOptions: {strict: true},
              component: VisionDisseminationView
            },
            {
              name: 'downloads',
              path: 'downloads/',
              pathToRegexpOptions: {strict: true},
              component: VisionDownloadsView
            }
          ]
        },
        {
          name: 'archive',
          path: '/archive/',
          pathToRegexpOptions: {strict: true},
          component: ArchiveView
        },
        {
          name: 'digels',
          path: '/digels/',
          pathToRegexpOptions: {strict: true},
          component: DigelsView
        }
      ]
    });

    var app = Vue.createApp({
      data: {
        menu: [
          {
            label: 'Latest',
            to: {name: 'latest'},
            exact: false
          },
          {
            label: 'Archive',
            to: {name: 'archive'},
            exact: true
          },
          {
            label: 'Digels',
            to: {name: 'digels'},
            exact: true
          }
        ]
      },
      mixins: [AppMixin],
      computed: _.extend(
        Vuex.mapState('vision', ['targetGroup']),
        Vuex.mapGetters('vision', ['vision', 'answered']), {
      }),
      created: function () {
        this.$q.loading.show();
        this.$store.commit('vision/getVisions');
        this.$store.commit('vision/getDissemination');
      }
    });
    Hipeac.utils.registerStoreModules(app, [HipeacCommonStoreModule, VisionStoreModule]);
    Hipeac.utils.registerComponents(app, [HipeacCommonComponents]);
    app.use(Router);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
