{% load compress %}
{% load hipeac %}


<script type="text/x-template" id="v-latest-wrapper">
{% verbatim %}
  <div v-if="vision">
    <q-card v-show="answered" class="hipeac__card q-my-lg">
      <q-tabs no-caps inline-label class="bg-white text-blue-9 q-mt-lg">
        <q-route-tab exact :to="{name: 'latest'}" icon="book" label="Overview" />
        <q-route-tab exact :to="{name: 'downloads'}" icon="download" label="Other downloads" />
        <q-route-tab exact :to="{name: 'dissemination'}" icon="monitor" label="Dissemination" />
      </q-tabs>
    </q-card>
    <router-view></router-view>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-latest">
{% verbatim %}
  <div v-if="visions" class="q-mt-lg">
    <div class="row q-col-gutter-lg">
      <div v-if="answered" class="col-12 col-md-5 align-items-stretch">
        <q-card class="hipeac__card full-height">
          <q-card-section class="q-py-none">
            <q-img v-if="vision.images.length" :src="vision.images[0].image" :width="($q.screen.gt.sm) ? '128' : '64'" class="rounded-borders" />
          </q-card-section>
        </q-card>
      </div>
      <div v-else class="col-12 col-md-6 align-items-stretch">
        <q-card class="hipeac__card full-height">
          <h2 class="text-weight-light q-mb-lg text-center">What can the HiPEAC Vision<br>do for you?</h2>
          <h5>I'm interested in...</h5>
          <q-list class="q-mt-md">
            <q-item clickable @click="selectTargetGroup('policy')" :active="targetGroup == 'policy'">
              <q-item-section avatar>
                <q-icon size="md" :color="colors['policy']" name="assured_workload" />
              </q-item-section>
              <q-item-section>
                <q-item-label>How technology developments impact <strong>policy</strong></q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-icon name="arrow_forward_ios" color="grey-8" size="xs" />
              </q-item-section>
            </q-item>
            <q-item clickable @click="selectTargetGroup('industry')" :active="targetGroup == 'industry'">
              <q-item-section avatar>
                <q-icon size="md" :color="colors['industry']" name="factory" />
              </q-item-section>
              <q-item-section>
                <q-item-label>The technology trends that will <strong>disrupt industry</strong></q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-icon name="arrow_forward_ios" color="grey-8" size="xs" />
              </q-item-section>
            </q-item>
            <q-item clickable @click="selectTargetGroup('research')" :active="targetGroup == 'research'">
              <q-item-section avatar>
                <q-icon size="md" :color="colors['research']" name="developer_board" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Future <strong>research</strong> directions in computing systems</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-icon name="arrow_forward_ios" color="grey-8" size="xs" />
              </q-item-section>
            </q-item>
            <q-item clickable @click="selectTargetGroup('education')" :active="targetGroup == 'education'">
              <q-item-section avatar>
                <q-icon size="md" :color="colors['education']" name="school" />
              </q-item-section>
              <q-item-section>
                <q-item-label>What should I <strong>teach my students</strong> about future computing systems</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-icon name="arrow_forward_ios" color="grey-8" size="xs" />
              </q-item-section>
            </q-item>
            <q-item clickable @click="selectTargetGroup('users')" :active="targetGroup == 'users'">
              <q-item-section avatar>
                <q-icon size="md" :color="colors['users']" name="family_restroom" />
              </q-item-section>
              <q-item-section>
                <q-item-label>How technology developments will affect <strong>me and my family</strong></q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-icon name="arrow_forward_ios" color="grey-8" size="xs" />
              </q-item-section>
            </q-item>
          </q-list>
        </q-card>
      </div>
      <div class="col-12 col-md">
        <q-card class="hipeac__card full-height">
          <q-card-section class="q-py-none">
            <download-btn unelevated color="blue" :href="vision.download_url" target="_blank" title="Download full document" class="q-mb-md" />
            <q-btn outline color="primary" href="https://vision.hipeac.net/" target="_blank" class="full-width q-mb-lg">Explore the rationale</q-btn>
            <marked :text="vision.introduction" class="catchphrase-first q-my-none"></marked>
            <div v-if="vision.youtube_url" class="q-mt-xl">
              <display-5>Video</display-5>
              <youtube-embed :url="vision.youtube_url"></youtube-embed>
            </div>
            <q-list class="q-mt-xl">
              <q-item clickable tag="a" :href="'https://www.google.com/search?q=%22HiPEAC+Vision+' + vision.year + '%22+-site%3Ahipeac.net+-site%3Atwitter.com'" target="_blank">
                <q-item-section avatar>
                  <q-icon color="grey" name="find_in_page" />
                </q-item-section>
                <q-item-section>
                  <q-item-label caption>Find Vision references on Google</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-highlights">
  <div v-if="targetGroup" class="row q-col-gutter-lg">
    <div class="col-12 col-md-4 align-items-stretch">
      <q-card class="hipeac__card full-height">
        <q-list class="q-mt-md">
          <q-item clickable @click="selectTargetGroup('policy')" :active="targetGroup == 'policy'" :class="{'bg-yellow-1': targetGroup == 'policy'}">
            <q-item-section avatar>
              <q-icon size="md" :color="colors['policy']" name="assured_workload" />
            </q-item-section>
            <q-item-section>
              <q-item-label>How technology developments impact <strong>policy</strong></q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon name="arrow_forward_ios" color="grey-8" size="xs" />
            </q-item-section>
          </q-item>
          <q-item clickable @click="selectTargetGroup('industry')" :active="targetGroup == 'industry'" :class="{'bg-yellow-1': targetGroup == 'industry'}">
            <q-item-section avatar>
              <q-icon size="md" :color="colors['industry']" name="factory" />
            </q-item-section>
            <q-item-section>
              <q-item-label>The technology trends that will <strong>disrupt industry</strong></q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon name="arrow_forward_ios" color="grey-8" size="xs" />
            </q-item-section>
          </q-item>
          <q-item clickable @click="selectTargetGroup('research')" :active="targetGroup == 'research'" :class="{'bg-yellow-1': targetGroup == 'research'}">
            <q-item-section avatar>
              <q-icon size="md" :color="colors['research']" name="developer_board" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Future <strong>research</strong> directions in computing systems</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon name="arrow_forward_ios" color="grey-8" size="xs" />
            </q-item-section>
          </q-item>
          <q-item clickable @click="selectTargetGroup('education')" :active="targetGroup == 'education'" :class="{'bg-yellow-1': targetGroup == 'education'}">
            <q-item-section avatar>
              <q-icon size="md" :color="colors['education']" name="school" />
            </q-item-section>
            <q-item-section>
              <q-item-label>What should I <strong>teach my students</strong> about future computing systems</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon name="arrow_forward_ios" color="grey-8" size="xs" />
            </q-item-section>
          </q-item>
          <q-item clickable @click="selectTargetGroup('users')" :active="targetGroup == 'users'" :class="{'bg-yellow-1': targetGroup == 'users'}">
            <q-item-section avatar>
              <q-icon size="md" :color="colors['users']" name="family_restroom" />
            </q-item-section>
            <q-item-section>
              <q-item-label>How technology developments will affect <strong>me and my family</strong></q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon name="arrow_forward_ios" color="grey-8" size="xs" />
            </q-item-section>
          </q-item>
        </q-list>
      </q-card>
    </div>
    <div class="col-12 col-md align-items-stretch">
      <q-card class="hipeac__card full-height">
        <div v-if="targetGroup == 'policy'">{% include './v-highlights-policy.html' %}</div>
        <div v-else-if="targetGroup == 'industry'">{% include './v-highlights-industry.html' %}</div>
        <div v-else-if="targetGroup == 'research'">{% include './v-highlights-research.html' %}</div>
        <div v-else-if="targetGroup == 'education'">{% include './v-highlights-education.html' %}</div>
        <div v-else-if="targetGroup == 'users'">{% include './v-highlights-users.html' %}</div>
      </q-card>
    </div>
  </div>
</script>

<script type="text/x-template" id="v-articles">
{% verbatim %}
  <q-card class="hipeac__card q-pa-lg" v-if="vision && vision.articles.length">
    <hipeac-search-bar v-model="query" placeholder="Search by title, authors, dimension..." :filters="search.filters" class="q-mb-lg" />
    <div class="row q-col-gutter-md">
      <div v-for="item in filteredArticles" :key="item.id" class="col-12 col-md-3">
        <q-card flat bordered class="column full-height q-px-md">
          <q-card-section class="q-pt-xs">
            <div class="text-overline" :class="'text-' + dimensionData[item.dimension].color">{{ item.dimension }}</div>
            <div class="text-h6 q-mb-sm">{{ item.title }}</div>
            <div class="text-caption text-grey-8">{{ item.authors }}</div>
          </q-card-section>
          <q-space />
          <q-card-section class="text-body2">{{ item.abstract }}</q-card-section>
          <q-separator />
          <q-card-actions>
            <q-btn flat type="a" :href="(item.doi_url) ? item.doi_url : item.download_url" target="_blank" color="grey">Download</q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </div>
  </q-card>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-dissemination">
{% verbatim %}
  <q-card class="hipeac__card q-pa-lg" v-if="dissemination">
    <q-list>
      <q-item v-for="dis in dissemination" clickable tag="a" :href="dis.external_url" target="_blank">
        <q-item-section avatar>
          <q-avatar color="blue-2" text-color="white" icon="monitor" />
        </q-item-section>
        <q-item-section>
          <q-item-label caption>{{ dis.date }}</q-item-label>
          <q-item-label>{{ dis.event }}</q-item-label>
          <q-item-label caption>{{ dis.description }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-downloads">
{% verbatim %}
  <q-card class="hipeac__card q-pa-lg" v-if="vision">
    <q-list>
      <q-item v-if="$q.screen.gt.sm && vision.download_url" clickable tag="a" :href="vision.download_url" target="_blank">
        <q-item-section avatar>
          <q-avatar color="primary" text-color="white" icon="file_download" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ vision.title }}</q-item-label>
          <q-item-label caption>https://www.hipeac.net{{ vision.download_url }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item v-for="file in vision.files" clickable tag="a" :href="file.url" target="_blank">
        <q-item-section avatar>
          <q-avatar color="blue-2" text-color="white" icon="file_download" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ file.description }}</q-item-label>
          <q-item-label caption>{{ file.url }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item clickable tag="a" href="https://zenodo.org/record/7143895" target="_blank">
        <q-item-section avatar>
          <q-avatar color="blue-2" text-color="white" icon="content_paste_go" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Safety-Critical Collaborative Systems: Convergence to future Cyber-Physical Systems</q-item-label>
          <q-item-label caption>https://zenodo.org/record/7143895</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
{% endverbatim %}
</script>
