{% extends 'editor.html' %}


{% block subtitle %}
{% verbatim %}
    <span v-cloak>
        <small v-if="isNew">Add new position</small>
        <small v-else><span v-if="obj">Position #{{ obj.id }} / {{ obj.institution.short_name }}</span></small>
    </span>
{% endverbatim %}
{% endblock %}

{% block obj %}
    <script>
        var OBJ = {
            id: null,
            title: '',
            institution: null,
            project: null,
            positions: 1,
            employment_type: {
                id: 16,
                value: 'Full-time'
            },
            country: {
                code: 'BE',
                name: 'Belgium'
            },
            application_areas: [],
            topics: [],
            deadline: moment().add(60, 'days').format('YYYY-MM-DD')
        };
    </script>
{% endblock %}

{% block vue_templates %}
{% verbatim %}
    <script type="text/x-template" id="v-editor">
        <div v-if="obj" class="hipeac-card">
            <hipeac-logo class="hipeac logo-sm ml-3 mb-3 float-right"></hipeac-logo>
            <display-sm>Please add a detailed description of the job offer and fill in the Career level section of the form to target specific HiPEAC users. The job will be automatically shared on HiPEAC's Twitter and LinkedIn accounts.</display-sm>
            <form class="mt-4">
                <autocomplete-popup v-model="obj.institution" type="institution" field="institution"></autocomplete-popup>
                <autocomplete-popup v-model="obj.project" type="project" field="project"></autocomplete-popup>
                <custom-input v-model.trim="obj.title" type="text" field="title"></custom-input>
                <div class="form-row">
                    <div class="col-12 col-md-6">
                        <metadata-select v-model="obj.employment_type" type="employment_type" field="employment_type"></metadata-select>
                    </div>
                    <div class="col-12 col-md-6">
                        <custom-input v-model.trim="obj.positions" type="number" field="positions" :default="1"></custom-input>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-6">
                        <custom-input v-model.trim="obj.location" type="text" field="location"></custom-input>
                    </div>
                    <div class="col-12 col-md-6">
                        <country-select v-model="obj.country" select-property="code" field="country"></country-select>
                    </div>
                </div>
                <metadata-checkboxes v-model="obj.career_levels" type="job_position" field="career_levels"></metadata-checkboxes>
                <div class="form-row">
                    <div class="col-12 col-md-6">
                        <date-input v-model.trim="obj.deadline" field="deadline"></date-input>
                    </div>
                    <div class="col-12 col-md-6">
                        <custom-input v-model.trim="obj.email" type="email" field="email" placeholder="Recommended"></custom-input>
                    </div>
                </div>
                <markdown-textarea v-model.trim="obj.description" field="description" help="Preferably, do not include a contact email directly in the description; use the `Contact email` field instead."></markdown-textarea>
                <metadata-checkboxes v-model="obj.topics" type="topic" field="topics" sorting="value"></metadata-checkboxes>
                <metadata-checkboxes v-model="obj.application_areas" type="application_area" field="application_areas" sorting="value"></metadata-checkboxes>
            </form>
            <hr class="my-4">
            <button v-if="isNew" @click="createObj" class="btn btn-success btn-block">
                <icon name="save" class="sm mr-1"></icon>Add new position</button>
            <button v-else class="btn btn-block btn-light" disabled>
                <icon name="autorenew" class="sm mr-1"></icon>Automatic updates active</button>
        </div>
    </script>
    <script type="text/x-template" id="v-preview">
        <div v-if="obj" class="row">
            <div class="col-12">
                <button class="btn btn-sm btn-outline-primary mb-4 mr-2" disabled>Type: {{ obj.employment_type.value }}</button>
                <button class="btn btn-sm btn-outline-danger mb-4" disabled>Deadline: {{ obj.deadline | moment }}</button>
                <h2 class="display-lg mb-4">{{ obj.title }}</h2>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <metadata-badges title="Topics" :items="obj.topics" color="secondary"></metadata-badges>
                    </div>
                    <div class="col-12 col-md-6">
                        <metadata-badges title="Application areas" :items="obj.application_areas" color="secondary"></metadata-badges>
                    </div>
                </div>
                <marked :text="obj.description"></marked>
            </div>
        </div>
    </script>
{% endverbatim %}
{% endblock %}
