{% load hipeac %}
{% load static %}


<script type="text/x-template" id="{{ id }}">
  <div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="hipeac-card">
          <div class="marked catchphrase-first">{{ blck.content | markdown }}</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-8 d-flex align-items-stretch">
        <div class="hipeac-card">
          <div class="row">
            <div class="col-12 col-md-4 d-flex align-items-stretch">

            </div>
            <div class="col-12 col-md-4 d-flex align-items-stretch">

            </div>
            <div class="col-12 col-md-4 d-flex align-items-stretch">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
