{% load hipeac %}


<script type="text/x-template" id="{{ id }}">
    <div>
        <display-lg>{{ blck.header }}</display-lg>
        {% verbatim %}
        <search-card placeholder="Search videos by title, member, topic or keywords..." class="mb-2">
            <div v-if="topics">
                <h6 class="d-inline display-sm mr-2">Topics</h6>
                <div v-for="topic in topics" :key="topic.id" class="form-check form-check-inline mr-2">
                    <label class="form-check-label pointer">
                        <input v-model="filters.topics" :value="topic.id" type="checkbox" class="form-check-input">
                        <span v-html="topic.value"></span>
                    </label>
                </div>
            </div>
        </search-card>
        <search-results v-if="videos && filteredIds.length < videos.length" :count="filteredIds.length"></search-results>
        <video-cards v-if="videos" :items="videos" :ids="filteredIds"></video-cards>
        <skeleton-cards v-else></skeleton-cards>
        {% endverbatim %}
    </div>
</script>
