{% load static %}


<div class="hipeac__footer">
  <div class="text-grey-9 q-py-lg">
    <div class="container">
      <hipeac-social-media class="q-mb-md"></hipeac-social-media>
      <q-separator></q-separator>
      <div class="row justify-between q-mt-lg">
        <div class="col-12 col-md-9">
          <p class="text-caption"><strong>&copy; 2004-{% now 'Y' %} High Performance, Edge And Cloud computing</strong><br>The HiPEAC project has received funding from the European Union's Horizon Europe research and innovation funding programme under grant agreement number 101069836. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union. Neither the European Union nor the granting authority can be held responsible for them.”</p>
        </div>
        <div class="col-12 col-md-3">
          <div class="q-gutter-x-lg">
            <img class="float-right" src="{% static 'images/eu-horizon.svg' %}" style="height:40px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
