{% load hipeac %}


<script type="text/x-template" id="{{ id }}">
    <div>
        <display-lg>{{ display }}</display-lg>
        <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-stretch">
                <div class="hipeac-card">
                    {{ blck.content }}
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-stretch">
                <div class="hipeac-card">
                    <event-list :items="upcomingEvents"></event-list>
                </div>
            </div>
        </div>
        <quotes-carousel-row types="acaces,conference,csw,roadshow"></quotes-carousel-row>
    </div>
</script>
