{% load hipeac %}


<script type="text/x-template" id="{{ id }}">
    <div>
        <display-lg>{{ display }}</display-lg>
        <div class="row">
            <div class="col-12 d-flex align-items-stretch">
                <div class="hipeac-card">
                    {{ blck.content }}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="mt-5 col-12 col-md-8">
                <quotes-carousel types="acaces,conference,csw"></quotes-carousel>
            </div>
        </div>
    </div>
</script>
