<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div>
        <display-lg>HiPEAC organizes four networking events per year: the HiPEAC Conference, two Computing Systems Weeks and a Summer School.</display-lg>
        <div class="row">
            <div class="col-12 d-flex align-items-stretch">
                <div class="hipeac-card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit nibh, volutpat in rutrum a, varius vitae sapien. Proin sit amet pharetra tellus. Quisque rutrum tellus id neque interdum semper. Quisque non volutpat nibh. Aliquam ac neque ut orci imperdiet feugiat. Nulla purus tellus, ullamcorper convallis ante in, tincidunt varius mauris. Sed quis volutpat sapien, vitae varius lectus. Integer suscipit pellentesque magna, quis pulvinar augue elementum id. Quisque sit amet arcu non metus laoreet imperdiet. In et urna nec arcu laoreet dignissim. Phasellus pulvinar ex vel leo fermentum, eu sollicitudin augue pretium. Donec interdum mi nec libero scelerisque, quis ultrices tortor tincidunt. Nam cursus gravida erat, non varius erat pharetra hendrerit. Aliquam eleifend sollicitudin neque, a dignissim nulla vulputate fermentum.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="mt-5 col-12 col-md-8">
                <quotes-carousel types="acaces,conference,csw"></quotes-carousel>
            </div>
        </div>
    </div>
{% endverbatim %}
</script>
