{% load hipeac %}


<script type="text/x-template" id="{{ id }}">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="hipeac-card marked">
                <catchphrase>{{ blck.header }}</catchphrase>
                {{ blck.content | markdown }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <loading v-if="!groupedEvents"></loading>
            <div v-else class="hipeac-card">
                <event-list :items="groupedEvents.acaces"></event-list>
            </div>
        </div>
        <quotes-carousel-row types="acaces"></quotes-carousel-row>
    </div>
</script>
