{% extends 'account/base.html' %}


{% block head_title %}Sign out - {{ block.super }}{% endblock %}

{% block content %}
    <h4 class="header">Sign out</h4>
    <p class="content">Are you sure you want to sign out of HiPEAC.net? </p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="btn btn-outline-secondary mt-3">Yes, please</button>
    </form>
{% endblock %}
