{% extends 'account/base.html' %}


{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}Reset your password - {{ block.super }}{% endblock %}

{% block content %}
  <h4 class="header">Reset your password</h4>

  {% if user.is_authenticated %}
    {% include 'account/snippets/already_logged_in.html' %}
  {% endif %}

  <p>Forgotten your password? Enter your email address and we will send you a link to reset it.</p>
  <form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-outline-primary mt-3">Send reset instructions</button>
  </form>
  <hr>
  <p class="m-0 small">Please <a href="mailto:webmaster@hipeac.net">contact us</a> if you have any trouble resetting your password.</p>
{% endblock %}
