{% extends 'account/base.html' %}

{% load crispy_forms_tags %}


{% block head_title %}Change password - {{ block.super }}{% endblock %}

{% block content %}
  {% if token_fail %}
    <h4 class="header text-danger">Bad token</h4>
    <p class="content">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
  {% else %}
    <h4 class="header">Enter new password</h4>
    {% if form %}
      <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary mt-3">Change password</button>
      </form>
    {% else %}
      <p class="content">Your password is now changed.</p>
    {% endif %}
  {% endif %}
{% endblock %}
