{% extends '__v3__/layout.html' %}

{% load compress %}
{% load hipeac %}
{% load static %}


{% block head_title %}Editor - {{ block.super }}{% endblock %}

{% block menu_scripts %}
  <script type="text/javascript">
    var HIPEAC_MENU = [];
  </script>
{% endblock %}

{% block header %}
  <div id="vars" data-back-url="{% block back_url %}/{% endblock %}" data-base-url="{{ base_url }}" data-obj-id="{{ obj_id | default:'0' }}"></div>
{% endblock %}

{% block submenu_color %}bg-grey-9{% endblock %}

{% block submenu %}
  <q-toolbar class="container bg-grey-9">
    <q-btn v-if="backUrl" type="a" :href="backUrl" flat round v-close-popup icon="arrow_back" class="q-mr-sm"></q-btn>
    <q-toolbar-title v-if="isNew" :class="{'q-pl-none': $q.screen.gt.sm}">
      <span>Create {% verbatim %}{{ modelName }}{% endverbatim %}</span>
    </q-toolbar-title>
    <q-toolbar-title v-else :class="{'q-pl-none': $q.screen.gt.sm}">
      <span v-if="obj">{% verbatim %}{{ modelName }} #{{ obj.id }}{% endverbatim %}</span>
    </q-toolbar-title>
    <q-space></q-space>
    {% block save_button %}<q-btn unelevated @click="save" label="Save" color="primary"></q-btn>{% endblock %}
  </q-toolbar>
{% endblock %}

{% block scripts %}
{% compress js file __v3__editor %}
  <script src="{% static '__v3__/js/components/forms.js' %}"></script>
  <script src="{% static '__v3__/js/mixins/uploader.js' %}"></script>
  <script type="text/javascript">
    var VARS = document.querySelector('#vars').dataset;

    var EditorStoreModule = {
      editor: {
        namespaced: true,
        state: {
          modelName: '{% block model_name %}{% endblock %}',
          isNew: +VARS.objId == 0,
          obj: null
        },
        mutations: {
          getObject: function (state) {
            if (state.isNew) {
              state.obj = {};
              Quasar.Loading.hide();
              return;
            }

            Hipeac.api.request('GET', VARS.baseUrl + VARS.objId + '/', {
              headers:{
                'Cache-Control': 'no-cache',
              }
            }).then(function (res) {
              state.obj = res.data;
              Quasar.Loading.hide();
            });
          },
          saveObj: function (state, payload) {
            if (state.isNew) {
              var url = VARS.baseUrl;
              var method = 'POST';
            } else {
              var url = payload.self;
              var method = 'PUT';
            }

            Hipeac.api.request(method, url, payload).then(function (res) {
              state.obj = res.data;
              state.isNew = false;
              Hipeac.utils.notify(state.modelName + ' updated.');
            }).catch(function (error) {
              Hipeac.utils.notifyApiError(error);
            });
          }
        }
      }
    };

    var app = Vue.createApp({
      mixins: [AppMixin, UploaderMixin],
      computed: _.extend(
        Vuex.mapState('editor', ['isNew', 'modelName', 'obj']), {
        backUrl: function () {
          return (this.obj)
            ? (_.has(this.obj, 'href') ? this.obj.href : this.obj.url)
            : VARS.backUrl;
        }
      }),
      methods: {
        save: function () {
          this.$store.commit('editor/saveObj', this.obj);
        }
      },
      created: function () {
        this.$q.loading.show();
        this.$store.commit('editor/getObject');
      }
    });
    Hipeac.utils.registerStoreModules(app, [
      HipeacCommonStoreModule,
      EditorStoreModule
    ]);
    Hipeac.utils.registerComponents(app, [
      HipeacCommonComponents,
      HipeacFormComponents
    ]);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
