{% extends './base.html' %}


{% block model_name %}Job fair{% endblock %}

{% block page %}
  <q-card v-if="obj" class="hipeac__card q-mt-lg q-mb-md">
    <div class="row q-col-gutter-lg">
      <q-input filled v-model="obj.name" label="Job fair" type="text" class="col-12" readonly></q-input>
      <q-input filled dense v-model="obj.city" label="City" type="text" class="col-12 col-sm-6 col-md-3"></q-input>
      <hipeac-country-select v-model="obj.country" :eu-only="true" label="Country *" class="col-12 col-sm-6 col-md-3"></hipeac-country-select>
      <hipeac-markdown v-model="obj.presentation" label="Presentation *" class="col-12"></hipeac-markdown>
      <hipeac-search-rel-select v-model="obj.rel_institutions" :initial-options="obj.institutions" type="institution" label="Companies involved" class="col-12"></hipeac-search-rel-select>
    </div>
    <div>
      <p class="text-body2 q-mt-lg q-mb-md">You can add links to external websites here to complete the job information. If no external website is added, a contact email will be required.</p>
      <hipeac-link-list v-model="obj.links" label="External links" />
    </div>
  </q-card>
{% endblock %}

{% block save_button %}
  <q-btn v-if="obj" unelevated @click="save" label="Save" color="primary" :disable="!obj.name || !obj.presentation || !obj.country"></q-btn>
{% endblock %}
