{% extends './base.html' %}


{% block model_name %}Session{% endblock %}

{% block page %}
  <q-card v-if="obj" class="hipeac__card q-mt-lg q-mb-md">
    <div class="row q-col-gutter-lg">
      <q-input filled v-model="obj.title" label="Title *" type="text" class="col"></q-input>
      <hipeac-markdown v-model="obj.summary" label="Summary" class="col-12"></hipeac-markdown>
      <hipeac-markdown v-model="obj.program" :show-hint="false" label="Program" class="col-12"></hipeac-markdown>
      <hipeac-markdown v-model="obj.organizers" :show-hint="false" label="Organizers" class="col-12"></hipeac-markdown>
      <hipeac-metadata-rel-select v-model="obj.rel_topics" type="topic" label="Session topics" class="col-12 col-md-6"></hipeac-metadata-rel-select>
      <hipeac-metadata-rel-select v-model="obj.rel_application_areas" type="application_area" label="Application areas" class="col-12 col-md-6"></hipeac-metadata-rel-select>
      <hipeac-search-rel-select v-model="obj.rel_institutions" :initial-options="obj.institutions" type="institution" :label="(obj.type.value == 'Industrial Session') ? 'Companies presenting' : 'Institutions involved'" class="col-12 col-sm-6"></hipeac-search-rel-select>
      <hipeac-search-rel-select v-model="obj.rel_projects" :initial-options="obj.projects" type="project" :label="(obj.type.value == 'Industrial Session') ? 'Projects presenting' : 'Projects involved'" class="col-12 col-sm-6"></hipeac-search-rel-select>
    </div>
    <div>
      <p class="text-body2 q-mt-lg q-mb-md">You can add links to external websites here, to complete the session information.</p>
      <hipeac-link-list v-model="obj.links" label="External links" />
    </div>
    <q-separator class="q-my-lg"></q-separator>
    <h6>Session files</h6>
    <div class="row q-col-gutter-lg">
      <div class="col-12 text-body2">You can include session files here. All files need to be uploaded as a PDF and they will be shared with all attendees of the event. Files will <strong>not</strong> be accessible by regular HiPEAC users not attending this event.</div>
      <q-uploader ref="uploader" flat auto-upload accept=".pdf" :max-file-size="3145728" :max-files="20" :factory="uploaderFactory" @failed="uploadFailed" @rejected="uploadRejected" @uploaded="uploaded" class="col-12 col-md-6"></q-uploader>
      <hipeac-file-list :files="obj.files" class="col-12 col-md-6"></hipeac-file-list>
    </div>
  </q-card>
{% endblock %}

{% block save_button %}
  <q-btn v-if="obj" unelevated @click="save" label="Save" color="primary" :disable="!obj.title"></q-btn>
{% endblock %}
