{% extends 'layout.html' %}

{% load compress %}
{% load hipeac %}
{% load static %}


{% block head_title %}Tech Transfer Awards - {{ block.super }}{% endblock %}


{% block subtitle %}HiPEAC Research{% endblock %}

{% block submenu %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'research' %}"><i class="material-icons mr-1">arrow_back</i>Back</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-8">
                <div class="hipeac-card">
                    <h5>Tech Transfer Awards: public summary</h5>
                    <table class="table table-sm">
                    {% for application in object_list %}
                        {% ifchanged application.call %}
                            </table>
                            <h6 class="display-sm mb-3">{{ application.call }}</h6>
                            <table class="table table-sm">
                        {% endifchanged %}
                        <tr>
                            <td><i class="material-icons sm">compare_arrows</i></td>
                            <td><span>{{ application.title }} </span>
                                {% if application.team_string %}
                                    <small class="text-secondary">{{ application.team_string }}</small>
                                {% else %}
                                    <small class="text-secondary">
                                    {% for person in application.team.all %}
                                        {% if person.id == application.awardee.id %}
                                            <a href="{{ person.profile.get_absolute_url }}">{{ person.profile.name }}*</a><span>{% if not forloop.last %}, {% endif %}</span>
                                        {% else %}
                                            <span>{{ person.profile.name }}{% if not forloop.last %}, {% endif %}</span>
                                        {% endif %}
                                    {% endfor %}
                                    </small>
                                {% endif %}
                            </td>
                            <td>
                                {% if application.awarded_summary %}
                                    <i data-toggle="modal" data-target="#applicationModal{{ application.id }}" class="material-icons sm text-primary pointer">info</i>
                                    <div id="applicationModal{{ application.id }}" class="modal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-light pb-0">
                                                    <ul class="nav nav-tabs d-flex w-100">
                                                        <li class="nav-item pointer ml-auto">
                                                            <a data-dismiss="modal" class="nav-link"><i class="material-icons">close</i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="modal-body">
                                                    <h5 class="display display-md mt-0 mb-4 text-left"><span>{{ application.title }}</span></h5>
                                                    {% if application.team_string %}
                                                        <p class="text-sm mb-3">{{ application.team_string }}</p>
                                                    {% endif %}
                                                    {{ application.awarded_summary | markdown }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% compress js inline %}
    <script>
        new Vue({
            el: '#vue'
        });
    </script>
{% endcompress %}
{% endblock %}
