{% extends 'v2/layout.html' %}

{% load compress %}
{% load hipeac %}
{% load static %}


{% block head_title %}{{ event }} - {{ block.super }}{% endblock %}

{% block submenu %}
  <q-toolbar class="container">
    <q-toolbar-title :class="{'q-pl-none': $q.screen.gt.sm}">{{ event }}</q-toolbar-title>
    <q-tabs v-if="$q.screen.gt.sm" stretch inline-label no-caps mobile-arrows>
      <q-route-tab exact :to="{name: 'about'}" label="About"></q-route-tab>
      {% if event.is_ready %}
        <q-route-tab :to="{name: (slots.length) ? 'courses' : 'program' }" label="Courses"></q-route-tab>
      {% endif %}
      {% if event.is_virtual %}
        <q-route-tab exact :to="{name: 'logistics'}" label="Logistics"></q-route-tab>
      {% else %}
        <q-route-tab exact :to="{name: 'venue'}" label="Venue and travel"></q-route-tab>
      {% endif %}
      <!--{% if user.is_authenticated %}
        <q-route-tab exact :to="{name: 'attendees'}" label="Attendees"></q-route-tab>
      {% endif %}
      <q-route-tab v-if="event && event.is_open_for_registration" exact :to="{name: 'registration'}" :label="(user.registration) ? 'My registration' : 'Register'" icon="edit"></q-route-tab>-->
    </q-tabs>
  </q-toolbar>
{% endblock %}

{% block page %}
  <div id="vars" data-event-url="{% url 'v1:event-detail' event.id %}" data-courses-url="{% url 'v1:event-courses' event.id %}" data-registrations-url="{% url 'v1:event-registrations' event.id %}"></div>
  <router-view></router-view>
  <q-page-sticky position="bottom-right" :offset="[18, 18]">
    <q-fab v-if="!$q.screen.gt.sm" icon="menu" direction="up" vertical-actions-align="right" color="primary">
      <q-fab-action exact :to="{name: 'about'}" color="white" text-color="dark" label="About"></q-fab-action>
      {% if event.is_ready %}
        <q-fab-action exact :to="{name: (slots.length) ? 'courses' : 'program' }" color="white" text-color="dark" label="Courses"></q-fab-action>
      {% endif %}
      {% if event.is_virtual %}
        <q-fab-action exact :to="{name: 'logistics'}" color="white" text-color="dark" label="Logistics"></q-fab-action>
      {% else %}
        <q-fab-action exact :to="{name: 'venue'}" color="white" text-color="dark" label="Venue and travel"></q-fab-action>
      {% endif %}
      <!--{% if user.is_authenticated %}
        <q-fab-action exact :to="{name: 'attendees'}" color="white" text-color="dark" label="Attendees"></q-fab-action>
      {% endif %}
      <q-fab-action exact :to="{name: 'registration'}" color="white" text-color="dark" :label="(user.registration) ? 'My registration' : 'Register'"></q-fab-action>-->
    </q-fab>
  </q-page-sticky>
{% endblock %}

{% block vue_templates %}
  {% include './v-about.html' with event=event year=event.year %}
  {% include './v-course.html' %}
  {% include './v-program.html' %}
  {% if event.slug == 'fiuggi' %}
    {% include './v-venue-fiuggi.html' %}
  {% endif %}
  {% include '../_shared/v-attendees.html' %}
  {% include '../_shared/v-logistics.html' %}
  {% include '../_shared/v-session.html' %}
{% endblock %}

{% block scripts %}
{% compress js file events_acaces %}
  <script src="{% static 'js_v2/components/program.js' %}"></script>
  <script src="{% static 'js_v2/components/users.js' %}"></script>
  <script>
    var VARS = document.querySelector('#vars').dataset;

    var Store = new Vuex.Store({
      state: {
        event: null,
        courses: [],
        attendees: [],
        course: null,
        session: null,
        user: {
          isAuthenticated: USER_IS_AUTHENTICATED,
          registration: undefined,
          links: [],
          tz: USER_TZ
        }
      },
      getters: {
        slots: function (state) {
          if (!state.courses.length) return [];

          var slots = {};
          _.each(state.courses, function (course) {
            try {
              var s = course.custom_data.slot;
              if (!_.has(slots, s) && s) {
                slots[s] = [];
              }
              slots[s].push({
                title: course.title,
                teachers: course.teachers
              });
            } catch (err) {}
          });

          if (_.size(slots) == 0) return [];

          return _.map(_.map(_.keys(slots), Number).sort(), function (k) {
            return {
              id: k,
              color: ['white', 'blue', 'red', 'green', 'orange', 'purple', 'cyan'][k],
              courses: _.sortBy(slots[k], 'title')
            };
          });
        }
      },
      mutations: {
        getEvent: function (state) {
          Hipeac.api.get(VARS.eventUrl).then(function (res) {
            state.event = Object.freeze(Hipeac.map.event(res.data));
          });
        },
        fetchCourses: function (state) {
          Hipeac.api.get(VARS.coursesUrl).then(function (res) {
            state.courses = Object.freeze(res.data.map(function (obj) {
              return Hipeac.map.course(obj);
            }));
          });
        },
        getRegistrations: function (state) {
          if (!USER_IS_AUTHENTICATED) return;

          Hipeac.api.get(VARS.registrationsUrl).then(function (res) {
            state.attendees = Object.freeze(res.data.map(function (obj) {
              return Hipeac.map.user(obj.user);
            }));
          });
        },
        updateCourse: function (state, data) {
          state.course = Object.freeze(data);
        },
        updateSession: function (state, data) {
          state.session = Object.freeze(data);
        }
      }
    });

    var AboutView = {
      template: '#v-about',
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'courses']), {
      })
    };

    var AttendeesView = {
      template: '#v-attendees',
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'attendees']), {
        institutions: function () {
          return extractInstitutions(this.attendees);
        }
      })
    };

    var ProgramView = {
      template: '#v-program',
      computed: _.extend(
        Vuex.mapGetters(['slots']),
        Vuex.mapState(['event', 'courses']), {
      })
    };

    var ProgramCoursesView = {
      template: '#v-program-courses',
      data: function () {
        return {
        }
      },
      computed: _.extend(
        Vuex.mapGetters(['slots']),
        Vuex.mapState(['user', 'event', 'courses']), {
        }
      )
    };

    var ProgramMainView = {
      template: '#v-program-main',
      data: function () {
        return {
          q: '',
          dialog: false,
          filtered: false,
          conflicts: false,
          viewAllSessions: false,
          filters: {
            topics: []
          }
        }
      },
      computed: _.extend(
        Vuex.mapGetters(['slots']),
        Vuex.mapState(['user', 'event', 'courses']), {
        topics: function () {
          if (!this.event) return [];
          return extractMetadata(this.courses, 'topics');
        }
      }),
      methods: {
        updateQuery: function (val) {
          this.q = val;
        }
      }
    };

    var ProgramLecturersView = {
      template: '#v-program-lecturers',
      data: function () {
        return {
        }
      },
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'courses']), {
        }
      )
    };

    var CourseView = {
      template: '#v-course',
      props: ['id'],
      data: function () {
        return {
          dialog: true,
        }
      },
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'courses', 'course']),
        Vuex.mapGetters(['links']), {
        userIsRegistered: function () {
          if (!this.user.registration) return false;
          return _.contains(this.user.registration.courses, +this.id);
        },
        userLink: function () {
          if (!this.user.registration) return null;
          return _.findWhere(this.links, {session: +this.id}) || null;
        }
      }),
      methods: {
        getCourse: function () {
          var self = this;

          if (!this.event) {
            setTimeout(function () { self.getCourse() }, 25);
            return;
          };

          var course = _.findWhere(this.courses, {id: +this.id});
          this.$store.commit('updateCourse', course);
        },
        hideDialog: function () {
          this.$router.push({name: 'program'});
          this.$store.commit('updateCourse', null);
        }
      },
      created: function () {
        this.getCourse();
      }
    };

    var CourseMainView = {
      template: '#v-course-main',
      computed: _.extend(
        Vuex.mapState(['event', 'course']), {
      }),
    };

    var CourseAttendeesView = {
      template: '#v-course-attendees',
      data: function () {
        return {
          attendees: []
        }
      },
      props: ['sessionId'],
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'course']), {
        institutions: function () {
          return extractInstitutions(this.attendees);
        }
      }),
      methods: {
        fetchAttendees: function () {
          var self = this;
          api().getCourseAttendees(this.sessionId).done(function (res) {
            self.attendees = Object.freeze(mapper().users(res.map(function (obj) {
              return obj.user;
            })));
          });
        }
      },
      created: function () {
        this.fetchAttendees();
      }
    };

    var CourseDownloadsView = {
      template: '#v-course-downloads',
      computed: _.extend(
        Vuex.mapState(['event', 'course']), {
      }),
    };

    var CourseTeachersView = {
      template: '#v-course-teachers',
      computed: _.extend(
        Vuex.mapState(['event', 'course']), {
      }),
    };

var SessionView = {
      template: '#v-session',
      props: ['id'],
      data: function () {
        return {
          dialog: true,
        }
      },
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'session']),
        Vuex.mapGetters(['links']), {
        userIsRegistered: function () {
          if (!this.user.registration) return false;
          return _.contains(this.user.registration.sessions, +this.id);
        },
        userLink: function () {
          if (!this.user.registration) return null;
          return _.findWhere(this.links, {session: +this.id}) || null;
        }
      }),
      methods: {
        getSession: function () {
          var self = this;

          if (!this.event) {
            setTimeout(function () { self.getSession() }, 25);
            return;
          };

          var session = _.findWhere(this.event.sessions, {id: +this.id});
          this.$store.commit('updateSession', session);
          Hipeac.api.get(session.url).then(function (res) {
            self.$store.commit('updateSession', Hipeac.map.session(res.data));
          });
        },
        hideDialog: function () {
          this.$router.push({name: 'program'});
          this.$store.commit('updateSession', null);
        }
      },
      created: function () {
        this.getSession();
      }
    };

    var SessionMainView = {
      template: '#v-session-main',
      computed: _.extend(
        Vuex.mapState(['event', 'session']), {
      }),
    };

    var SessionAttendeesView = {
      template: '#v-session-attendees',
      data: function () {
        return {
          attendees: []
        }
      },
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'session']), {
        institutions: function () {
          return extractInstitutions(this.attendees);
        }
      }),
      methods: {
        getAttendees: function () {
          var self = this;
          Hipeac.api.get(this.session.url + 'attendees/').then(function (res) {
            self.attendees = Object.freeze(res.data.map(function (obj) {
              return Hipeac.map.user(obj.user);
            }));
          });
        }
      },
      created: function () {
        this.getAttendees();
      }
    };

    var SessionBioView = {
      template: '#v-session-bio',
      computed: _.extend(
        Vuex.mapState(['event', 'session']), {
      }),
    };

    var SessionProgramView = {
      template: '#v-session-program',
      computed: _.extend(
        Vuex.mapGetters(['slots']),
        Vuex.mapState(['event', 'session']), {
      }),
    };

    var SessionAttendeesView = {
      template: '#v-session-attendees',
      data: function () {
        return {
          attendees: []
        }
      },
      props: ['sessionId'],
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'session']), {
        institutions: function () {
          return extractInstitutions(this.attendees);
        }
      }),
      methods: {
        fetchAttendees: function () {
          var self = this;
          api().getSessionAttendees(this.sessionId).done(function (res) {
            self.attendees = Object.freeze(mapper().users(res.map(function (obj) {
              return obj.user;
            })));
          });
        }
      },
      created: function () {
        this.fetchAttendees();
      }
    };

    var SessionDownloadsView = {
      template: '#v-session-downloads',
      computed: _.extend(
        Vuex.mapState(['event', 'session']), {
      }),
    };

    var LogisticsView = {
      template: '#v-logistics',
      computed: _.extend(
        Vuex.mapState(['user', 'event']), {
      }),
    };

    var VenueView = {
      template: '#v-venue',
      computed: _.extend(
        Vuex.mapState(['event', 'courses']), {
      })
    };

    var Router = new VueRouter({
      linkActiveClass: 'active',
      scrollBehavior: function (to, from) {
        if (from.name.startsWith('course') || from.name.startsWith('session')) return;
        return {x: 0, y: 0};
      },
      routes: [
        {
          name: 'about',
          path: '/',
          pathToRegexpOptions: {strict: true},
          component: AboutView
        },
        {
          name: 'attendees',
          path: '/attendees/',
          pathToRegexpOptions: {strict: true},
          component: AttendeesView
        },
        {
          name: 'logistics',
          path: '/logistics/',
          pathToRegexpOptions: {strict: true},
          component: LogisticsView
        },
        {
          name: 'venue',
          path: '/venue/',
          pathToRegexpOptions: {strict: true},
          component: VenueView
        },
        {
          path: '/program/',
          pathToRegexpOptions: {strict: true},
          component: ProgramView,
          children: [
            {
              name: 'courses',
              path: 'courses/',
              pathToRegexpOptions: {strict: true},
              component: ProgramCoursesView
            },
            {
              name: 'program',
              path: '',
              pathToRegexpOptions: {strict: true},
              component: ProgramMainView
            },
            {
              path: 'courses/:id/',
              pathToRegexpOptions: {strict: true},
              components: {
                default: ProgramMainView,
                dialog: CourseView
              },
              props: {
                default: true,
                dialog: true
              },
              children: [
                {
                  name: 'course',
                  path: '',
                  pathToRegexpOptions: {strict: true},
                  component: CourseMainView,
                  props: true
                },
                {
                  name: 'courseTeachers',
                  path: 'teachers/',
                  pathToRegexpOptions: {strict: true},
                  component: CourseTeachersView,
                  props: true
                },
                {
                  name: 'courseAttendees',
                  path: 'attendees/',
                  pathToRegexpOptions: {strict: true},
                  component: CourseAttendeesView,
                  props: true
                },
                {
                  name: 'courseDownloads',
                  path: 'downloads/',
                  pathToRegexpOptions: {strict: true},
                  component: CourseDownloadsView,
                  props: true
                }
              ]
            },
            {
              path: 'sessions/:id/',
              pathToRegexpOptions: {strict: true},
              components: {
                default: ProgramMainView,
                dialog: SessionView
              },
              props: {
                default: true,
                dialog: true
              },
              children: [
                {
                  name: 'session',
                  path: '',
                  pathToRegexpOptions: {strict: true},
                  component: SessionMainView,
                  props: true
                },
                {
                  name: 'sessionBio',
                  path: 'bio/',
                  pathToRegexpOptions: {strict: true},
                  component: SessionBioView
                },
                {
                  name: 'sessionProgram',
                  path: 'program/',
                  pathToRegexpOptions: {strict: true},
                  component: SessionProgramView
                },
                {
                  name: 'sessionAttendees',
                  path: 'attendees/',
                  pathToRegexpOptions: {strict: true},
                  component: SessionAttendeesView,
                  props: true
                },
                {
                  name: 'sessionDownloads',
                  path: 'downloads/',
                  pathToRegexpOptions: {strict: true},
                  component: SessionDownloadsView,
                  props: true
                }
              ]
            }
          ]
        }
      ]
    });

    new Vue({
      el: '#vue',
      store: Store,
      router: Router,
      computed: _.extend(
        Vuex.mapGetters(['slots']),
        Vuex.mapState(['user', 'event']), {
      }),
      beforeCreate: function () {
        if (this.$route.path.substr(-1) != '/') {
          this.$router.push({'path': this.$route.path + '/'});
        }
      },
      created: function () {
        this.$store.commit('getEvent');
        this.$store.commit('fetchCourses');
        // this.$store.commit('getRegistrations');
      }
    });
  </script>
{% endcompress %}
  <script type="application/ld+json">{% spaceless_json %}
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "{{ event }}",
      "description": "{{ event.presentation | truncate }}",
      "url": "{{ request.build_absolute_uri }}",
      "startDate": "{{ event.start_date | date:'c' }}",
      "endDate": "{{ event.end_date | date:'c' }}",
      {% if event.images %}"image": "{{ event.images.th }}",{% endif %}
      {% if event.is_virtual %}
        "organizer": {
          "@type": "Organization",
          "name": "HiPEAC",
          "url": "https://www.hipeac.net/"
        },
        "location": {
          "@type": "VirtualLocation"
        }
      {% else %}
        "location": {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "{{ event.city }}",
            "addressCountry": "{{ event.country.code }}"
          }
        }
      {% endif %}
    }
  {% endspaceless_json %}</script>
{% endblock %}
