{% extends 'layout.html' %}

{% load compress %}
{% load hipeac %}
{% load static %}


{% block head_title %}{{ event }} - {{ block.super }}{% endblock %}

{% block subtitle %}{{ event }}{% endblock %}

{% block submenu %}
  <li class="nav-item">
    <a href="{% url 'acaces' event.year %}#/" class="nav-link" exact>About</a>
  </li>
  <li class="nav-item">
    <a href="{% url 'acaces' event.year %}#/program/" class="nav-link">Program</a>
  </li>
  <li class="nav-item">
    <a href="{% url 'acaces' event.year %}#/logistics/" class="nav-link">Logistics</a>
  </li>
  {% if event.is_open_forregistrationBackup or event.is_finished %}
    <li class="nav-item">
      <a href="{% url 'acaces' event.year %}" class="nav-link active"><i class="material-icons mr-1">edit</i>My registration</a>
    </li>
  {% endif %}
  {% if event.hashtag %}
    <li class="nav-item">
      <a href="https://twitter.com/search?q=%23{{ event.hashtag }}" class="nav-link" target="_blank">
        <span is="twitter-icon" v-tooltip="'#{{ event.hashtag }}'"></span>
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
  <div id="urls" data-event-url="{% url 'v1:event-detail' event.id %}" data-courses-url="{% url 'v1:event-courses' event.id %}" data-registration-url="{% url 'v1:auth-registration-list' %}" class="container">
    <div is="router-view"></div>
  </div>
{% endblock %}

{% block vue_templates %}
  {% include './v-registration.html' with id='v-registration' %}
{% endblock %}

{% block scripts %}
{% compress js file event %}
  <script src="{% static 'js/components/v-lists-metadata.js' %}"></script>
  <script src="{% static 'js/components/v-user-viewer.js' %}"></script>
  <script>
    var Store = new Vuex.Store({
      state: {
        user: {
          isRegistered: false
        },
        event: null,
        courses: []
      },
      mutations: {
        fetchEvent: function (state) {
          ajax().get($('#urls').data('event-url')).done(function (res) {
            state.event = Object.freeze(mapper().events([res])[0]);
          });
        },
        fetchCourses: function (state) {
          ajax().get($('#urls').data('courses-url')).done(function (res) {
            state.courses = Object.freeze(mapper().courses(res).sort(function (a, b) {
              return sort().text(a.teachersStr, b.teachersStr);
            }));
          });
        }
      }
    });

    var RegistrationView = {
      template: '#v-registration',
      data: function () {
        return {
          abstract: {
            topics: [],
            file: null
          },
          endpoint: $('#urls').data('registration-url'),
          registrationIsNew: false,
          registrationHasPosters: false,
          registration: null,
        };
      },
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'courses']), {
        emptyCourses: function () {
          if (!this.registration) return true;
          return this.registration.courses.length == 0;
        },
        emptySessions: function () {
          if (!this.registration) return true;
          return this.registration.sessions.length == 0;
        }
      }),
      methods: {
        fetchRegistration: function () {
          var self = this;

          if (!this.event) {
            setTimeout(function () { self.fetchRegistration(); }, 25);
            return;
          };

          ajax().get(this.endpoint, {event_id: this.event.id}).done(function (res) {
            if (res.results.length == 1) {
              self.registrationHasPosters = res.results[0].posters.length > 0;
              self.registrationIsNew = false;
              self.registration = mapper().registrations(res.results)[0];
            } else {
              self.registrationIsNew = true;
              self.registration = {
                event: self.event.id,
                courses: [],
                sessions: [],
                posters: []
              };
            }
          });
        },
        save: function () {
          var self = this;
          EventHub.$emit('loading', true);
          if (this.registrationIsNew) {
            ajax().post(this.endpoint, this.registration).done(function (res) {
              self.registrationHasPosters = res.posters.length > 0;
              self.registration = mapper().registrations([res])[0];
              self.registrationIsNew = false;
              EventHub.$emit('loading', false);
            });
          } else {
            ajax().put(this.registration.url, this.registration).done(function (res) {
              self.registrationHasPosters = res.posters.length > 0;
              self.registration = mapper().registrations([res])[0];
              EventHub.$emit('loading', false);
            });
          }
        },
        addPoster: function () {
          this.registration.posters.push({
            'title': '(not set)',
            'authors': '',
            'type': 'student',
          });
        },
        removePoster: function (poster) {
          this.registration.posters = _.without(this.registration.posters, poster);
        },
        handleAbstractUpload: function () {
          this.abstract.file = this.$refs.file.files[0];
        },
        submitAbstractFile: function () {
          var self = this;
          var formData = new FormData();
          formData.append('file', this.abstract.file);

          $.ajax({
            method: 'POST',
            url: this.registration.url + 'add_abstract/',
            data: formData,
            processData: false,
            contentType: 'multipart/form-data',
            headers: {
                'Content-Disposition': 'attachment; filename=abstract_' + this.registration.id + '.pdf',
                'X-CSRFTOKEN': CSRF_TOKEN,
            }
          }).done(function (res) {
            self.fetchRegistration();
          });
        }
      },
      mounted: function () {
        this.fetchRegistration();
      }
    };

    var Router = new VueRouter({
      linkActiveClass: 'active',
      routes: [
        {
          name: 'registration',
          path: '/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationView
        }
      ]
    });

    new Vue({
      el: '#vue',
      store: Store,
      router: Router,
      computed: _.extend(
        Vuex.mapState(['user', 'event']), {
      }),
      created: function () {
        $.when(
          this.$store.commit('fetchEvent'),
          this.$store.commit('fetchCourses'),
        );
      }
    });
  </script>
{% endcompress %}
{% endblock %}
