{% extends 'layout.html' %}

{% load compress %}
{% load hipeac %}
{% load static %}


{% block head_title %}{{ event }} - {{ block.super }}{% endblock %}

{% block subtitle %}{{ event }}{% endblock %}

{% block submenu %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'acaces' event.year %}"><i class="material-icons mr-1">arrow_back</i>Back to event</a>
  </li>
{% endblock %}

{% block content %}
  <div is="router-view" name="modal"></div>
  <div id="urls" data-event-url="{% url 'v1:event-detail' event.id %}" data-courses-url="{% url 'v1:event-courses' event.id %}" data-registration-url="{% url 'v1:auth-registration-list' %}" class="container">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a is="router-link" class="nav-link" :to="{name: 'main'}" exact>
          <icon name="insert_chart_outlined" class="mr-1"></icon>Stats</a>
      </li>
      <li class="nav-item">
        <a is="router-link" class="nav-link" :to="{name: 'registrations'}" exact>
          <icon name="line_weight" class="mr-1"></icon>All registrations</a>
      </li>
    </ul>
    <div is="router-view"></div>
    <div is="router-view" name="modal"></div>
  </div>
{% endblock %}

{% block vue_templates %}
  <script type="text/x-template" id="v-main">
    <div class="hipeac-card">
      <div class="row">
        <div class="col-12 col-lg-8">
          <display-sm class="mb-3">Registrations by course</display-sm>
          <table class="table table-sm text-sm">
            <thead>
              <tr>
                <th class="text-left">ID</th>
                <th class="text-left">Course</th>
                <th class="text-right">Reg.</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for course in regbycourse %}
              <tr>
                <td>C{{ course.id }}</td>
                <td><em>{{ course.teachers }}</em><br>{{ course.title }}</td>
                <td class="text-right">{{ course.registrations }}</td>
                <td>
                  <a is="router-link" :to="{name: 'course', params: {courseId: {{ course.id }} }}">+</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <div class="row my-5">
            <div class="col-12 col-lg-6">
              <display-sm class="mb-3"># courses per registration</display-sm>
              <table class="table table-sm text-sm">
                <thead>
                  <tr>
                    <th class="text-left">Number of courses</th>
                    <th class="text-right">Reg.</th>
                  </tr>
                </thead>
                <tbody>
                {% for calc in coursebyreg %}
                  <tr>
                    <td>{{ calc.courses }}</td>
                    <td class="text-right">{{ calc.registrations }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-12 col-lg-6">
              <display-sm class="mb-3">Registrations by country</display-sm>
              <table class="table table-sm text-sm">
                <thead>
                  <tr>
                    <th class="text-left">Country</th>
                    <th class="text-right">Reg.</th>
                  </tr>
                </thead>
                <tbody>
                {% for country in regbycountry %}
                  <tr>
                    <td>{{ country.name }}</td>
                    <td class="text-right">{{ country.registrations }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <display-sm class="mb-3">Registrations by institution</display-sm>
          <table class="table table-sm text-sm">
            <thead>
              <tr>
                <th class="text-left">Institution</th>
                <th class="text-right">Reg.</th>
              </tr>
            </thead>
            <tbody>
            {% for institution in regbyinstitution %}
              <tr>
                <td>{{ institution.name }}, {{ institution.country }}</td>
                <td class="text-right">{{ institution.registrations }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </script>
  <script type="text/x-template" id="v-registrations">
    <div class="hipeac-card">
      <div class="q-pa-md w-100">
        <q-table
          dense flat
          :data="tableData"
          :columns="tableColumns"
          :pagination="pagination"
          row-key="email"
        ></q-table>
      </div>
    </div>
  </script>
  {% include './v-course.html' with id='v-course' %}
{% endblock %}

{% block styles %}
  <link href="{% static 'vendor/quasar@1.10.4/quasar.min.css' %}" type="text/css" rel="stylesheet">
  <style>
    body { -moz-osx-font-smoothing: auto; }
    .q-table__bottom { display: none; }
    h6 { font-size: .9rem; line-height: 1.4; }
  </style>
{% endblock %}

{% block scripts %}
  {{ json_data | json_script:"registrations-data" }}
{% compress js file event_acaces %}
  <script src="{% static 'vendor/quasar@1.10.4/quasar.ie.polyfills.umd.min.js' %}"></script>
  <script src="{% static 'vendor/quasar@1.10.4/quasar.umd.min.js' %}"></script>
  <script src="{% static 'js/components/v-lists-metadata.js' %}"></script>
  <script src="{% static 'js/components/v-user-viewer.js' %}"></script>
  <script>
    var Store = new Vuex.Store({
      state: {
        user: {
          isAuthenticated: true,
          isRegistered: true
        },
        event: null,
        courses: [],
        course: null
      },
      mutations: {
        fetchEvent: function (state) {
          ajax().get($('#urls').data('event-url')).done(function (res) {
            state.event = Object.freeze(mapper().events([res])[0]);
          });
        },
        fetchCourses: function (state) {
          ajax().get($('#urls').data('courses-url')).done(function (res) {
            state.courses = Object.freeze(mapper().courses(res).sort(function (a, b) {
              return sort().text(a.teachersStr, b.teachersStr);
            }));
          });
        },
        updateCourse: function (state, data) {
          state.course = Object.freeze(data);
        }
      }
    });

    var MainView = {
      template: '#v-main',
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'courses']), {
      })
    };

    var CourseModalView = {
      template: '#v-course',
      props: ['courseId'],
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'courses', 'course']), {
      }),
      methods: {
        closeModal: function () {
          $(this.$refs['modal']).modal('hide');
        }
      },
      beforeRouteEnter: function (to, from, next) {
        next(function (self) {
          var ref = (from.name) ? from : {name: 'program', params: {}};
          $(self.$refs['modal']).on('hide.bs.modal', function (e) {
            self.$router.push(ref);
          }).modal('show');
        });
      },
      beforeRouteLeave: function (to, from, next) {
        next();
        var store = this.$store;
        var modal = $(this.$refs['modal']);
        setTimeout(function () {
          if (modal.hasClass('show')) { modal.modal('hide') };
          store.commit('updateCourse', null);
        }, 50);
      },
      watch: {
        'courses': function (val, oldVal) {
          this.$store.commit('updateCourse', _.findWhere(val, {id: +this.courseId}));
        }
      },
      created: function () {
        this.$store.commit('updateCourse', _.findWhere(this.courses, {id: +this.courseId}));
      }
    };

    var CourseMainView = {
      template: '#v-course-main',
      computed: _.extend(
        Vuex.mapState(['event', 'course']), {
      }),
    };

    var CourseAttendeesView = {
      template: '#v-course-attendees',
      data: function () {
        return {
          attendees: []
        }
      },
      props: ['courseId'],
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'course']), {
        institutions: function () {
          return extractInstitutions(this.attendees);
        }
      }),
      methods: {
        fetchAttendees: function () {
          var self = this;
          api().getCourseAttendees(this.courseId).done(function (res) {
            self.attendees = Object.freeze(mapper().users(res.map(function (obj) {
              return obj.user;
            })));
          });
        }
      },
      created: function () {
        this.fetchAttendees();
      }
    };

    var CourseDownloadsView = {
      template: '#v-course-downloads',
      computed: _.extend(
        Vuex.mapState(['event', 'course']), {
      }),
    };

    var RegistrationsView = {
      template: '#v-registrations',
      data: function () {
        return {
          tableData: JSON.parse(document.getElementById('registrations-data').textContent),
          tableColumns: [
            {name: 'id', label: 'ID', field: 'id'},
            {name: 'name', label: 'Full name', field: 'full_name', align: 'left', sortable: true},
            {name: 'institution', label: 'Institution', field: 'institution', align: 'left', sortable: true},
            {name: 'country', label: 'Country', field: 'country', align: 'left', sortable: true},
            {name: 'email', label: 'Email', field: 'email', align: 'left'},
            {name: 'c1', label: 'C1', field: 'c1', sortable: true},
            {name: 'c2', label: 'C2', field: 'c2', sortable: true},
            {name: 'c3', label: 'C3', field: 'c3', sortable: true},
            {name: 'c4', label: 'C4', field: 'c4', sortable: true},
            {name: 'c5', label: 'C5', field: 'c5', sortable: true},
            {name: 'c6', label: 'C6', field: 'c6', sortable: true},
            {name: 'c8', label: 'C7', field: 'c8', sortable: true},
            {name: 'c9', label: 'C9', field: 'c9', sortable: true},
            {name: 'c10', label: 'C10', field: 'c10', sortable: true},
            {name: 'c11', label: 'C11', field: 'c11', sortable: true},
            {name: 'c12', label: 'C12', field: 'c12', sortable: true},
            {name: 'poster', label: 'Poster', field: 'poster', sortable: true, align: 'left'}
          ],
          pagination: {
            rowsPerPage: 0
          }
        }
      },
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'courses']), {
      })
    };

    var Router = new VueRouter({
      linkActiveClass: 'active',
      routes: [
        {
          name: 'registrations',
          path: '/registrations/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationsView
        },
        {
          name: 'main',
          path: '/',
          pathToRegexpOptions: {strict: true},
          component: MainView
        },
        {
          path: '/courses/:courseId/',
          pathToRegexpOptions: {strict: true},
          components: {
            default: MainView,
            modal: CourseModalView
          },
          props: {
            deafult: true,
            modal: true
          },
          children: [
            {
              name: 'course',
              path: '',
              pathToRegexpOptions: {strict: true},
              component: CourseMainView,
              props: true
            },
            {
              name: 'courseAttendees',
              path: 'attendees/',
              pathToRegexpOptions: {strict: true},
              component: CourseAttendeesView,
              props: true
            },
            {
              name: 'courseDownloads',
              path: 'downloads/',
              pathToRegexpOptions: {strict: true},
              component: CourseDownloadsView,
              props: true
            }
          ]
        }
      ]
    });

    new Vue({
      el: '#vue',
      store: Store,
      router: Router,
      computed: _.extend(
        Vuex.mapState(['user', 'event']), {
      }),
      created: function () {
        $.when(
          this.$store.commit('fetchEvent'),
          this.$store.commit('fetchCourses'),
        );
      }
    });
  </script>
{% endcompress %}
{% endblock %}
