{% load humanize %}
{% load static %}


<script type="text/x-template" id="{{ id }}">
{% verbatim %}
  <div v-if="event">
    <img v-if="!event.is_virtual && event.images" :src="event.images.lg" class="border border-bottom-0 rounded-top w-100">
    <div class="hipeac-card mt-3">
      <div class="row justify-content-between">
        <div class="col-12 col-md-7 mb-3 mb-md-0">
          <display-lg class="text-left mt-0 mb-4">{% endverbatim %}{{ year | add:"-2004" | ordinal }}{% verbatim %} International Summer School on Advanced Computer Architecture and Compilation for High-performance Embedded Systems</display-lg>
          <marked :text="event.presentation" class="catchphrase-first mt-4"></marked>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-md-0">
          <p v-if="event.is_virtual" class="alert alert-warning text-center px-4" role="alert">
            <i class="material-icons">timelapse</i><br>This <strong>virtual event</strong> will be held between {{ event.startDate.format('dddd') }}, <span class="text-nowrap">{{ event.startDate.format('MMMM D') }}</span> and {{ event.endDate.format('dddd') }}, <span class="text-nowrap">{{ event.endDate.format('MMMM D') }}</span>. See the <a is="router-link" :to="{name: 'logistics'}" class="inherit">"Logistics" tab</a> for more practical information.
          </p>
          <ul class="list-group list-group-flush list-group-links bigger mb-5">
            <router-link v-if="!event.fees.length" tag="li" :to="{name: 'program'}" class="list-group-item py-3">
              <i class="material-icons mr-2">card_giftcard</i>
              <i class="float-right material-icons ml-2">arrow_forward</i>
              <span>Free event</span>
            </router-link>
            <router-link tag="li" :to="{name: 'program'}" class="list-group-item py-3">
              <i class="material-icons mr-2">date_range</i>
              <i class="float-right material-icons ml-2">arrow_forward</i>
              <span>{{ event.datesStr }}</span>
            </router-link>
            <router-link v-if="courses && courses.length" tag="li" :to="{name: 'program'}" class="list-group-item py-3">
              <i class="material-icons mr-2">view_week</i>
              <i class="float-right material-icons ml-2">arrow_forward</i>
              <span>{{ courses.length }} <span v-if="event.is_virtual">virtual </span>courses</span>
            </router-link>
            {% endverbatim %}{% if event.is_open_for_registration %}
            <li class="list-group-item py-3 text-primary">
              <a href="{% url 'acaces_registration' event.year %}" class="inherit d-block">
                <i class="material-icons mr-2">create</i>
                <i class="float-right material-icons ml-2">arrow_forward</i>
                <span>Register now!</span>
              </a>
            </li>
            {% endif %}{% verbatim %}
          </ul>
          <display-sm class="mb-2 mt-4">Steering Committee</display-sm>
          <ul class="pl-3 text-sm">
            <li>Koen De Bosschere, Ghent University, Belgium (Chair)</li>
            <li>Emre Ozer, ARM, UK</li>
            <li>Mateo Valero, BSC, Spain</li>
            <li>Marc Duranton, CEA, France</li>
            <li>Luca Fanucci, University of Pisa</li>
            <li>Per Stenstrom, Chalmers, Sweden</li>
            <li>Mike O'Boyle, University of Edinburgh, UK</li>
            <li>Manolis Katevenis, FORTH, Greece</li>
            <li>Olivier Zendra, INRIA, France</li>
            <li>Rainer Leupers, RWTH Aachen, Germany</li>
            <li>Daniel Gracia Perez, Thales R&T, France</li>
          </ul>
        </div>
      </div>
    </div>
    <div v-if="event && event.sponsors.length" class="hipeac-card">
      <ul class="logos">
        <li v-for="sponsor in event.sponsors" :key="sponsor.id">
          <a v-if="sponsor.institution" :href="sponsor.institution.href">
            <img :src="sponsor.institution.images.sm">
          </a>
          <a v-if="sponsor.project" :href="sponsor.project.href">
            <img :src="sponsor.project.images.sm">
          </a>
        </li>
      </ul>
    </div>
    <quotes-carousel-row types="acaces"></quotes-carousel-row>
  </div>
{% endverbatim %}
</script>
