{% load humanize %}


<script type="text/x-template" id="v-about">
{% verbatim %}
  <div v-if="event">
    <q-card class="hipeac__card q-my-lg" :class="{'q-pa-md': $q.screen.gt.xs }">
      <q-card-section class="text-center">
        <ul class="row inline q-col-gutter-y-sm q-col-gutter-x-lg q-my-none text-body2 text-grey-9">
          <!--<li><q-icon size="sm" name="today" color="grey-7"></q-icon> {{ event.datesStr.format("ddd, MMMM Do") }}</li>-->
          <li v-if="event.is_virtual">
            <router-link :to="{name: 'logistics'}" class="inherit">
              <q-icon size="sm" name="desktop_windows" class="q-mr-sm"></q-icon>
              <span>Free virtual event</span>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'program'}" class="inherit">
              <q-icon size="sm" name="date_range" class="q-mr-sm"></q-icon>
              <span>{{ event.startDate.format('MMMM D') }} - {{ event.endDate.format('D, YYYY') }}</span>
            </router-link>
          </li>
          <li v-if="courses.length">
            <router-link :to="{name: 'courses'}" class="inherit">
              <q-icon size="sm" name="category" class="q-mr-sm"></q-icon>
              <span>{{ courses.length }} courses</span>
            </router-link>
          </li>
          <!--<li v-if="event.registrations_count && user.registration">
            <router-link :to="{name: 'attendees'}" class="inherit">
              <q-icon size="sm" name="people" class="q-mr-sm"></q-icon>
              <span>{{ event.registrations_round }}<span v-if="event.registrations_round < event.registrations_count">+</span> attendees</span>
            </router-link>
          </li>
          <li v-else-if="event.is_open_for_registration" class="text-bold text-primary">
            <router-link :to="{name: 'registration'}" class="inherit">
              <q-icon size="sm" name="edit" color="primary" class="q-mr-sm"></q-icon>
              <span>Register</span>
            </router-link>
          </li>
          <li v-if="user.registration" class="text-bold text-green">
            <router-link :to="{name: 'registration'}" class="inherit">
              <q-icon size="sm" name="check" color="green" class="q-mr-sm"></q-icon>
              <span>Registered</span>
            </router-link>
          </li>-->
        </ul>
      </q-card-section>
      <q-separator class="q-mb-md" :class="{'q-mt-md': $q.screen.gt.xs }"></q-separator>
      <q-card-section>
        <div class="row justify-between q-col-gutter-xl">
          <div class="col-12 col-md-7 mb-3 mb-md-0">
            <display-1 class="display-underline">{% endverbatim %}{{ year | add:"-2004" | ordinal }}{% verbatim %} International Summer School on Advanced Computer Architecture and Compilation for High-performance Embedded Systems</display-1>
            <marked :text="event.presentation" class="catchphrase-first q-mt-lg"></marked>
          </div>
          <div class="col-12 col-md-4 mb-3 mb-md-0">
            <p v-if="event.is_virtual" class="alert alert-warning text-center px-4" role="alert">
              <i class="material-icons">timelapse</i><br>This <strong>virtual event</strong> will be held between {{ event.startDate.format('dddd') }}, <span class="text-nowrap">{{ event.startDate.format('MMMM D') }}</span> and {{ event.endDate.format('dddd') }}, <span class="text-nowrap">{{ event.endDate.format('MMMM D') }}</span>. See the <a is="router-link" :to="{name: 'logistics'}" class="inherit">"Logistics" tab</a> for more practical information.
            </p>
            <display-4 class="mb-2 mt-4">Steering Committee</display-4>
            <ul class="q-pl-md text-body2">
              <li>Koen De Bosschere, Ghent University, Belgium (Chair)</li>
              <li>Emre Ozer, ARM, UK</li>
              <li>Mateo Valero, BSC, Spain</li>
              <li>Marc Duranton, CEA, France</li>
              <li>Luca Fanucci, University of Pisa</li>
              <li>Per Stenstrom, Chalmers, Sweden</li>
              <li>Mike O'Boyle, University of Edinburgh, UK</li>
              <li>Manolis Katevenis, FORTH, Greece</li>
              <li>Olivier Zendra, INRIA, France</li>
              <li>Rainer Leupers, RWTH Aachen, Germany</li>
              <li>Daniel Gracia Perez, Thales R&T, France</li>
            </ul>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card class="hipeac__card q-mb-lg">
      <q-card-section class="q-ma-md q-mb-none">
        <div v-if="event && event.sponsors.length" class="row items-center justify-center q-col-gutter-y-lg q-col-gutter-x-xl text-center">
          <div v-for="sponsor in event.sponsors" :key="sponsor.id" class="col-6 col-sm-4 col-md-2">
            <a v-if="sponsor.institution && sponsor.institution.images" :href="sponsor.institution.href" target="_blank">
              <img :src="sponsor.institution.images.lg" class="sponsor">
            </a>
            <a v-if="sponsor.project && sponsor.project.images" :href="sponsor.project.href" target="_blank">
              <img :src="sponsor.project.images.lg" class="sponsor">
            </a>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <!--<quotes-carousel-row types="acaces"></quotes-carousel-row>-->
  </div>
{% endverbatim %}
</script>
