<script type="text/x-template" id="{{ id }}">
{% verbatim %}
  <div ref="modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div v-if="course" class="modal-header bg-light pb-0">
          <ul class="nav nav-tabs d-flex w-100">
            <li class="nav-item">
              <router-link class="nav-link" :to="{name: 'course', params: {courseId: course.id}}" exact><i class="material-icons mr-2">menu_book</i>Course</a></router-link>
            </li>
            {% endverbatim %}
            {% if user.is_authenticated %}
              <li v-if="user.isRegistered" class="nav-item">
                <router-link class="nav-link" :to="{name: 'courseAttendees', params: {courseId: course.id}}" exact>Attendees</router-link>
              </li>
            {% endif %}
            {% verbatim %}
            <li v-if="course.private_files && course.private_files.length" class="nav-item">
              <router-link class="nav-link" :to="{name: 'courseDownloads', params: {courseId: course.id}}" exact>Downloads</router-link>
            </li>
            <li class="nav-item pointer ml-auto">
              <a class="nav-link" @click.prevent="closeModal"><i class="material-icons">close</i></a>
            </li>
            <!--<editor-link :url="course.editor_href"></editor-link>-->
          </ul>
        </div>
        <div v-if="course" class="modal-body">
          <display-md class="mt-0 mb-4 text-left">{{ course.title }}</display-md>
          <router-view></router-view>
        </div>
        <div v-else class="modal-body">
          <skeleton-content></skeleton-content>
        </div>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="{{ id }}-main">
{% verbatim %}
  <div v-if="course" class="row">
    <div class="col-12 col-md-7 pr-md-5 mb-5">
      <marked v-if="course.overview" :text="course.overview"></marked>
      <skeleton-content v-else></skeleton-content>
    </div>
    <div class="col-12 col-md-5">
      <metadata-badges v-if="course.topics.length" title="Topics" :items="course.topics"></metadata-badges>
      <div v-if="course.sessions && course.sessions.length">
        <display-sm class="mb-2">Sessions</display-sm>
        <ul class="list-group list-group-compact mb-4">
          <li v-for="session in course.sessions" :key="session.id" class="list-group-item d-flex justify-content-between align-items-center">
            {{ session.startAt.format("ddd, MMMM Do H:mm") }}
            <span class="badge badge-light badge-pill">{{ session.duration.asHours() }} hours</span>
          </li>
        </ul>
      </div>
      <skeleton-content v-if="!course.teachers.length"></skeleton-content>
      <div v-else>
        <display-sm class="mb-2">
          <span v-if="course.teachers.length > 1">Teachers</span><span v-else>Teacher</span>
        </display-sm>
        <div v-for="teacher in course.teachers" :key="teacher.id" class="mb-4">
          <img :src="teacher.profile.avatar_url" class="float-right rounded-circle ml-3 mb-3">
          <h6 class="mt-0 mb-2">{{ teacher.profile.name }}<br>
            <span v-if="teacher.profile.institution">{{ teacher.profile.institution.name }}, {{ teacher.profile.institution.country.name }}</span>
          </h6>
          <marked :text="teacher.profile.bio" class="text-sm"></marked>
        </div>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="{{ id }}-attendees">
{% verbatim %}
  <div v-if="user.isRegistered">
    <user-viewer :users="attendees" :institutions="institutions" :show-topics="false" :embed-search="true" event-name="session-attendees-query-changed"></user-viewer>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="{{ id }}-downloads">
{% verbatim %}
  <div>
    <attachments-table :attachments="session.private_files"></attachments-table>
  </div>
{% endverbatim %}
</script>
