<script type="text/x-template" id="v-covid">
{% verbatim %}
  <div v-if="event">
    <q-card class="hipeac__card q-my-lg" :class="{'q-pa-md': $q.screen.gt.xs }">
      <q-card-section>
        <display-4>Official COVID-19 resources (Italy)</display-4>
        <div class="row q-col-gutter-xl">
          <div class="col-12 col-md-6">
            <q-btn outline no-caps color="primary" type="a" target="_blank" href="https://www.salute.gov.it/portale/nuovocoronavirus/dettaglioContenutiNuovoCoronavirus.jsp?lingua=english&id=5412&area=nuovoCoronavirus&menu=vuoto">Information for travellers</q-btn>
            <p class="q-mt-md">All people arriving from outside Italy have to fill the <a href="https://euplf.eu/en/home/index.html">Passenger Locator Form</a> before entering in Italy so make sure you don't forget to complete this. Please also ensure that you <strong>check all COVID regulations for entering Italy before you leave</strong> (Italian Government website).</p>
          </div>
          <div class="col-12 col-md-6">
            <q-btn outline no-caps color="primary" type="a" target="_blank" href="https://www.dgc.gov.it/web/app.html">VerificaC19 app</q-btn>
            <p class="q-mt-md">Once in Italy, hotels, restaurants and other facilities will check your COVID certificate for a "Green Pass" (using the <strong>VerificaC19 app</strong>). If you are not sure about your certificate, you can check beforehand what the application says. ACACES hotels will use this same app.</p>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
{% endverbatim %}
</script>
