<script type="text/x-template" id="v-course">
{% verbatim %}
  <div>
    <q-dialog v-model="dialog" no-route-dismiss full-height @hide="hideDialog">
      <q-card v-if="course" style="width: 1000px; max-width: 95vw;">
        <q-toolbar class="text-dark bg-grey-2">
          <q-tabs no-caps inline-label shrink>
            <q-route-tab exact :to="{name: 'course', params: {id: id}}">
              <q-icon size="xs" name="lens" :color="course.color" class="q-mr-sm"></q-icon>
              <div class="q-tab__label">Course</div>
            </q-route-tab>
            <q-route-tab :to="{name: 'courseTeachers', params: {id: id}}" :label="(course.teachers.length > 1) ? 'Teachers' : 'Teacher'"></q-route-tab>
            <!--<q-route-tab v-if="session.program" exact :to="{name: 'sessionProgram', params: {id: id}}" label="Program"></q-route-tab>
            <q-route-tab v-if="user.registration" :to="{name: 'sessionAttendees', params: {id: id}}" label="Attendees"></q-route-tab>-->
          </q-tabs>
          <q-space></q-space>
          <q-btn flat round @click="dialog = false" icon="close"></q-btn>
        </q-toolbar>
        <div :class="{'q-pa-md': $q.screen.gt.sm}">
          <!--<q-card-section class="q-pt-none text-center">
            <ul class="row inline q-col-gutter-y-sm q-col-gutter-x-md q-mb-none text-caption text-grey-9">
              <li>
                <q-icon size="xs" name="today" class="q-mr-xs"></q-icon>
                <span>{{ session.startAt.format("ddd, MMMM Do") }}</span>
              </li>
              <li>
                <q-icon size="xs" name="schedule" class="q-mr-xs"></q-icon>
                <span>{{ session.startAt.format('HH:mm') }} - {{ session.endAt.format('HH:mm') }}</span>
                <q-tooltip :offset="[10, 10]">All times are displayed in your local time zone: {{ user.tz }}</q-tooltip>
              </li>
              <li v-if="$q.screen.gt.sm && userIsRegistered" class="text-bold text-green">
                <q-icon size="xs" name="check" color="green" class="q-mr-xs"></q-icon>
                <span>Registered</span>
              </li>
              <li v-if="userLink" class="text-bold text-primary">
                <a :href="userLink.url" tagret="_blank" class="inherit pointer">
                  <q-icon size="xs" name="videocam" class="q-mr-xs"></q-icon>
                  <span>Join Zoom</span>
                </a>
              </li>
            </ul>
          </q-card-section>
          <q-separator class="q-mb-md"></q-separator>-->
          <router-view></router-view>
        </div>
      </q-card>
    </q-dialog>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-course--old">
{% verbatim %}
  <div ref="modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div v-if="course" class="modal-header bg-light pb-0">
          <ul class="nav nav-tabs d-flex w-100">
            <li class="nav-item">
              <router-link class="nav-link" :to="{name: 'course', params: {courseId: course.id}}" exact><i class="material-icons mr-2">menu_book</i>Course</a></router-link>
            </li>
            {% endverbatim %}
            {% if user.is_authenticated %}
              <li v-if="user.isRegistered" class="nav-item">
                <router-link class="nav-link" :to="{name: 'courseAttendees', params: {courseId: course.id}}" exact>Attendees</router-link>
              </li>
            {% endif %}
            {% verbatim %}
            <li v-if="course.private_files && course.private_files.length" class="nav-item">
              <router-link class="nav-link" :to="{name: 'courseDownloads', params: {courseId: course.id}}" exact>Downloads</router-link>
            </li>
            <li class="nav-item pointer ml-auto">
              <a class="nav-link" @click.prevent="closeModal"><i class="material-icons">close</i></a>
            </li>
            <!--<editor-link :url="course.editor_href"></editor-link>-->
          </ul>
        </div>
        <div v-if="course" class="modal-body">
          <display-md class="mt-0 mb-4 text-left">{{ course.title }}</display-md>
          <router-view></router-view>
        </div>
        <div v-else class="modal-body">
          <skeleton-content></skeleton-content>
        </div>
      </div>
    </div>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-course-main">
{% verbatim %}
  <q-card-section v-if="course">
    <div class="row q-col-gutter-xl">
      <div class="col-12 col-md-7">
        <display-2 class="q-mb-md">{{ course.title }}</display-2>
        <marked :text="course.overview"></marked>
      </div>
      <div class="col-12 col-md-5">
        <div v-if="course.sessions && course.sessions.length">
          <display-4 class="q-mb-md">Sessions</display-4>
          <ul class="list-group list-group-compact mb-4">
            <li v-for="session in course.sessions" :key="session.id" class="list-group-item d-flex justify-content-between align-items-center">
              <span>{{ session.startAt.format("ddd, MMMM Do H:mm") }}</span>
              <span class="badge badge-light badge-pill">{{ session.duration.asMinutes() }} minutes</span>
            </li>
          </ul>
        </div>
        <div v-if="course.teachers.length && $q.screen.gt.sm" class="q-mt-lg">
          <display-4 class="q-mb-md">
            <span v-if="course.teachers.length > 1">Teachers</span><span v-else>Teacher</span>
          </display-4>
          <hipeac-avatar-item v-for="teacher in course.teachers" :key="teacher.id" :profile="teacher.profile" class="q-mb-md"></hipeac-avatar-item>
          <router-link :to="{name: 'courseTeachers', params: {id: course.id}}" class="text-caption">More info...</router-link>
        </div>
      </div>
    </div>
  </q-card-section>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-course-attendees">
{% verbatim %}
  <div v-if="user.isRegistered">
    <user-viewer :users="attendees" :institutions="institutions" :show-topics="false" :embed-search="true" event-name="session-attendees-query-changed"></user-viewer>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-course-downloads">
{% verbatim %}
  <q-card-section v-if="course">
    <attachments-table :attachments="course.private_files"></attachments-table>
    <videos-row :url="course.url_videos" class="mt-5"></videos-row>
  </q-card-section>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-course-teachers">
{% verbatim %}
  <q-card-section v-if="course">
    <div class="row q-col-gutter-xl">
      <div v-for="teacher in course.teachers" :key="teacher.id" class="col-12 col-md">
        <hipeac-avatar-item :profile="teacher.profile" class="q-mb-md"></hipeac-avatar-item>
        <marked :text="teacher.profile.bio"></marked>
        <q-btn outline no-caps type="a" :href="teacher.href" size="sm" label="Open HiPEAC profile" target="_blank"></q-btn>
      </div>
    </div>
  </q-card-section>
{% endverbatim %}
</script>
