<script type="text/x-template" id="v-faq">
{% verbatim %}
  <div v-if="event" class="row q-col-gutter-md">
    <div class="col-12 col-md-6">
      <q-card class="hipeac__card q-my-lg" :class="{'q-pa-md': $q.screen.gt.xs }">
        <h5 class="q-mb-md">How much is the registration fee for the Summer School?</h5>
        <p v-if="event.id > 6810">
            The Summer School has a fee of 1300 EUR for a single room <em>(400 EUR as registration fee + 900 EUR for the room incl. VAT)</em>, and 1100 EUR if you are considering to share a room <em>(400,00 EUR as registration fee + 700 EUR for the room incl. VAT)</em>.<br>
            <br>
            You can always apply for a grant if you register before the "Early registration deadline".
        </p>
        <p v-else>
            The Summer School has a fee of 1000 EUR for a single room <em>(270,00 EUR as registration fee + 688,68 EUR for the room + VAT)</em>, and 800 EUR if you are considering to share a room <em>(270,00 EUR as registration fee + 500,00 EUR for the room + VAT)</em>.<br>
            <br>
            You can always apply for a grant if you register before the "Early registration deadline".
        </p>
        <h5 class="q-mb-md">What does the ACACES grant cover?</h5>
        <p>The grant covers the registration fee of {{ event.fee }} EUR. This includes:</p>
        <ul style="margin-left:1rem">
            <li>hotel for 6 nights ({{ event.startDate.format('D') }}-{{ event.endDate.format('D MMMM, YYYY') }})</li>
            <li>tuition and course notes</li>
            <li>all breakfast, lunches, dinners and coffee breaks for the duration of the summer school</li>
            <li>transportation Rome - Fiuggi - Rome</li>
            <li>access to the Spa facilities at the conference hotel</li>
        </ul>
        <p>Participants who get selected for a grant will only have to buy the flight tickets themselves.</p>
        <h5 class="q-mb-md">
          My institution needs a receipt with the total registration cost split up in hotel costs, meals, and registration. Can you provide me with such a receipt?</h5>
        <p>
          No, there is no detailed receipt with costs split up. The registration fee is an all-in fee.
        </p>
        <h5 class="q-mb-md">
          I have to leave on Friday, can I have a reduction of the registration fee?</h5>
        <p>
          No, you cannot. If you register for the summer school, you register for the full week. The point is that we cannot replace you by another participant for the remaining days.
        </p>
        <h5 class="q-mb-md">
          I have won a super deluxe holiday on Hawai in the national lottery. Can I get my registration money back?</h5>
        <p>
          If you tell us <strong>before July 1</strong>, we will pay you {{ event.fee - 100 }} euro back (the remaining 100 euro is to cover administrative and money transfer costs). If you tell us after July 1, we cannot refund you, because we won't be able to find another participant to replace you.
        </p>
      </q-card>
    </div>
    <div class="col-12 col-md-6">
      <q-card class="hipeac__card q-my-lg" :class="{'q-pa-md': $q.screen.gt.xs }">
        <h5 class="q-mb-md">
          I recently decided to stop my PhD. Can transfer my registration to somebody else?</h5>
        <p>
          If you paid for your own registration, you can do so. If you got a summer school grant, the grant cannot be transferred.
        </p>
        <p>
          In any case, you have to tell us as soon as possible. People that show up at the summer school and whose name is not known to us, will not be admitted to the premises.
        </p>
        <h5 class="q-mb-md">
          What is the size of the poster panels?</h5>
        <p>
          A poster panel is 1 meter wide and 2.5 meter tall. The best poster size is A0 format. Please bring your own adhesive tape to attach the poster to the poster panel.
        </p>
        <h5 class="q-mb-md">
          How do I know that my payment by credit card or invoice was successful?</h5>
        <p>
          You can check the current status of your payment on your personal registration form.
        </p>
      </q-card>
    </div>
  </div>
{% endverbatim %}
</script>
