<script type="text/x-template" id="v-program">
{% verbatim %}
  <div v-if="event && courses && courses.length">
    <q-card class="hipeac__card q-mt-lg q-mb-md">
      <q-tabs no-caps inline-label class="bg-white text-blue-9">
        <q-route-tab :to="{name: 'program'}" icon="category" label="All sessions"></q-route-tab>
        <q-route-tab v-show="slots.length" exact :to="{name: 'courses'}" icon="view_week" label="Courses"></q-route-tab>
        <q-route-tab exact :to="{name: 'keynotes'}" icon="stars" label="Keynotes"></q-route-tab>
      </q-tabs>
    </q-card>
    <router-view></router-view>
    <router-view name="dialog"></router-view>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-program-courses">
{% verbatim %}
  <div v-if="event && slots.length">
    <q-card class="hipeac__card" :class="{'q-pa-md': $q.screen.gt.xs }">
      <q-card-section>
        <div class="row q-col-gutter-x-xl q-col-gutter-y-md">
          <div class="col-12 col-md-6">
            <p>The summer school consists of {{ courses.length }} courses spread over {{ slots.length }} slots. Per slot there are parallel courses of which you can take only one. When applying for admission, you will be asked to indicate your preference.</p>
          </div>
          <div class="col-12 col-md-6">
            <q-banner rounded class="bg-yellow-3">The courses have been allocated to slots in such a way that it is in any case possible to create a summer school program that matches your research interests.</q-banner>
            <p></p>
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <div class="row q-col-gutter-x-xl q-col-gutter-y-lg">
          <div v-for="slot in slots" :key="slot.id" class="col-12 col-md">
            <display-2>Slot {{ slot.id }}</display-2>
            <q-linear-progress :value="100" class="q-my-sm" :color="slot.color"></q-linear-progress>
            <div v-for="(course, idx)  in slot.courses" :key="course.title" class="pointer" @click="$router.push({name: 'program', query: {q: course.title}})">
              <q-separator v-if="idx != 0" class="q-my-lg"></q-separator>
              <display-3 class="q-mt-lg q-mb-md">{{ course.title }}</display-3>
              <template v-if="course.teachers.length">
                <hipeac-avatar-item v-for="teacher in course.teachers" :key="teacher.id" :profile="teacher.profile" class="q-mb-md"></hipeac-avatar-item>
              </template>
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="v-program-main">
{% verbatim %}
  <div v-if="event">
    <q-page-sticky v-if="!$q.screen.gt.xs" position="bottom-left" :offset="[18, 18]" style="z-index: 5000">
      <q-btn rounded icon="filter_list" label="Filters" color="grey-1" text-color="dark" @click="dialog = true"></q-btn>
    </q-page-sticky>

    <q-card class="hipeac__card" :class="{'q-pa-md': $q.screen.gt.xs }">
      <q-banner v-if="event.is_virtual" class="bg-yellow-1 q-py-md q-px-lg">
        <span>All times are displayed in your local time zone: {{ user.tz }}</span>
        <span v-if="filtered">. <a href="#" @click.prevent="clearFilters()" class="inherit">Showing filtered results... &times;</a></span>
      </q-banner>
      <!--<q-card-actions class="q-mb-sm q-mx-sm text-body2">
        <q-space v-if="!$q.screen.gt.xs"></q-space>
        <q-btn v-if="$q.screen.gt.xs" flat no-caps @click="dialog = true" icon="filter_list" class="float-right" label="Filters"></q-btn>
      </q-card-actions>-->
      <hipeac-program :dates="event.dates" :breaks="event.breaks" :courses="courses" :keynotes="keynotes" :sessions="event.sessions" :showSlots="!!slots.length" compactDateFormat="dddd" searchPlaceholder="Search by course title, teachers, day of the week..."></hipeac-program>
      <q-banner v-if="event.is_virtual" class="bg-yellow-1 q-py-md q-px-lg">
        <span>All times are displayed in your local time zone: {{ user.tz }}</span>
      </q-banner>
    </q-card>

    <q-dialog v-model="dialog" position="right" full-height :seamless="$q.screen.gt.md">
      <q-card class="q-pa-sm" style="width: 350px">
        <q-card-actions>
          <!--<q-btn no-caps v-show="filters.length || selectedTracks.length" flat color="negative" label="Clear all" @click="clearFilters()"></q-btn>
          <q-space></q-space>-->
          <q-btn flat round color="dark" icon="close" class="q-ml-md float-right" @click="dialog = false"></q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
{% endverbatim %}
</script>
