<script type="text/x-template" id="{{ id }}">
{% verbatim %}
  <div v-if="event">
    <router-view></router-view>
    <router-view name="modal"></router-view>
  </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="{{ id }}-main">
{% verbatim %}
  <div v-if="event && courses" class="hipeac-card">
    <span v-if="viewAllSessions" class="text-sm float-right text-secondary mt-1">
      <icon v-if="event.is_virtual" class="sm mr-1" name="schedule"></icon>Schedule is showing your local time</span>
    <div class="custom-control custom-switch">
      <input v-model="viewAllSessions" type="checkbox" class="custom-control-input pointer" id="viewSwitch">
      <label class="custom-control-label pointer" for="viewSwitch">View detailed program with all sessions</label>
    </div>

    <div v-if="viewAllSessions">
      <div v-for="(data, date) in sessionsList" :key="date">
        <hr class="my-4">
        <div class="row">
          <div class="col-12 col-md-2">
            <display-md class="mt-0 mb-3 text-left">{{ date | moment('dddd') }}<br>{{ date | moment }}</display-md>
          </div>
          <div class="col-12 col-md-10">
            <div class="row" v-for="(session, index) in data" :key="session.key">
              <div v-if="index > 0" class="col-12"><hr></div>
              <div class="col-12 col-md-2 col-lg-1 mb-2 mb-md-0">
                <catchphrase class="mb-0">{{ session.startAt.format('HH:mm') }}</catchphrase>
              </div>
              <div class="col-12 col-md-10 col-lg-11">
                <span class="badge badge-light badge-pill float-right ml-3 mb-2">
                  <icon v-if="event.is_virtual" class="sm mr-1" name="videocam"></icon>{{ session.duration.asHours() }} hours</span>
                <router-link :to="{name: session.route, params: {sessionId: session.id}}" class="inherit">
                  <p class="font-weight-light m-0">
                    <span>{{ session.title }}</span><br>
                    <strong>{{ session.teachersStr }}</strong>
                  </p>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-else>
      <hr class="my-3">
      <display-md class="text-left mt-3 mb-1">Student activities</display-md>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <div v-for="session in event.sessions" :key="session.id" class="col">
          <hr class="my-4">
          <router-link :to="{name: 'session', params: {sessionId: session.id}}" class="inherit">
            <p class="font-weight-light m-0">
              <span>{{ session.title }}</span>
            </p>
          </router-link>
        </div>
      </div>
      <hr class="mt-5">
      <display-md class="text-left mt-3 mb-1">Courses</display-md>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <div v-for="course in courses" :key="course.id" class="col">
          <hr class="my-4">
          <span class="badge badge-light badge-pill float-right ml-3 mb-2">
            <icon v-if="event.is_virtual" class="sm mr-1" name="videocam"></icon>{{ course.sessions.length }} sessions</span>
          <router-link :to="{name: 'course', params: {sessionId: course.id}}" class="inherit">
            <img v-for="teacher in course.teachers" :key="teacher.id" :src="teacher.profile.avatar_url" class="rounded-circle mr-3 mb-3 avatar md">
            <p class="font-weight-light m-0">
              <span>{{ course.title }}</span><br>
              <strong>{{ course.teachersStr }}</strong>
            </p>
          </router-link>
        </div>
      </div>
    </div>

  </div>
{% endverbatim %}
</script>
