<script type="text/x-template" id="v-registration">
{% verbatim %}
  <q-card class="hipeac__card q-my-lg" :class="{'q-pa-md': $q.screen.gt.xs }">

    <q-card-section>
      <div class="row q-col-gutter-x-xl q-col-gutter-y-md">
        <div class="col-12 col-md-6">
          <display-3>To stimulate maximum interaction between lecturers and participants, the steering committee of the Summer School will only admit a <strong>limited number of participants</strong>. All applications will be reviewed to find a fair distribution of the available places among all qualified applicants from the various countries and institutions. In case of conflict, preference will be given to the participants who filed their application earlier. Applications are due <strong>June 30, 2021</strong>. Their participation is guaranteed after the organizers have received the registration fee. They will then receive detailed information about the summer school (detailed schedule, list of participants, important addresses and phone numbers, procedure to submit a poster, etc.).</display-3>
        </div>
        <div class="col-12 col-md-6">
          <p>Make your application as soon as possible <strong>by filling in the application form below</strong>. After you have been admitted to the summer school you will be invited to complete your registration and to pay the registration fee of <span class="text-no-wrap">€ 1.000</span> (<span class="text-no-wrap">€ 800</span> in a shared room).</p>
          <p>The summer school is open to anybody (members of HiPEAC institutions, and others). There is a limited number of grants that cover the full registration fee for PhD students from HiPEAC institutions. If you are a member of a HiPEAC institution and you want to apply for such a grant, please indicate this in the application form.</p>
          <p>For special questions about the admission procedure, please contact <a href="mailto:acaces@hipeac.net">acaces@hipeac.net</a></p>
        </div>
      </div>
    </q-card-section>

    <div v-if="!user.isAuthenticated" class="row justify-center q-my-lg">
      <div class="col-12 col-md-4">
        <q-card-section class="q-ma-sm q-mb-none">
          <display-lg>You need to log in to your HiPEAC account to register for an event.</display-lg>
          <a href="{% endverbatim %}{% url 'account_login' %}?next={{ request.path }}{% verbatim %}" class="btn btn-outline-primary">Log in</a>
        </q-card-section>
      </div>
    </div>

    <q-card-section v-else-if="obj !== undefined">
      <div v-if="obj">

        <q-banner v-if="obj.id && obj.status == 1 && admitted(obj.id)" rounded class="bg-light-blue-1 q-mb-xl">
          <template v-slot:avatar>
            <q-icon name="check" />
          </template>
          You have been admitted into the summer school, but in order to complete your registration you need to accept your invitation first. You can also reject the invitation, of course. <span v-if="obj.custom_data.grant_requested"><strong>Please note that you requested a grant, </strong><strong v-if="granted(obj.id)">and a grant has been assigned to you.</strong><strong v-else>but we couldn't assign you any.</strong></span>
          <template v-slot:action>
            <q-btn @click="accept" flat label="Accept" />
            <q-btn @click="reject" flat label="Reject" />
          </template>
        </q-banner>

        <q-banner v-if="obj.id && obj.status == 2 && admitted(obj.id)" rounded class="bg-light-green-1 q-mb-xl">
          <template v-slot:avatar>
            <q-icon name="check" />
          </template>
          You have accepted your invitation to the HiPEAC Summer School. See you soon in {{ event.city }}!
        </q-banner>

        <q-banner v-if="obj.id && obj.status == 9 && admitted(obj.id)" rounded class="bg-red-1 q-mb-xl">
          <template v-slot:avatar>
            <q-icon name="close" />
          </template>
          You have rejected your invitation to the HiPEAC Summer School. Contact us if you change your mind.
        </q-banner>

        <display-4>Personal information</display-4>
        <p class="q-mb-sm">Tell us a little bit about you: <span class="text-red">*</span></p>
        {% endverbatim %}
        <div class="row q-col-gutter-md q-mb-md">
          <q-input disable filled type="text" label="First name" value="{{ user.first_name }}" class="col-12 col-md-4"></q-input>
          <q-input disable filled type="text" label="Last name" value="{{ user.last_name }}" class="col-12 col-md-8"></q-input>
        </div>
        <q-input disable filled type="text" label="Email address" value="{{ user.email }}" class="q-mb-md"></q-input>
        {% verbatim %}
        <q-select filled options-dense v-model="obj.custom_data.profile.country" :options="countryOptions" label="Country"></q-select>
        <div class="q-gutter-sm q-mt-sm q-mb-md"">
          <q-checkbox v-model="obj.custom_data.profile.student" label="I'm a student"></q-checkbox>
          <q-checkbox v-model="obj.custom_data.profile.industry" label="I'm coming from industry"></q-checkbox>
          <q-checkbox v-model="obj.custom_data.profile.member_institution" label="I'm coming from a HiPEAC member institution"></q-checkbox>
        </div>
        <q-input filled v-model="obj.custom_data.profile.institution" type="text" label="Name of your institution (university, company...)" class="q-mb-md"></q-input>
        <div v-show="obj.custom_data.profile.student">
          <q-input filled v-model="obj.custom_data.profile.advisor" type="text" label="Name of your advisor (only for HiPEAC PhD students)" class="q-mb-md"></q-input>
        </div>
        <p class="q-mb-sm">Gender:</p>
        <q-option-group inline v-model="obj.custom_data.profile.gender" type="radio" :options="[{label: 'Male', value: 'male'}, {label: 'Female', value: 'female'}, {label: 'Non-binary', value: 'non_binary'}]"></q-option-group>

        <display-4 class="q-mt-xl">Motivation</display-4>
        <p class="q-mb-sm">What is your main motivation to follow the summer school? <span class="text-red">*</span></p>
        <q-input filled autogrow v-model="obj.custom_data.motivation" type="textarea" class="q-mt-sm q-mb-md"></q-input>
        <p class="q-mb-sm">Are you requesting a grant?</p>
        <q-option-group inline v-model="obj.custom_data.grant_requested" type="radio" :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]"></q-option-group>

        <div v-if="courses.length">
          <display-4 class="q-mt-xl">Course selection</display-4>
          <div class="row q-col-gutter-x-xl q-col-gutter-y-md q-mb-lg">
            <div class="col-12 col-md-6">
              <p class="q-mb-sm">The summer school consists of {{ courses.length }} courses spread over two morning slots and two afternoon slots. Per slot there are three parallel courses of which you can take only one.</p>
            </div>
            <div v-if="trackList.length" class="col-12 col-md-6">
              <q-banner rounded v-for="t in trackList" :key="t.project.id" class="bg-yellow-2">
                <div class="q-mb-xs text-caption">If you choose to attend all <strong>{{ t.track.name }}</strong> track courses, you can qualify for a {{ t.project.acronym }} grant:</div>
                <div v-for="c in t.courses" class="text-caption">- {{ c.title }}</div>
              </q-banner>
            </div>
          </div>
          <div class="row q-col-gutter-lg">
            <div v-for="slot in slots" :key="slot.id" class="col-12 col-md-6">
              <q-list>
                <q-item-label header>Slot {{ slot.id }}</q-item-label>
                <q-item v-for="course in slot.courses" :key="course.id" tag="label" v-ripple>
                  <q-item-section side top>
                    <q-radio v-model="obj.custom_data.selection[slot.id]" :val="course.id" :color="slot.color" @input="updateCourses(obj.custom_data.selection)"></q-radio>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ course.title }}</q-item-label>
                    <q-item-label caption>{{ course.teachers_str }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
          </div>
        </div>

        <display-4 class="q-mt-xl">Poster session</display-4>
        <p class="q-mb-sm">You can present your research (ideas) to the other participants and to the teachers and other senior people at the conference.<br>Are you planning to present a poster?</p>
        <q-option-group inline v-model="obj.custom_data.poster.present" type="radio" :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]" class="q-mt-sm q-mb-md"></q-option-group>
        <div v-show="obj.custom_data.poster.present">
          <q-input filled v-model="obj.custom_data.poster.title" type="text" :label="'What would be the ' + ((requestType == 'Application') ? 'preliminary' : '') + ' poster title?'" class="q-mb-md"></q-input>
          <q-input filled v-model="obj.custom_data.poster.authors" type="text" :label="'Who are the ' + ((requestType == 'Application') ? 'preliminary' : '') + ' authors?'" class="q-mb-md"></q-input>
          <q-input filled v-model="obj.custom_data.poster.institution" type="text" label="Author affiliation" class="q-mb-md"></q-input>
        </div>

        <display-4 class="q-mt-xl">Accomodation and visum</display-4>
        <p class="q-mb-sm">You can have a 200 euro reduction if you are willing to share a room with somebody else.<br>Are you willing to share a room? <em>(200 euro reduction)</em></p>
        <q-option-group inline v-model="obj.custom_data.room.share" type="radio" :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]" class="q-mt-sm q-mb-md"></q-option-group>
        <div v-show="obj.custom_data.room.share">
          <q-input filled v-model="obj.custom_data.room.mate" type="text" label="With whom would you like to share a room? (if known)" class="q-mb-md"></q-input>
        </div>
        <p class="q-mb-sm">When your application is accepted, will you need a letter of invitation for visum purposes?</p>
        <q-option-group inline v-model="obj.visa_requested" type="radio" :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]" class="q-my-sm"></q-option-group>
        <div v-if="obj.visa_requested">
          <div class="row q-col-gutter-md q-mb-md">
            <q-input filled v-model="obj.custom_data.visa.birthplace" type="text" label="Place of birth" class="col-12 col-md-4"></q-input>
            <q-input filled v-model="obj.custom_data.visa.birthdate" type="text" label="Date of birth" class="col-12 col-md-4">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="obj.custom_data.visa.birthdate" mask="YYYY-MM-DD">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Close" color="primary" flat></q-btn>
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="row q-col-gutter-md">
            <q-input filled v-model="obj.custom_data.visa.nationality" label="Passport nationality" class="col-12 col-md-4"></q-input>
            <q-input filled v-model="obj.custom_data.visa.passport_number" label="Passport number" class="col-12 col-md-4"></q-input>
            <q-input filled v-model="obj.custom_data.visa.passport_expiration_date" label="Passport expiration date" class="col-12 col-md-4">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="obj.custom_data.visa.passport_expiration_date" mask="YYYY-MM-DD">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Close" color="primary" flat></q-btn>
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
        </div>

        <display-4 class="q-mt-xl">ACACES veteran</display-4>
        <p class="q-mb-sm">Tell us if you have been in any previous ACACES editions.</p>
        <div class="q-gutter-sm q-mt-sm q-mb-md"">
          <q-checkbox v-for="y in years" :key="y" v-model="obj.custom_data.history" :val="y" :label="'' + y"></q-checkbox>
        </div>

        <div class="text-center">
          <q-btn unelevated size="16px" @click.prevent="save" :color="(obj.id) ? 'primary' : 'positive'" :disabled="incompleteForm" class="q-my-xl"><span v-if="obj.id">Update</span><span v-else>Submit</span>&nbsp;{{ requestType }}</q-btn>
          <p v-if="incompleteForm" class="text-body2 text-red">Make sure you have included all required information.<br><strong>Missing:</strong><span v-if="!this.obj.custom_data.profile.country"> - country</span><span v-if="!this.obj.custom_data.profile.institution"> - affiliation</span><span v-if="!this.obj.custom_data.profile.gender"> - gender</span><span v-if="!this.obj.custom_data.motivation"> - motivation</span><span v-if="this.obj.courses.length < this.slots.length"> - course selection</span></p>
        </div>
      </div>

    </q-card-section>

    <q-card-section v-if="obj && obj.id" class="text-caption">
      <q-separator class="q-mb-lg"></q-separator>
      <strong>{{ requestType }} number:</strong> {{ obj.id }}<br>
      <strong>{{ requestType }} date:</strong> {{ obj.createdAt.format('LLLL') }}<br>
      <strong>Last updated:</strong> {{ obj.updatedAt.format('LLLL') }}<br>
      <strong>Appplication status:</strong>&nbsp;<q-badge v-if="obj.status == 0" color="yellow" text-color="dark" label="Well received"></q-badge><q-badge v-else-if="obj.status == 1" color="yellow" text-color="dark" label="Waiting for an answer from the student"></q-badge><q-badge v-else-if="obj.status == 2" color="positive" text-color="white" label="Accepted by student"></q-badge><q-badge v-else-if="obj.status == 9" color="negative" text-color="white" label="Rejected by student"></q-badge><br>
      <strong>Grant status:</strong>&nbsp;<span v-if="obj.custom_data.grant_requested"><q-badge v-if="!granted(obj.id)" color="yellow" text-color="dark" label="Pending decision"></q-badge><q-badge v-else color="positive" text-color="white" label="Assigned"></q-badge></span><q-badge v-else color="light-blue-1" text-color="dark" label="No grant requested"></q-badge>
    </q-card-section>

  </q-card>
{% endverbatim %}
</script>
