<script type="text/x-template" id="v-registration">
{% verbatim %}
  <q-card class="hipeac__card q-my-lg" :class="{'q-pa-md': $q.screen.gt.xs }">

    <q-card-section v-if="obj" class="q-my-none q-py-none">
      <q-banner v-if="obj.id && obj.status == 1 && obj.accepted === null" rounded class="bg-deep-orange text-white">
        <template v-slot:avatar>
          <q-icon name="check" size="md" />
        </template>
        You have been admitted into the HiPEAC Summer School, but in order to complete your registration you need to accept your invitation first. You can also reject the invitation, of course. <span v-if="obj.grant_requested"><br><strong v-if="obj.grant_assigned">Please note that your grant request has been <u>accepted</u>.</strong><strong v-else-if="obj.grant_assigned == null">Please note that <u>no decision has been made yet</u> about your grant request.</strong><strong v-else>Please note that your grant request has been <u>rejected</u>.</strong></span>
        <template v-slot:action>
          <q-btn @click="accept" flat label="Accept invitation" color="white" />
          <q-btn @click="reject" flat label="Reject" color="white" />
        </template>
      </q-banner>

      <q-banner v-if="obj.id && obj.accepted" rounded class="bg-positive text-white">
        <template v-slot:avatar>
          <q-icon name="check" size="md" />
        </template>
        You have accepted your invitation to the HiPEAC Summer School. See you soon in {{ event.city }}! <strong v-if="obj.grant_assigned">Remember that as a grant recipient you only need to take care of the travel expenses, the rest is already covered.</strong> <span v-else-if="obj.grant_requested"><br><strong v-if="obj.grant_assigned">Please note that your grant request has been <u>accepted</u>.</strong><strong v-else-if="obj.grant_assigned == null">Please note that <u>no decision has been made yet</u> about your grant request.</strong><strong v-else>Please note that your grant request has been <u>rejected</u>.</strong></span>
      </q-banner>

      <q-banner v-if="obj.id && obj.accepted === false" rounded class="bg-red text-white">
        <template v-slot:avatar>
          <q-icon name="close" size="md" />
        </template>
        You have rejected your invitation to the HiPEAC Summer School. Contact us if you change your mind.
      </q-banner>

      <div class="row q-col-gutter-md">
        <div class="col-12">
          <q-banner v-if="obj.id && obj.accepted && obj.assigned_hotel" rounded class="bg-grey-3 text-dark q-mt-md">
            <template v-slot:avatar>
              <q-icon name="meeting_room" size="md" />
            </template>
            Your hotel:
            <strong v-if="obj.assigned_hotel == 14">Silva Splendid Spa Hotel</strong>
            <strong v-else-if="obj.assigned_hotel == 15">Silva Splendid Spa Hotel</strong>
            <strong v-else-if="obj.assigned_hotel == 11">Ambasciatori Place Hotel</strong>
            <strong v-else-if="obj.assigned_hotel == 13">Hotel San Giorgio</strong>
            <strong v-else-if="obj.assigned_hotel == 12">Hotel Imperiale</strong>
            <strong v-else-if="obj.assigned_hotel == 16">Hotel Touring</strong>
            <span v-else>(not assigned yet)</span>
          </q-banner>
        </div>
      </div>
    </q-card-section>

    <!--<q-card-section>
      <div class="row q-col-gutter-x-xl q-col-gutter-y-md">
        <div class="col-12 col-md-6">
          <display-3>To stimulate maximum interaction between lecturers and participants, the steering committee of the Summer School will only admit a <strong>limited number of participants</strong>. All applications will be reviewed to find a fair distribution of the available places among all qualified applicants from the various countries and institutions. In case of conflict, preference will be given to the participants who filed their application earlier. Applications are due <strong>June 30, 2021</strong>. Their participation is guaranteed after the organizers have received the registration fee. They will then receive detailed information about the summer school (detailed schedule, list of participants, important addresses and phone numbers, procedure to submit a poster, etc.).</display-3>
        </div>
        <div class="col-12 col-md-6">
          <p>Make your application as soon as possible <strong>by filling in the application form below</strong>. After you have been admitted to the summer school you will be invited to complete your registration and to pay the registration fee of <span class="text-no-wrap">€ 1.000</span> (<span class="text-no-wrap">€ 800</span> in a shared room).</p>
          <p>The summer school is open to anybody (members of HiPEAC institutions, and others). There is a limited number of grants that cover the full registration fee for PhD students from HiPEAC institutions. If you are a member of a HiPEAC institution and you want to apply for such a grant, please indicate this in the application form.</p>
          <p>For special questions about the admission procedure, please contact <a href="mailto:acaces@hipeac.net">acaces@hipeac.net</a></p>
        </div>
      </div>
    </q-card-section>-->

    <div v-if="!user.isAuthenticated" class="row justify-center q-my-lg">
      <div class="col-12 col-md-4">
        <q-card-section class="q-ma-sm q-mb-none">
          <display-lg>You need to log in to your HiPEAC account to register for an event.</display-lg>
          <a href="{% endverbatim %}{% url 'account_login' %}?next={{ request.path }}{% verbatim %}" class="btn btn-outline-primary">Log in</a>
        </q-card-section>
      </div>
    </div>

    <q-card-section v-else-if="obj !== undefined">
      <q-banner rounded inline-actions class="bg-orange-1 text-dark q-py-md q-mb-lg text-body2" v-if="event">
        <template v-slot:avatar><q-icon name="help_outline" size="sm" /></template>
        The Summer School has a fee of {{ event.fee - event.shared_room_discount }} EUR if you are considering to share a room, and {{ event.fee }} EUR for a single room. <strong v-if="event.grant_request_deadline && !grantRequestDeadlinePassed"><br>You will be eligible for a grant if you register before {{ event.grant_request_deadline }}.</strong>
      </q-banner>

      <div v-if="obj">

        <div v-if="obj.id && obj.accepted">
          <display-2 class="q-my-lg">Travel information</display-2>
          <display-4 class="q-mt-lg">Arriving to Fiuggi</display-4>
          <p class="q-my-sm">What flights/trains to Rome will you take? Bus to Fiuggi?</p>
          <div class="row q-col-gutter-md">
            <q-input filled v-model="obj.arrival_flight" type="text" label="Flight/train to Rome (FCO/CIA/Termini  DD/MM hh:mm)" class="q-mt-sm q-mb-md col-12 col-md" @input="save"></q-input>
            <q-select filled emit-value map-options v-model="obj.arrival_bus" :options="busOptions['acaces']" label="Bus to Fiuggi" class="q-mt-sm q-mb-md col-12 col-md" @input="save"></q-select>
            <q-input filled v-model="obj.phone_number" type="text" label="Your phone number" class="q-mt-sm q-mb-md col-12 col-md" @input="save"></q-input>
          </div>
          <display-4 class="q-mt-lg">Returning home</display-4>
          <p class="q-my-sm">What flights/trains will you take? What bus would you need to take?</p>
          <div class="row q-col-gutter-md">
            <q-input filled v-model="obj.departure_flight" type="text" label="Return (FCO/CIA/Termini  DD/MM hh:mm)" class="q-mt-sm q-mb-md col-12 col-md" @input="save"></q-input>
            <q-select filled emit-value map-options v-model="obj.departure_bus" :options="busOptions['home']" label="Bus back to Rome" class="q-mt-sm q-mb-md col-12 col-md" @input="save"></q-select>
            <q-input filled v-model="obj.phone_number" type="text" label="Your phone number" class="q-mt-sm q-mb-md col-12 col-md" @input="save"></q-input>
          </div>
        </div>

        <display-2 class="q-my-lg">Your application</display-2>

        <display-4>Personal information</display-4>
        <p class="q-mb-sm">Tell us a little bit about you: <span class="text-red">*</span></p>
        {% endverbatim %}
        <div class="row q-col-gutter-md q-mb-md">
          <q-input disable filled type="text" label="First name" value="{{ user.first_name }}" class="col-12 col-md-4"></q-input>
          <q-input disable filled type="text" label="Last name" value="{{ user.last_name }}" class="col-12 col-md-8"></q-input>
        </div>
        <q-input disable filled type="text" label="Email address" value="{{ user.email }}" class="q-mb-md"></q-input>
        {% verbatim %}
        <q-select filled options-dense v-model="obj.custom_data.profile.country" :options="countryOptions" label="Country"></q-select>
        <div class="q-gutter-sm q-mt-sm q-mb-md"">
          <q-checkbox v-model="obj.custom_data.profile.student" label="I'm a student"></q-checkbox>
          <q-checkbox v-model="obj.custom_data.profile.industry" label="I'm coming from industry"></q-checkbox>
          <q-checkbox v-model="obj.custom_data.profile.member_institution" label="I'm coming from a HiPEAC member institution"></q-checkbox>
        </div>
        <q-input filled v-model="obj.custom_data.profile.institution" type="text" label="Name of your institution (university, company...)" class="q-mb-md"></q-input>
        <div v-show="obj.custom_data.profile.student">
          <q-input filled v-model="obj.custom_data.profile.advisor" type="text" label="Name of your advisor (only for HiPEAC PhD students)" class="q-mb-md"></q-input>
        </div>
        <p class="q-mb-sm">Gender:</p>
        <q-option-group inline v-model="obj.custom_data.profile.gender" type="radio" :options="[{label: 'Male', value: 'male'}, {label: 'Female', value: 'female'}, {label: 'Non-binary', value: 'non_binary'}]"></q-option-group>

        <display-4 class="q-mt-lg">Motivation</display-4>
        <p class="q-mb-sm">What is your main motivation to follow the summer school? <span class="text-red">*</span></p>
        <q-input filled autogrow v-model="obj.motivation" type="textarea" class="q-mt-sm q-mb-md"></q-input>
        <p class="q-mb-sm">Are you requesting a grant? <small v-if="grantRequestDeadlinePassed">(deadline: {{ event.grant_request_deadline }})</small></p>
        <q-option-group inline v-model="obj.grant_requested" type="radio" :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]" :disable="grantRequestDeadlinePassed"></q-option-group>

        <div v-if="courses.length">
          <display-4 class="q-mt-lg">Course selection</display-4>
          <div class="row q-col-gutter-x-xl q-col-gutter-y-md q-mb-lg">
            <div class="col-12 col-md-6">
              <p class="q-mb-sm">The summer school consists of {{ courses.length }} courses spread over two morning slots and two afternoon slots. Per slot there are three parallel courses of which you can take only one.</p>
            </div>
          </div>
          <div class="row q-col-gutter-lg">
            <div v-for="slot in slots" :key="slot.id" class="col-12 col-md-6">
              <q-list>
                <q-item-label header>Slot {{ slot.id }}</q-item-label>
                <q-item v-for="course in slot.courses" :key="course.id" tag="label" v-ripple>
                  <q-item-section side top>
                    <q-radio v-model="obj.custom_data.selection[slot.id]" :val="course.id" :color="slot.color" @input="updateCourses(obj.custom_data.selection)"></q-radio>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ course.title }}</q-item-label>
                    <q-item-label caption>{{ course.teachers_str }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
          </div>
        </div>

        <display-4 class="q-mt-lg">Poster session</display-4>
        <p class="q-mb-sm">You can present your research (ideas) to the other participants and to the teachers and other senior people at the summer school.<br>Are you planning to present a poster?</p>
        <q-btn v-if="obj.poster" no-caps outline color="primary" @click="obj.poster = null" label="I will not be presenting a poster after all"></q-btn>
        <q-btn v-else no-caps outline color="primary" @click="addPoster(obj)" label="Yes"></q-btn>
        <div v-if="obj.poster" class="q-mt-md q-mb-lg">
          <q-input filled v-model="obj.poster.title" type="text" :label="'What would be the ' + ((requestType == 'Application') ? 'preliminary' : '') + ' poster title?'" class="q-mb-md"></q-input>
          <q-input filled v-model="obj.poster.authors" type="text" :label="'Who are the ' + ((requestType == 'Application') ? 'preliminary' : '') + ' authors?'" class="q-mb-md"></q-input>
          <div v-if="obj.poster.abstract" class="row q-col-gutter-lg">
            <div class="col-12 col-md-6">
              <p class="text-body2">Uploaded poster abstract:<br><a :href="obj.poster.abstract">{{ obj.poster.abstract }}</a></p>
              <p class="text-body2">The abstract is maximum 4 pages in <strong>PDF format</strong> without page numbers. <a href="/media/public/drop-box/acaces.zip" download><strong>This file</strong></a> contains the LaTeX style file and a template for Word.</p>
            </div>
            <div class="col-12 col-md-6">
              <q-uploader ref="uploader" flat auto-upload no-thumbnails :factory="uploaderFactory" accept=".pdf" :max-files="1" @failed="uploadFailed" @rejected="uploadRejected" @uploaded="uploaded" label="Update poster abstract" color="grey-7" class="full-width bg-grey-2" />
            </div>
          </div>
          <div v-else-if="obj.poster.abstract !== undefined" class="row q-col-gutter-lg">
            <div class="col-12 col-md-6">
              <p class="text-body2">We will produce proceedings with 1-4 page abstracts per poster. So, the participants can in advance have a look at the book of abstracts in order to get an idea about the interests of the other participants. After the summer school, it can be used to find back information about the poster presentations.</p>
              <p class="text-body2">The abstract is maximum 4 pages in <strong>PDF format</strong> without page numbers. <a href="/media/public/drop-box/acaces.zip" download><strong>This file</strong></a> contains the LaTeX style file and a template for Word.</p>
            </div>
            <div class="col-12 col-md-6">
              <q-uploader ref="uploader" flat auto-upload no-thumbnails :factory="uploaderFactory" accept=".pdf" :max-files="1" @failed="uploadFailed" @rejected="uploadRejected" @uploaded="uploaded" label="Upload poster abstract in PDF" color="grey-7" class="full-width bg-grey-2" />
            </div>
          </div>
          <div v-else-if="obj.poster.abstract == undefined" class="text-grey-7">
            <small>Please save your registration before uploading a poster abstract.</small>
          </div>
        </div>

        <display-4 class="q-mt-lg">Accomodation and visum</display-4>
        <p class="q-mb-sm">You can have a <strong>{{ event.shared_room_discount }} euro reduction</strong> if you are willing to share a room with somebody else.<br>Are you willing to share a room?</p>
        <q-option-group inline v-model="obj.roommate_requested" type="radio" :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]" class="q-mt-sm q-mb-md"></q-option-group>
        <div v-show="obj.roommate_requested">
          <q-input filled v-model="obj.roommate_notes" type="text" label="With whom would you like to share a room? (if known)" class="q-mb-md"></q-input>
        </div>
        <p class="q-mb-sm">When your application is accepted, will you need a letter of invitation for visum purposes?</p>
        <q-option-group inline v-model="obj.visa_requested" type="radio" :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]" class="q-my-sm"></q-option-group>
        <div v-if="obj.visa_requested">
          <div class="row q-col-gutter-md q-mb-md">
            <q-input filled v-model="obj.custom_data.visa.birthplace" type="text" label="Place of birth" class="col-12 col-md-4"></q-input>
            <q-input filled v-model="obj.custom_data.visa.birthdate" type="text" label="Date of birth" class="col-12 col-md-4">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="obj.custom_data.visa.birthdate" mask="YYYY-MM-DD">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Close" color="primary" flat></q-btn>
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="row q-col-gutter-md">
            <q-input filled v-model="obj.custom_data.visa.nationality" label="Passport nationality" class="col-12 col-md-4"></q-input>
            <q-input filled v-model="obj.custom_data.visa.passport_number" label="Passport number" class="col-12 col-md-4"></q-input>
            <q-input filled v-model="obj.custom_data.visa.passport_expiration_date" label="Passport expiration date" class="col-12 col-md-4">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="obj.custom_data.visa.passport_expiration_date" mask="YYYY-MM-DD">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Close" color="primary" flat></q-btn>
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
        </div>

        <display-4 class="q-mt-lg">ACACES veteran</display-4>
        <p class="q-mb-sm">Tell us if you have been in any previous ACACES editions.</p>
        <div class="q-gutter-sm q-mt-sm q-mb-md"">
          <q-checkbox v-for="y in years" :key="y" v-model="obj.history" :val="y" :label="'' + y"></q-checkbox>
        </div>

        <div class="text-center">
          <q-btn unelevated size="16px" @click.prevent="save" :color="(obj.id) ? 'primary' : 'positive'" :disabled="incompleteForm" class="q-my-xl"><span v-if="obj.id">Update</span><span v-else>Submit</span>&nbsp;{{ requestType }}</q-btn>
          <p v-if="incompleteForm" class="text-body2 text-red">Make sure you have included all required information.<br><strong>Missing:</strong><span v-if="!this.obj.custom_data.profile.country"> - country</span><span v-if="!this.obj.custom_data.profile.institution"> - affiliation</span><span v-if="!this.obj.custom_data.profile.gender"> - gender</span><span v-if="!this.obj.motivation"> - motivation</span><span v-if="this.obj.courses.length < this.slots.length"> - course selection</span></p>
        </div>
      </div>

    </q-card-section>

    <!--<q-card-section v-if="obj && obj.id" class="text-caption">
      <q-separator class="q-mb-lg"></q-separator>
      <strong>{{ requestType }} number:</strong> {{ obj.id }}<br>
      <strong>{{ requestType }} date:</strong> {{ obj.created.format('LLLL') }}<br>
      <strong>Last updated:</strong> {{ obj.updated.format('LLLL') }}<br>
      <strong>Appplication status:</strong>&nbsp;<q-badge v-if="obj.status == 0" color="yellow" text-color="dark" label="Well received"></q-badge><q-badge v-else-if="obj.status == 1 && obj.accepted == null" color="yellow" text-color="dark" label="Waiting for an answer from the student"></q-badge><q-badge v-else-if="obj.accepted" color="positive" text-color="white" label="Accepted by student"></q-badge><q-badge v-else-if="!obj.accepted" color="negative" text-color="white" label="Rejected by student"></q-badge><br>
      <strong>Grant status:</strong>&nbsp;<span v-if="obj.grant_requested"><q-badge v-if="obj.grant_assigned == null" color="yellow" text-color="dark" label="No decision"></q-badge><q-badge v-else-if="!obj.grant_assigned" color="negative" text-color="dark" label="Grant request rejected"></q-badge><q-badge v-else color="positive" text-color="white" label="Accepted"></q-badge></span><q-badge v-else color="light-blue-1" text-color="dark" label="No grant requested"></q-badge>
    </q-card-section>-->

  </q-card>
{% endverbatim %}
</script>
