{% extends 'layout.html' %}

{% load compress %}
{% load hipeac %}


{% block head_title %}{{ profile.name }} - {{ block.super }}{% endblock %}

{% block subtitle %}{{ profile.name }}{% endblock %}

{% block submenu %}
    <li class="nav-item">
        <a is="router-link" :to="{name: 'about'}" class="nav-link" exact>About</a>
    </li>
    <li class="nav-item" v-if="publications && publications.length">
        <a is="router-link" :to="{name: 'publications'}" class="nav-link">Publications</a>
    </li>
    {% if user.is_authenticated and user.id == profile.user_id %}
        <li class="nav-item">
            <a href="{% url 'user_profile' %}" class="nav-link"><i class="material-icons mr-1">edit</i>Edit</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="urls" data-publications="{% url 'v1:user-publications' profile.user_id %}" class="container">
        <div class="row">
            <div class="col-12 col-md-2 d-none d-md-block">
                {% if profile.institution.images %}
                    <a href="{{ profile.institution.get_absolute_url }}" class="d-block mt-md-4 mb-5">
                        <img src="{{ profile.institution.images.md }}" class="max-90">
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-10">
                <div is="router-view"></div>
            </div>
        </div>
        <div is="videos-row" url="{% url 'v1:user-videos' profile.user_id %}"></div>
        {% if internship_applications.count > 0 %}
            <div class="row">
                <div class="col-12 col-lg-2">
                    <h5 class="display-sm mt-4 mb-1">HiPEAC Industrial PhD Internships</h5><hr>
                </div>
                <div class="col-12 col-lg-10">
                    {% for application in internship_applications %}
                    <div class="hipeac-card">
                        <a href="{{ application.internship.institution.get_absolute_url }}" class="float-right inherit">
                            <img src="{{ application.internship.institution.images.sm }}" class="logo-sm mb-3 ml-3">
                        </a>
                        <p>
                            <span class="label lightest radius">{{ application.available_from|date:'N Y' }} - {{ application.available_to|date:'N Y' }}</span><br>
                            <strong>{{ application.internship.title }} @ {{ application.internship.institution }}</strong>
                        </p>
                        {% if application.summary %}
                            <div class="marked text-sm">
                                {{ application.summary | markdown }}
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block vue_templates %}
    {% include './v-about.html' with id='v-about' profile=profile %}
    {% include './v-publications.html' with id='v-publications' %}
{% endblock %}

{% block scripts %}
{% compress js inline %}
    <script>
        var Store = new Vuex.Store({
            state: {
                publications: null
            },
            mutations: {
                fetchPublications: function (state) {
                    ajax().get($('#urls').data('publications')).done(function (res) {
                        state.publications = mapper().publications(res);
                    });
                }
            }
        });

        var AboutView = {
            template: '#v-about'
        };

        var PublicationsView = {
            template: '#v-publications',
            data: function () {
                return {
                    q: ''
                }
            },
            computed: _.extend(
                Vuex.mapState(['publications']), {
                filteredIds: function () {
                    if (!this.publications) return [];
                    return _.pluck(filterMultiple(this.publications, this.q), 'id');
                }
            }),
            methods: {
                updateQuery: function (val) {
                    this.q = val;
                }
            },
            created: function () {
                EventHub.$on('query-changed', this.updateQuery);
            }
        };

        var Router = new VueRouter({
            linkActiveClass: 'active',
            routes: [
                {
                    name: 'about',
                    path: '/',
                    pathToRegexpOptions: {strict: true},
                    component: AboutView
                },
                {
                    name: 'publications',
                    path: '/publications/',
                    pathToRegexpOptions: {strict: true},
                    component: PublicationsView
                }
            ]
        });

        new Vue({
            el: '#vue',
            store: Store,
            router: Router,
            computed: _.extend(
                Vuex.mapState(['publications']), {
            }),
            created: function () {
                $.when(
                    this.$store.commit('fetchPublications')
                );
            }
        });
    </script>
{% endcompress %}
{% endblock %}

{% block structured_data %}
{% endblock %}
