{% load hipeac %}


<script type="text/x-template" id="{{ id }}">
    <div class="hipeac-card">
        <div class="row">
            <div class="col-12 col-md-8 pr-md-5">
                {% if profile.bio %}
                    <div class="marked">
                        {{ profile.bio | markdown }}
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-4">
                <hr class="my-4 d-md-none">
                {% include 'components/links.html' with title='External links' items=profile.links %}
            </div>
        </div>
    </div>
</script>
