{% load hipeac %}


<script type="text/x-template" id="{{ id }}">
    <div class="hipeac-card">
        <div class="row">
            <div class="col-12 col-md-8 pr-md-5">
                {% if profile.membership %}
                    <h5 class="catchphrase mb-3">HiPEAC <strong>{{ profile.membership }}</strong>{% if profile.membership_date %} since {{ profile.membership_date | date:'F Y' }}{% endif %}.</h5>
                {% endif %}
                {% if profile.bio %}
                    <div class="marked">
                        {{ profile.bio | markdown }}
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-4">
                <hr class="my-4 d-md-none">
                {{ profile.topics | metadata_badges:'Topics of interest' }}
                {{ profile.application_areas | metadata_list:'Application areas' }}
                {% include 'components/links.html' with title='External links' items=profile.get_ordered_links %}
            </div>
        </div>
    </div>
</script>
