{% extends 'pdf.html' %}
{% load staticfiles %}
{% load hipeac %}

{% block content %}
    {% for job in jobs %}
        <div class="job-poster" style="height: 23cm; overflow-y: hidden">
            <br>
            {% if job.institution.image %}
                <img src="https://www.hipeac.net/assets/{{ job.institution.image }}" class="right" style="max-width: 150px; max-height:65px;">
            {% endif %}
            <br>
            <strong class="more-info">hipeac.net/jobs/{{ job.id }}</strong>
            <h2><strong>{{ job.institution.short_name }}</strong><br>{% if job.institution.city %}{{ job.institution.city }}, {% endif %}{{ job.institution.country.name }}</h2>
            <h1 style="font-size:20px">{{ job.title }}</h1>
            <ul>
                <li><strong>Deadline:</strong> {{ job.deadline }}</li>
                <li><strong>Career level:</strong> {{ job.profiles_string }}</li>
                <li><strong>Keywords:</strong> {{ job.topics_string }}</li>
            </ul>
            <div class="md" style="text-align: justify;">
                {{ job.description | truncate:2500 | markdown }}
            </div>
        </div>
        <div><small><strong>_____<br>Find more at hipeac.net/jobs/{{ job.id }}</strong></small></div>
        <div class="break"></div>
    {% endfor %}
{% endblock %}
