{% load hipeac %}


<script type="text/x-template" id="{{ id }}">
    <div>
        <display-lg>{{ blck.header }}</display-lg>
        <div class="row">
            <div class="col-12 d-flex align-items-stretch">
                <div class="hipeac-card">
                    <div class="marked catchphrase-first">{{ blck.content | markdown }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-stretch">
                <div class="hipeac-card">
                    <a href="{% url 'editor_create' 'job' %}" class="btn btn-sm btn-block btn-primary"><i class="material-icons mr-1">add</i>Add an internship <span class="d-none d-inline-block">to our portal</span></a>
                    <hr class="my-4">
                    <display-sm class="mb-3">{{ recruiters.header }}</display-sm>
                    <div class="marked">{{ recruiters.content | markdown }}</div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-stretch">
                <div class="hipeac-card">
                    <a is="router-link" :to="{name: 'jobs', query: {q: 'internship'}}" class="btn btn-sm btn-block btn-outline-secondary" exact><i class="material-icons mr-1">search</i>Find internships <span class="d-none d-inline-block">on our portal</span></a>
                    <hr class="my-4">
                    <display-sm class="mb-3">{{ students.header }}</display-sm>
                    <div class="marked">{{ students.content | markdown }}</div>
                </div>
            </div>
        </div>
    </div>
</script>
