{% extends 'layout_simple.html' %}

{% block content %}
    <h1>Ops, a server error.</h1>
    <p>You know how computers are: they just do what you tell them... so we probably made a mistake somewhere.</p>
    <p>We will start working on a fix asap.</p>
    {% if request.sentry.id %}
        <p class="text-sm text-danger">
            <span>Error reference:</span><br>
            <strong>{{ request.sentry.id }}</strong>
        </p>
    {% endif %}
    <hr>
    <p class="mb-0">
        <a href="/" class="text-secondary">
            <i class="material-icons sm mr-2">arrow_back</i>
            <small>Back to hipeac.net</small>
        </a>
    </p>
{% endblock %}
