{% load account %}


{% if not user.is_authenticated %}

<li>
    <a href="{% url 'account_login' %}?next={{ request.path }}">Log in</a>
</li>
<li class="has-form">
    <a href="{% url 'account_signup' %}" class="round secondary button"><i class="in fa fa-plus"></i>Join</a>
</li>

{% else %}

<div class="dropdown">
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{ user.nice_avatar }}" class="avatar"><span>{% user_display user %}</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'user' user.username %}" class="dropdown-item">My profile</a>
        <a href="#" class="dropdown-item">Settings</a>
        {% if user.is_staff %}
            <div class="dropdown-divider"></div>
            <a href="{% url 'admin:index' %}" class="dropdown-item">Admin area</a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a href="{% url 'account_logout' %}" class="dropdown-item"><i class="in fa fa-close"></i>Logout</a>
    </div>
</div>

{% endif %}
