{% extends 'base.html' %}

{% load compress %}
{% load static %}


{% block main %}
    <div id="vue">
        <div class="hipeac subheader sticky-top mb-3 mb-md-4">
            {% verbatim %}
            <div v-cloak v-if="obj">
                <div v-if="ui.status == 'waiting'" class="alert alert-header alert-light">
                    <i class="material-icons sm mr-2">&#xE876;</i>
                    <small>Last updated: {{ obj.updated_at | moment('lll') }}</small>
                </div>
                <div v-else-if="ui.status == 'saving'" class="alert alert-header bg-yellow">
                    <i class="material-icons sm mr-2">&#xE161;</i>
                    <small>Saving data...</small>
                </div>
                <div v-else-if="ui.status == 'saved'" class="alert alert-header alert-light text-success">
                    <i class="material-icons sm mr-2">&#xE877;</i>
                    <small><strong>Saved!</strong></small>
                </div>
                <div v-else-if="ui.status == 'error'" class="alert alert-header alert-danger">
                    <i class="material-icons sm mr-2">&#xE14B;</i>
                    <small><strong>Error: {{ ui.error }}</strong></small>
                </div>
            </div>
            {% endverbatim %}
            <div class="d-md-flex justify-content-md-between align-items-md-end px-4">
                <h3 class="title my-1">
                    {% block subtitle %}HiPEAC Content editor{% endblock %}
                </h3>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Editor</a>
                    </li>
                    <li v-cloak v-if="obj" class="nav-item">
                        <a :href="obj.href" class="nav-link">View on hipeac.net</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="urls" data-base="{{ base_url }}" data-obj-id="{{ obj_id }}" class="container-fluid">
            <div class="row d-flex align-content-stretch">
                <div class="col-12 col-lg-6 scrollable">
                    <router-view></router-view>
                </div>
                <div v-cloak v-if="obj" class="col-12 col-lg-6 d-none d-md-block scrollable">
                    <div class="hipeac-card bg-light-yellow">
                        <router-view name="preview"></router-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    {% compress js file editor_extras %}
        <script src="{% static 'js/v-forms.js' %}"></script>
        <script src="{% static 'js/components/v-lists-metadata.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block scripts %}
{% compress js file editor %}
    <script>
        var Store = new Vuex.Store({
            state: {
                ui: {
                    status: 'waiting',
                    error: null
                },
                obj: null
            },
            mutations: {
                fetchObject: function (state) {
                    var url = $('#urls').data('base') + $('#urls').data('obj-id') + '/';
                    ajax().get(url).done(function (res) {
                        state.obj = res;
                    });
                },
                fetchOptions: function (state) {
                    var url = $('#urls').data('base') + $('#urls').data('obj-id') + '/';
                    ajax().options(url).done(function (res) {
                        ComponentStore.commit('setOptions', res);
                    });
                },
                startSaving: function (state) {
                    state.ui.status = 'saving';
                },
                endSaving: function (state, obj) {
                    state.obj.updated_at = obj.updated_at;
                    state.obj.href = obj.href;
                    setTimeout(function () {
                        state.ui.status = 'saved';
                        setTimeout(function () { state.ui.status = 'waiting'; }, 2000);
                    }, 1000);
                },
                logError: function (state, err) {
                    state.ui.error = err.responseJSON;
                    state.ui.status = 'error';
                    setTimeout(function () {
                        state.ui.status = 'waiting';
                    }, 15000);
                }
            }
        });

        var EditorView = {
            template: '#v-editor',
            computed: _.extend(
                Vuex.mapState(['obj']), {
            }),
            methods: {
                updateObj: function (e) {
                    var store = this.$store;
                    store.commit('startSaving');
                    ajax().put(this.obj.url, this.obj).done(function (res) {
                        store.commit('endSaving', res);
                    }).fail(function (err) {
                        store.commit('logError', err);
                    });
                }
            },
            created: function () {
                EventHub.$on('form-updated', this.updateObj);
            }
        };

        var PreviewView = {
            template: '#v-preview',
            computed: _.extend(
                Vuex.mapState(['obj']), {
                mark: function () {
                    if (!this.obj) return '';
                    if (_.has(this.obj, 'description')) return marked(this.obj.description, {sanitize: true});
                    if (_.has(this.obj, 'summary')) return marked(this.obj.summary, {sanitize: true});
                    return '';
                }
            }),
        };

        var Router = new VueRouter({
            linkActiveClass: 'active',
            routes: [
                {
                    name: 'editor',
                    path: '/',
                    pathToRegexpOptions: {strict: true},
                    components: {
                        default: EditorView,
                        preview: PreviewView
                    }
                }
            ]
        });

        var app = new Vue({
            el: '#vue',
            store: Store,
            router: Router,
            computed: _.extend(
                Vuex.mapState(['obj', 'ui']), {
            }),
            created: function () {
                $.when(
                    this.$store.commit('fetchOptions'),
                    this.$store.commit('fetchObject')
                );
            }
        });
    </script>
{% endcompress %}
{% endblock %}
