{% extends 'base.html' %}

{% load static %}


{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-4">
                <div class="d-flex justify-content-center mt-5 mb-4">
                    <div class="logo-container">
                        <a href="{% url 'homepage' %}">
                            <img src="{% static 'images/hipeac.svg' %}">
                        </a>
                    </div>
                </div>
                <div class="hipeac-card account-card">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
