{% extends 'base.html' %}

{% load compress %}
{% load hipeac %}
{% load static %}


{% block main %}
    <div id="vue">
        <nav class="hipeac navbar sticky-top navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'homepage' %}">
                    <img src="{% static 'images/hipeac.svg' %}">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link {% active request 'homepage' %}" href="{% url 'homepage' %}">
                                <i class="material-icons sm">&#xE88A;</i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link {% active request 'network,user,institution,project' %}" href="{% url 'network' %}">The Network</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% active request 'events,acaces,conference,csw,roadshow' %}" href="{% url 'events' %}">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% active request 'jobs,job' %}" href="{% url 'jobs' %}">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% active request 'vision' %}" href="{% url 'vision' %}">Vision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% active request 'research' %}" href="{% url 'research' %}">Research</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% active request 'news,article' %}" href="{% url 'news' %}">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% active request 'press' %}" href="{% url 'press' %}">Press room</a>
                        </li>
                    </ul>
                </div>
                {% include '_user_menu.html' %}
            </div>
        </nav>
        <div class="hipeac subheader mb-3 mb-md-5">
            <div class="container d-md-flex justify-content-md-between align-items-md-end">
                <h3 class="title">{% block subtitle %}{% endblock %}</h3>
                <ul class="nav nav-tabs">{% block submenu %}{% endblock %}</ul>
            </div>
        </div>
        {% if messages %}
            <div class="container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content_wrapper %}
            {% block content %}{% endblock %}
        {% endblock %}
        <div class="container my-5">
            <div class="row">
                <div class="col-12">
                    <hr class="my-5">
                </div>
                <div class="col-12">
                    <img class="float-right flag-sm ml-3" src="{% static 'images/eu-flag.svg' %}">
                    <p class="text-sm">
                        <strong>&copy; 2004-{% now 'Y' %} HiPEAC, </strong>
                        <strong>European Network on High Performance and Embedded Architecture and Compilation</strong><br>
                        <span class="color-lightest-text">The HiPEAC project has received funding from the European Union’s Horizon2020 research and innovation programme under grant agreement number 779656.</span>
                    </p>
                    <ul class="list-inline">
                        <li class="list-inline-item m-0">
                            <a href="https://bitbucket.org/elis-eu/hipeac/issues?status=new&status=open" target="_blank">
                                <i class="material-icons sm mr-1">bug_report</i>
                                <small>Report an issue</small>
                            </a>
                        </li>
                        <li class="list-inline-item mx-3">|</li>
                        <li class="list-inline-item mr-3"><a href="/privacy-policy/"><small>Privacy policy</small></a></li>
                        <li class="list-inline-item"><a href="/disclaimer/"><small>Disclaimer</small></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
